[2021-09-12 11:05] fcollonval commented on #1024
@willyyang I released 0.32.3 with the fix.

[2021-09-14 17:28] andrewhli opened #1035 "Tooltip not show on commit button when it is disabled"
Hi,

Here are my steps so far:

1. Created private GitHub SSH key in ~/.ssh (e.g. ~/.ssh/id_x)
2. Cloned remote GitHub repo via Jupyterlab Git UI (sidebar), using the SSH URL (e.g. git@github.com:user/repo.git)
3. Edited the readme in the repo via Jupyterlab
4. Tried to commit, but the option is greyed out. There are console warnings but no errors.
5. Updated - according to krassowski: files need

[2021-09-14 17:31] krassowski commented on #1035
Welcome! You need to add a file to the staging area so that the extension knows which is supposed to be committed. You can do this by hovering over the entries on the "Changed" or "Untracked" list (depending on what you would like to add) which should make a plus (+) icon appear - click on it to add a file and you will be able to commit. Alternatively, use context menu in the file browser  (Git su

[2021-09-14 18:04] andrewhli commented on #1035
Thanks! Adding the files to "Staged" worked perfectly. Any interest to adding this step to the jupyterlab-git Readme? I've been so used to using GitHub desktop, where it only shows the changes and skips over the "Staged" step (not visible to users like me), so I didn't know this was a required step in jupyterlab-git

[2021-09-14 18:08] krassowski commented on #1035
You may like the `simpleStaging` option (see https://github.com/jupyterlab/jupyterlab-git#ui-settings). This step is not surprising to most Git users, but I see how the GUI is not helping currently.

Maybe there should be a tooltip showing up when hovering over the greyed out "Commit" button saying "Add at least one file to the staging area to commit"?

[2021-09-14 18:10] andrewhli commented on #1035
The tooltip makes sense. I'll change this into a feature request and rename the title

[2021-09-15 07:04] fcollonval commented on #1035
Just a note when tackling this:

- An appropriated title is already set to the button
- It is not displayed due to the style `pointer-events: none;` set by material-ui:

![image](https://user-images.githubusercontent.com/8435071/133386196-4557457d-6fa3-44ae-a929-b2d466e31ac9.png)

@andrewhli would like to make a PR to correct this one?

You need to add:

[code]

in the css rules:

https://github.c

[2021-09-16 08:25] fcollonval commented on #1035
Fixed by #1036

[2021-09-16 08:25] #1035 closed

[2021-09-16 18:05] willyyang opened #1038 "Unable to view full Git History of relocated files"
## Description

Unable to view full Git History of files that have been relocated

## Reproduce
[code]

After the above setup, go into the UI, show history on `another_folder/test.txt` and the first 2 commits will not show the text that has been added and the text that has been appended. Only the last commit will show the diff consisting
[code]

## Expected behavior

The expected behavior would be

[2021-09-16 18:08] willyyang commented on #1038
@navn-r

[2021-09-16 21:38] navn-r commented on #1038
Hey @willyyang, I followed the exact same steps (just copied and pasted) that you did, and this is the output I get when:

1. Clicking into `another_folder`
2. Right-clicking `test.txt` and viewing history

![image](https://user-images.githubusercontent.com/59669957/133688764-e38f486c-b6d4-4a46-bca7-4f0aaa98ff27.png)

Internally we call this command to get the single file history:
[code]

Key thin

[2021-09-16 22:31] willyyang commented on #1038
hey @navn-r , this part you're showing with the commit message and sha is fine. It's the right hand side that's showing the diffs that I'm concerned about.
When you click on your `d19001d`, the right hand side will show there's no diff. same with `263f762`.  The following will show in the `e6d4eed` change, where this should have been incrementally shown (via diffs) from the other 2 prior changes.

[2021-09-16 23:29] navn-r commented on #1038
Oh, apologies for the confusion, but I get what you mean now. Thanks for finding this @willyyang

![image](https://user-images.githubusercontent.com/59669957/133697238-14543127-ae5c-48a5-8fe5-523a2a9d4d31.png)

Yea this is a bug, and the diff from clicking a single file commit, should be the same as clicking the file from the entire repository commit.

From what I've found, it seems that this is h

[2021-09-17 06:47] ajila-123 commented on #587
how to update the version of jupyter lab git? wen i checked with server extension it shows version 2.0.0,but jupyterlab  is aking for a higher version of git and after trying all these also still the same version and not able to add gitplus

[2021-09-17 06:48] ajila-123 commented on #587
git command not found - please ensure you have Git > 2 installed

[2021-09-17 06:48] ajila-123 commented on #587
can anyone help pls...I am new to this

[2021-09-17 06:50] fcollonval commented on #1038
Hey, this is a complex problem because it requires knowing the name of the file in a specific commit to be able to get the content. If the renaming happens in the same directory, I pretty sure the result will be the same.

[2021-09-17 07:04] fcollonval commented on #1038
I tested a bit options of the log command.

To sum up, the current behavior is:

[code]

We need to send back the file name that is listed. The trouble is the syntax for rename that makes it hard to get the two paths. So we should switch to use `\x00` delimiter instead of `\n`:

[code]

Or even more `\x00`

[code]

Would like to tackle this one @navn-r ?

[2021-09-17 07:08] fcollonval commented on #587
@ajila-123 please open a new issue and provide the required information (which OS, which JupyterLab version, which git version, which jupyterlab-git version, which package manager).

[2021-09-17 12:44] navn-r commented on #1038
Thanks for the explanation @fcollonval, I can take this one.

Question; For the rename commit, when we want to show the diff, are we still gonna use the renamed commit filename (`src/main.ts` from your example) only? Or should we do something like how VSCode does it, where left side is the old filename, and right side is the new filename?

![image](https://user-images.githubusercontent.com/5966995

[2021-09-20 12:21] fcollonval commented on #1038
I would go for the second option as a rename can also carry some changes (git is actually reported a percentage of changes when it detects a rename). So you are right, the object returns should be more complex. The key `from` like for file status sounds nice to store the original path.

[2021-09-24 07:52] fcollonval opened #1042 "nbdime merge tool integration is missing..."
- nbdime wording is local / base / remote => text will be expressed using that wording (like cell added remotely or cell delete locally). This breaks consistency with a hard to understand wording.
- It seems that nbdime merge tool allow to move the cell (hence the anchor in the cell header). What do to with that... This interacting in an unexpected way with drag-and-drop animation of tabs in Jupyt

[2021-09-24 19:13] sunyuding opened #1043 ""jupyter server extension" is a not valid command"
## Description

`jupyter server extension` is a not valid command. It should be `jupyter serverextension`. Available subcommands: bundlerextension kernel kernelspec lab labextension labhub migrate nbconvert nbextension notebook.

## Reproduce

[code]

## Expected behavior

[code]

## Context

- Python package version:

[code]
[code]
- Extension version:

[code]
- Git version:

[code]
- Operating S

[2021-09-24 20:36] krassowski commented on #1043
@sunyuding thanks for opening the issue. The README is correct - `jupyter server extension` is a valid command for JupyterLab 3.0+ (with `jupyter-server` installed). `jupyter serverextension` is a legacy command for old `notebook` server which is still used by old JupyterLab versions; if you want to learn more I written a summary [here](https://stackoverflow.com/a/67804732/6646912). I would recomm

[2021-09-24 22:08] sunyuding commented on #1043
@krassowski - thanks for your reply. Now it makes sense to me.

[2021-09-26 08:20] fcollonval commented on #1043
Thanks @krassowski for the support. Closing as answered.

[2021-09-26 08:20] #1043 closed

[2021-09-26 08:25] #854 closed

[2021-09-26 08:27] #845 closed

[2021-09-26 08:28] #969 closed

[2021-09-28 22:48] rfox12 commented on #1038
Would the use of `git mv` to rename a file alleviate the need to produce any special handling here?  Basically ensuring git can track the history as expected?

[2021-09-30 07:25] fperez opened #1044 "Support integration with credentials managers, that works also on JupyterHub-deployed JupyterLab instances"
## Is your feature request related to a problem? Please describe.

The issue of easier integration with git credentials management has already been discussed at least in #299 and #348. While the solution of using a local manager is viable for local installations, it's much trickier in remotely hosted Hubs, that are typically Linux instances in the cloud (or similar). In those cases, more advanced

[2021-09-30 07:56] fcollonval commented on #1044
Thanks @fperez for the proposal (and sharing the credential manager core tool).

Did you try to deploy _Git Credential Manager Core_ on the hub infrastructure? It should be possible to add it to the user server image and set it up for them. And this extension should already prompts the user for credentials if needed and then use that manager (although two factors authentication is another story).

[2021-09-30 18:08] sunyuding commented on #968
@fcollonval - I also see such issue on the Oracle Cloud Data Science Notebook Session. The current JupyterLab version is 2.2.6 and I am using jupyterlab-git=0.24.0. Is this performance improvement applied for 0.24.0? Upgrading JupyterLab to 3 is not an option in short.

[2021-09-30 18:13] sunyuding commented on #942
+1

[2021-09-30 22:02] sunyuding opened #1045 "Progress bar to clone repo"
## Is your feature request related to a problem? Please describe.

It could be super slow to clone a repo. Only showing cloning is very confusing to understand whether it is stuck or just take time to download.

## Describe the solution you'd like

A progress bar would helpful if the progress takes time.

## Describe alternatives you've considered

The progress bar could show similar information a

[2021-09-30 22:51] fperez commented on #1044
No, I haven't tested yet deploying GCM inside our hub. My workflow is much more ssh- than https-centric, so for now (given limited time) I'll focus on that aspect, but at least I wanted to drop the link about GCM... We might give it a try just in case, if we do and learn anything useful I'll report back for sure.

For ssh it would be great if the extension could make the `eval "$(ssh-agent -s)` ca

[2021-10-01 02:04] dhirschfeld commented on #1044
In case it's useful, I set up the cache credential helper in my JupyterLab container:
[code]

[2021-10-01 04:44] fperez commented on #1044
Thanks @dhirschfeld! To clarify - what's the setup in your case? Locally running or in the cloud/remote system? And if local, are you starting jupyterlab straight from a terminal, or is it inside a container?  The use case I have in mind is cloud-hosted instances of JupyterLab started by a non-user-controllable JupyterHub, with kubernetes deployment of containers (such that the Unix user is always

[2021-10-01 05:07] dhirschfeld commented on #1044
I'm running JupyterHub on Azure Kubernetes Service using the [`zero-to-jupyterhub-k8s`](https://github.com/jupyterhub/zero-to-jupyterhub-k8s) helm chart so that's the same use-case I think.

The pasted yaml was the config I needed to get the credential cache to actually work after configuring git to use it.

With this setup the user only needs to enter their username/password once in a new contain

[2021-10-01 05:27] fperez commented on #1044
Thanks @dhirschfeld, that's very interesting. Two quick questions:

* What file does the above yaml go into? I'm not very familiar with k8/helm charts, sorry for the naive question...
* Are you using the Git Credential Manager linked above, so that this setup applies to HTTPS clones? Or is it an SSH solution wrapping around ssh-agent?

[2021-10-01 06:44] dhirschfeld commented on #1044
With helm you provide a `values.yaml` file to override the defaults in:
https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/bf65b102e6b7192840e31670aee58be6921b2aa0/jupyterhub/values.yaml#L349

IIUC this doesn't use GCM but instead used the built-in [cache](https://git-scm.com/docs/git-credential-cache) which simply caches the credentials in memory. It's not perfect as users still have to en

[2021-10-01 06:57] fperez commented on #1044
Excellent, thanks! It seems that documenting a combo of this + a clean ssh-agent setup (for those like me who like to use the SSH transport) is probably a good start that will cover many use cases, and we can then keep exploring how to integrate both of those solutions into the extension this repo is about (or update your HTTPS one with the GCM as needed).

Thank you for taking the time to explain

[2021-10-01 08:28] fcollonval commented on #968
@sunyuding Could you be more specific please?

did you try to disable the extension?
What size (in number of files) is the git repository you are working on?
At best could you monitor the call stack as done in the original post (look under _Web Browser Output_)?

[2021-10-01 08:34] fcollonval commented on #1045
Thanks for the suggestion @sunyuding

Heads up it is not gonna be easy to get it right. For example in VS Code, they closed the request saying you can use the process output information: https://github.com/microsoft/vscode/issues/91845

[2021-10-01 08:41] fcollonval commented on #1044
Thanks a lot for sharing your configuration @dhirschfeld

It will use the cache helper as the extension is running all actions by calling git commands in subprocesses.

[2021-10-01 12:14] consideRatio commented on #1044
Ah, perhaps this is a pattern to make slightly easier in projects like https://github.com/jupyter/docker-stacks and https://github.com/pangeo-data/pangeo-docker-images? We could create a folder in /tmp ahead of time, and document that one can configure the following...

[code]

Would it be problematic if that was configured for 3600 by default in jupyter/docker-stacks for example? It feels like a

[2021-10-01 15:39] fperez commented on #1044
@consideRatio that sounds like a great idea, the more streamlined/standard these patterns become, the better (and I hope we can support both SSH- and HTTPS-based workflows, I think they are both legitimate, unless I'm missing something).

I'm curious as to whether there may be any potential issues with this being located in the global `tmp`  with a fixed name, but I'll defer to you all on those de

[2021-10-02 08:46] fcollonval commented on #1044
This is a good question. @dhirschfeld what was the reason behind using the `/tmp` folder instead of using the default location (aka `~/.git-credential-cache/` if it exists otherwise `$XDG_CACHE_HOME/git/credential/socket`).

@consideRatio is `git` available by default in the image? It could indeed make sense to set the cache helper by default. And definitely documenting it would be great.

[2021-10-02 09:56] dhirschfeld commented on #1044
My setup may not be optimal - it was just what I could get working quickly. IIRC I used `/tmp` due to permission errors. My `~/` is a PVC backed by an Azure Files SMB share. I don't think I tried very hard to get it working before resorting to `/tmp`. Details are a bit hazy, but the point is, there may well be better ways of achieving the same thing - particularly since I'm fairly clueless about l

[2021-10-03 07:18] fcollonval commented on #1044
Thanks a lot for the detailed answer @dhirschfeld

[2021-10-03 15:25] consideRatio commented on #1044
For this github repository, what are the relevant action points to consider?

I suggest, to close this issue, let's:
- [ ] Document that https://git-scm.com/docs/git-credential-cache can be useful.
  I think it could be reasonable to have a "Git settings" topic where this is described [in the README.md next to other types of settings](https://github.com/jupyterlab/jupyterlab-git#settings).

[2021-10-04 05:33] yuvipanda commented on #1044
(haven't read through the whole issue yet...)

One major concern with use in JupyterHubs is the 'admin access' feature. This allows anyone with admin access on the hub to basically 'access your server' at any time, even when you are not using it. After that, they can 'access server' to become you, dump memory of the ssh-agent and extract private key (https://www.netspi.com/blog/technical/network-p

[2021-10-04 06:04] fperez commented on #1044
Thanks @yuvipanda! The admin feature worried me while the key was live in the agent, but I figured that could be manageable with some caveats. But I hadn't thought of the 2nd attack vector, which in some sense is worse, as the trap can be set and go off for the unsuspecting user the first time they use ssh-agent.

Are there similar attack options with the HTTPS alternatives, using either the built

[2021-10-04 06:39] yuvipanda commented on #1044
Yeah, the bashrc type attack can execute arbitrary code so nothing is immune.

[2021-10-04 06:55] fperez commented on #1044
Fyundamentally the problem with the admin feature is that it's a quasi free-for-all "tons of people can be  root" with minimal safeguards. On hosted systems, we typically think of root as a tiny set of operators who follow very strict protocols- I know root at an HPC center can do anything with my account, but I also trust that they don't very strongly...

We really need to be able to offer much m

[2021-10-04 07:32] yuvipanda commented on #1044
Yep, this is absolutely the problem.

I'm not sure, nowhere that I am aware of. But given that we allow arbitrary code execution, i think super fine grained controls once you grant 'access server' are going to be difficult

[2021-10-04 07:37] fperez commented on #1044
I guess I meant fine-grained in the sense of when/how that access is granted, not what it offers, sorry for the lack of precision. Right now that access is persistent and global. I think the problems would be mitigated by a TeamViewer-like approach, where you know when you open your system to someone else that it's open, and you can close that door any time.

There's the added complication that in

[2021-10-04 12:10] #1038 closed

[2021-10-10 13:19] my-acc-gh commented on #1023
hello @fcollonval, can I work on this?

[2021-10-10 13:34] fcollonval commented on #1023
Sure don't hesitate to open a PR early for discussion or if you need help.

[2021-10-12 12:47] jbacheli commented on #310
+1

This would be an interesting feature to minimise conflicts for users who are not comfortable with command lines.

[2021-10-25 22:43] sunyuding opened #1050 "Is there a list of test cases?"
## Is your feature request related to a problem? Please describe.

I integrated the git extension into our Data Science platform. I want to check if there is a list of full test cases that could run to make sure the extension works as expected.

## Describe the solution you'd like

A list of test cases to run manually to make sure the UI operations are correct.

## Describe alternatives you've con

[2021-11-04 05:29] avishmehta68710 commented on #985
Hey
i think this is already implemented
![image](https://user-images.githubusercontent.com/69706506/140262779-c45ed08a-7448-43eb-aaa3-778e9e8eef57.png)

[2021-11-04 05:31] avishmehta68710 commented on #958
@fcollonval is the issue solved ???
Thanks

[2021-11-04 14:34] fcollonval commented on #958
Thanks indeed it has been solved.

[2021-11-04 14:34] #958 closed

[2021-11-04 14:36] fcollonval commented on #985
Hey @avishmehta68710, the proposed feature is not yet implement. The goal is to go a step further than displaying the diff for one commit as you show in your screenshot by being able to select two arbitrary commits.

[2021-11-09 01:12] ebw44 opened #1055 "diff doesn't work for notebook under lfs"
## Description

The diff of a notebook track under lfs doesn't work. I get the message `Error Loading Notebook Diff: Internal Server Error` in the new tab and the error below in the console:
[code]

I had the same issue with [nbdime#608](https://github.com/jupyter/nbdime/issues/608) and it was solved by doing some changes in the .git/config and .gitattributes files

## Context

- Python package ve

[2021-11-09 07:57] fcollonval commented on #1055
Hey @ebw44 could you provide more details:
- Were you using the configuration mentioned in the nbdime issue (displayed below for interested readers)?
- What kind of diff did you try to display? Diff on the history panel, diff for staged changes, diff for unstaged changes?

---
.gitattributes

[code]

and .git/config

[code]

[2021-11-09 22:49] ebw44 commented on #1055
Hey @fcollonval here are more details:

- I was using the configuration below:
.gitattributes
`*.ipynb filter=lfs diff=jupyternotebook`
and .git/config
[code]

- I just tried the 3 diff mentioned (history, staged changes and unstaged changes) and neither work for an ipynb

[2021-11-10 16:49] fcollonval commented on #1055
Thanks for the additional information @ebw44

I have for now no clue what so ever to deal with that. So happy to get some help.

[2021-11-10 19:22] ebw44 commented on #1055
From my search to find solutions for nbdime and vscode notebook diff, one thing that came up was to add the lines below to `.git/config`.
[code]
also to see a revision of the `Validation.ipynb` file I need to run:
`git show HEAD:Validation.ipynb | git lfs smudge > Validation_head.ipynb`
the `smudge` pipe is required because
`git show HEAD:Validation.ipynb > Validation_head.ipynb`
result in `Valida

[2021-11-11 10:43] fcollonval commented on #1055
Could provide here the result of  `git config --list`? At minimum anything that starts with `filter.` or contains `lfs`.

I think `nbdime` is able to deal with it because it supports git filters that this extension does not (Xref #529).

[2021-11-11 10:58] ebw44 commented on #1055
Here is the result of `git config --list`
[code]

[2021-11-11 13:27] #860 closed

[2021-11-12 19:16] 3coins commented on #741
I can look into this. Please assign this to me.

[2021-11-13 09:58] fcollonval commented on #741
Thanks @3coins

[2021-11-23 11:28] statiksof opened #1058 "How to avoid this error?"
## Description

I see these errors in the log file:

[code]
and

[code]

and:

[code]

## Reproduce

Open jupyter lab in jupyterhub

## Expected behavior

## Context

- Python package version:

- Extension version: 0.33.0

-         @jupyterlab/git v0.33.0 enabled OK (python, jupyterlab-git)

- 2.28

[2021-11-23 14:04] fcollonval commented on #1058
Hey @statiksof

The messages you are seeing are at debug level (indicated by the `D` in front of the date) - nothing to worry about. At that level, all executed git commands are reported in the log. An error at the git commands may be handled by the extension (and therefore not be reported as error). This is the case with the ones you are reporting. There are nothing you can do about them (except

[2021-11-23 14:14] statiksof commented on #1058
Thanks, can be closed.

[2021-11-23 14:24] #1058 closed

[2021-11-24 13:31] krassowski commented on #970
I encountered issues today which went away after uninstalling `jupytext`.

I'm able to replicate on Binder: https://gist.github.com/krassowski/c8921d090fec969b00bd9b1e6f01d5bf

First on loading the following error is shown (this might be unrelated):

![Screenshot from 2021-11-24 13-14-13](https://user-images.githubusercontent.com/5832902/143245091-138d4c20-e8af-45c4-9be6-d3a53dade18e.png)

Then to

[2021-11-25 12:05] fcollonval commented on #970
Thanks @krassowski

I'll reopen this

[2021-11-25 12:09] krassowski commented on #970
Thanks! Probably also worth renaming to "Jupytext interferes with git extension in 3.x".

[2021-11-25 23:40] mwouts commented on #970
Hi, thanks for the mention, well sorry no I see no obvious explanation. But I am not at all an expert of TS/JS, so maybe you can help me determine how it can cause this? (the good news is that the Jupytext extension is only [360 lines long](https://github.com/mwouts/jupytext/blob/main/packages/labextension/src/index.ts))

[2021-11-29 16:10] fcollonval commented on #970
As the current version of a file (aka the working version) is obtained through the Jupyter server content manager at https://github.com/jupyterlab/jupyterlab-git/blob/961e1213863f2faed4554a68c6cf0c317cce0f23/jupyterlab_git/git.py#L1303

My guess is that the file served by Jupytext is containing some information that confuse the Git extension. A good start will be to look (for a simple .py file) at

[2021-12-06 11:51] mounaTay commented on #929
@Comee how did you solve this? my home folder is already empty so what did you remove in precise?

[2021-12-07 01:33] Comee commented on #929
@mounaTay you can try [Elyra](https://github.com/elyra-ai/elyra) extension, it will auto setup  jupyterlab-git

[2021-12-07 16:38] ajbozarth opened #1059 "Improve UI around commit button and summary field"
## Is your feature request related to a problem? Please describe.
The UX for committing is unclear and relies on tooltips to explain the reason to users.

## Describe the solution you'd like
It would help if the UI made it clear in some way other than a tooltip that the summary field is required to commit

## Describe alternatives you've considered
Some ideas pitched by our requesting customers in

[2021-12-10 12:55] krassowski opened #1060 "(Double) clicking on items causes distracting highlight"
## Description

(Double) clicking on items causes distracting highlight.

## Reproduce

1. Open git panel
2. Double click on a file listed as stage/changed or untracked
3. See highlight show up in addition to the blue background indicating that it is active

![Screenshot from 2021-12-10 12-47-27](https://user-images.githubusercontent.com/5832902/145576729-e61a4dd4-93e2-471e-9a45-93b20704204f.png)

[2021-12-10 13:00] fcollonval commented on #1060
Thanks for the nice suggestion @krassowski

[2021-12-10 13:33] krassowski commented on #567
I am hitting a similar one on JupyterLab Desktop. When running normal JupyterLab the passphrase prompt shows up in GUI (system/GNOME dialog) but when running via JupyterLab Desktop it prompts in terminal, deadlocking jupyterlab-git.

It might have to do with the server environment variable making the ssh client think that they are run without a display to show the GUI prompt. We could try to force

[2021-12-11 15:38] himanshu007-creator commented on #1060
Hi, i would like to work on this issue, can someone help me find the file!?

[2021-12-13 08:11] fcollonval commented on #1060
Hey @himanshu007-creator thanks for reaching us. You should be able to fix this one by updating the style (aka adding `userSelect: null`) at https://github.com/jupyterlab/jupyterlab-git/blob/961e1213863f2faed4554a68c6cf0c317cce0f23/src/style/FileItemStyle.ts#L4

When you are at it, it would be nice to add the same style to branch and tag items at https://github.com/jupyterlab/jupyterlab-git/blob/9

[2021-12-23 15:46] krassowski opened #1063 "Signing commits with GPG"
## Is your feature request related to a problem? Please describe.

Currently all commits generated from the UI are not signed.

## Describe the solution you'd like

I would like the user settings to have an option to enable signing commits. This should be off by default because most people do not use it, but it should available for users who need this.

## Describe alternatives you've considered

[2021-12-30 18:29] paravatha commented on #970
@krassowski  @fcollonval

I ran into the issue again with a different set of extensions (other than jupytext)
My git diff was hanging. So, removed these extensions, and git diff works now

**REMOVED**

Here is my working setup
**Python 3.8.11
git  2.9.3
node 14.17.5
npm 6.14.14
RHEL 7.9**

jupyter-client               7.1.0
jupyter-console              6.4.0
jupyter-core                 4.9.1
jupy

[2022-01-10 07:29] fcollonval opened #1064 "Display diff of files from any two commits"
## Is your feature request related to a problem? Please describe.

For now it is possible to display the diff at a given commit for a file. It is also possible to display the history of a specific file. It will be nice to be able to display the diff between any two states (in the sense of git commits) for a file.

## Describe the solution you'd like

Introduce context menu in the file history view

[2022-01-10 07:35] fcollonval commented on #1050
Closing as answered

[2022-01-10 07:35] #1050 closed

[2022-01-10 07:36] fcollonval commented on #1064
Duplicates of #985

[2022-01-10 07:36] #1064 closed

[2022-01-10 07:51] fcollonval commented on #856
Xref: https://github.com/jupyterlab/jupyterlab-git/issues/998

The two issues are trying to address a similar use case. In #998, it goes a bit further by keeping the git link in order to get the notification that the upstream did change.

The main question here is how/where to store a parameter that will tell the extension it is in downloading mode.

[2022-01-10 07:54] fcollonval commented on #1059
I support the idea to get a red highlight on the `Summary` field

[2022-01-10 07:56] #1060 closed

[2022-01-14 16:18] #741 closed

[2022-01-20 10:24] stefano-cherchi opened #1068 "The diff tab to fix merge conflicts returns error: "Load Diff Model Error""
## Description

Although the rest of the extension is working flawlessly (including the diff between different commits), the merge conflict diff returns errors "Invalid response: 500 Internal Server Error" and "Load Diff Model Error (Cannot read properties of undefined (reading 'widgets'))"

## Reproduce

1. Create branch A from master
2. Edit file x in branch A, stage, commit
3. Create branch B f

[2022-01-21 11:56] fcollonval commented on #1068
@stefano-cherchi what type of file were you modifying; a notebook or a plain text file?

[2022-01-24 10:52] stefano-cherchi commented on #1068
@fcollonval Hi Frédéric, it's [this notebook](https://github.com/jonkrohn/ML-foundations/blob/master/notebooks/single-point-regression-gradient.ipynb) that I'm using to create a JupyterLab tutorial.

Just tried with a simple txt file and, quite surlprisingly, the merge diff page works...

![image](https://user-images.githubusercontent.com/3993552/150769487-ced5b67c-7fa5-48e1-ad26-e8683bdb4aff.png)

[2022-01-25 16:03] krassowski opened #1070 "Ignore extensions label should only show each extension once"
The label for "ignore extensions" could be improved: currently it repeats extension if multiple files of same type are selected:

![Screenshot from 2022-01-25 15-59-41](https://user-images.githubusercontent.com/5832902/151012567-4f99e3bb-72c2-4459-a6c0-6ffdf209d741.png)

Ideally it would only show each unique extension once to avoid blowing up the size of the context menu.

## Additional context

[2022-01-25 16:04] krassowski commented on #1070
@meseeksdev label "Good first issue"

[2022-01-25 16:05] krassowski commented on #1070
@meeseeksdev label "Good first issue"

[2022-01-25 17:06] fcollonval commented on #1070
Thanks for reporting @krassowski

[2022-01-26 11:13] omerwe-eleventx opened #1071 "Allow writing a commit message after git pull"
Thanks for writing this amazing tool!

When I git commit to some branch and then pull changes, all the files that were modified (vs. my local repo) go into the staging area. The is is because the git pull operation did not provide a commit message ([details here](https://stackoverflow.com/questions/34526346/git-pull-asks-me-to-write-merge-message)).

When I do a manual "git pull" from the terminal

[2022-01-26 14:52] fcollonval commented on #1071
Thanks for the suggestion. I don't know how easy it will be to figure out we are in that scenario. But yeah it will be nice.

[2022-01-26 15:10] bsande6 commented on #1070
@krassowski Hey, Could I work on this issue?

[2022-01-26 15:24] krassowski commented on #1070
Yes, please do open a pull request and feel free to ask questions :)

[2022-01-26 15:43] fcollonval commented on #1070
Thanks @bsande6 to give you some pointers. The extensions list is built there:

https://github.com/jupyterlab/jupyterlab-git/blob/2f74ac486a6da505a793d79d9fc9527dc47d3155/src/commandsAndMenu.tsx#L1040-L1042

A possibility would be to apply a `.reduce` action to keep unique extensions.

[2022-01-26 19:04] bsande6 commented on #1070
@fcollonval Great, I will take a look.

[2022-01-27 15:33] divyansshhh opened #1072 "Text overlapping in remote changes section"
After reverting some changes made locally, the Remote Changes text starts overlapping. While you might not be able to consistently reproduce the same.
Actions performed -
1) try opening and closing the Remote Changes multiple times
2) discard changes on particular file
3) Expand Remote Changes
4) Scrolling will cause the output to be dirty

[2022-02-03 13:14] fcollonval commented on #1072
Thanks for reporting @divyansshhh

Would you mind providing a screenshot to highlight the error?

[2022-02-08 17:44] bsande6 commented on #1070
@krassowski @fcollonval I have started working on the developer setup and am trying to install jupyter lab in a conda environment. When I run the command
### ``jupyter labextension develop . --overwrite`` ###
I receive the following error ,

### The following error occurred while trying to add or remove files in the
    installation directory:

        [Errno 13] Permission denied: '/usr/lib/pytho

[2022-02-08 18:30] willyyang opened #1074 ""Discard All and Pull" feature not working"
## Description

Unale to reset local git repository to remote repository once commit added to local git repo re: https://github.com/jupyterlab/jupyterlab-git/pull/1020

## Reproduce
[code]

## Expected behavior

The expected behavior would be for all of the staged, local changes to unstage and revert to the remote version of the file(s). Basically a reset hard on the remote head.

## Context

[cod

[2022-02-08 18:34] willyyang commented on #1074
Looking to target specific comment from https://github.com/jupyterlab/jupyterlab-git/issues/860#issuecomment-771045370 "just make my local copy look exactly like what's on the server"

[2022-02-09 01:51] quachtridat commented on #853
I believe it would be nice if there were a warning box saying there are unsaved files, and the user can save the files and/or stage the changes if they want to commit those.

[2022-02-09 08:08] fcollonval commented on #1074
Thanks for the suggestion @willyyang

This may be indeed a more appropriate behaviour and will go in the direction of the feature wish of an advanced [nbgitpuller](https://github.com/jupyterhub/nbgitpuller) mode https://github.com/jupyterlab/jupyterlab-git/issues/998

This will probably require changing the wording of the feature to clarify the behavior; something like _Reset Current Branch to Rem

[2022-02-09 08:17] fcollonval commented on #1070
@bsande6 did you activate your environment before running the command?
What is the result of `which python`?

[2022-02-09 15:08] bsande6 commented on #1070
@fcollonval  /home/bsande6/anaconda3/envs/jupyter/bin/python

[2022-02-10 07:30] fcollonval commented on #1070
This is weird.

Would you mind trying from scratch with:

[code]

[2022-02-11 22:30] dragoljub opened #1076 "Support for Inline Diff view in addition to Side by Side"
It would be great to be able to switch to an inline diff view in addition to the default side by side diff view.

Here is an example of this feature implemented in VS Code. Thanks!

![image](https://user-images.githubusercontent.com/2701562/153679431-740cbd0d-9f97-46cc-8ed5-e9040671da61.png)

[2022-02-12 08:59] fcollonval commented on #1076
Thanks for the suggestion @dragoljub
This is likely a large task as it will require defining a different way for displaying a single document containing diff.

It also raises the question on how to get a homogeneous feature in Notebook diff as that is using a third party extension.

[2022-02-12 15:33] dragoljub commented on #1076
I see. Are regular .py file inline diff views any easier than notebooks? I can see how notebook in-line would be more complex.

[2022-02-12 16:04] fcollonval commented on #1076
Indeed it will be. But nothing is available as of yet to display a single document with diff inline. So not an easy task.

[2022-02-13 02:45] bsande6 commented on #1070
Thank you, this worked!

[2022-02-16 07:38] fcollonval commented on #853
Reopening as the warning box introduced in #1075 needs to be applied in simple mode too for consistency.

[2022-02-18 21:04] willyyang commented on #1074
@fcollonval  What we're really looking for is for a new button / that button to do a `git reset --hard origin/master` Hope that can be implemented :)

[2022-02-22 09:23] NickSchouten opened #1082 "Ssh key setup for the plugin on k8s"
### Discussed in https://github.com/jupyterlab/jupyterlab-git/discussions/1081

<div type='discussions-op-text'>

<sup>Originally posted by **NickSchouten** February 18, 2022</sup>
Hi,

I'm trying to setup the plugin in a jupyterhub environment on k8s. It works via https with access keys, but feels incredibly slow while doing so. I am trying to switch to ssh keys.

I set them up [accordingly](http

[2022-02-22 13:25] fcollonval commented on #1082
@NickSchouten when using the terminal directly do you need to type the ssh key passphrase?

[2022-02-22 13:37] NickSchouten commented on #1082
@fcollonval No, I ran this `ssh-add ~/.ssh/id_rsa` and entered the passphrase at that point.

[2022-02-22 14:12] fcollonval commented on #1082
The extension does not handle credentials using ssh case as of now. But did you try by chance to add your key with `ssh-add` in a terminal and then carry the clone (or else) operation through the extension? As you are using ssh-agent, I would image unlocking the key in the terminal will allow its usage anywhere.

[2022-02-22 14:14] NickSchouten commented on #1082
Yes, I did the ssh-add before I tried cloning and other actions. Would there be anything thing related to it being in a container that hampers the ssh-agent being used in the same way by the plugin?

[2022-02-22 14:39] fcollonval commented on #1082
I don't think so. I would say it is more about access to the ssh-agent within the subprocess in which this extension is running the git command.

[2022-02-22 15:12] fcollonval commented on #1082
It seems that ssh-agent needs some environment variables to be set to work properly. Could you run within a notebook or Python console in JupyterLab `print(os.environ)` and see if it contains SSH_AUTH_SOCK and SSH_AGENT_PID.

If it does, could you try emulating what the extension is doing (in a notebook or Python console):

[code]

[2022-02-22 15:19] NickSchouten commented on #1082
Ok, will do, but might not have time until tomorrow.

[2022-02-23 11:16] NickSchouten commented on #1082
Ok, so here's what I have so far:

- Indeed neither ENV var is set in a default terminal or notebook.
- Presumably it will therefore also not be set for the plugin at its startup, which would explain it not working.
- When I got it working via terminal, the env vars were set, but only for that terminal, which in hindsight is logical, but I didn't make this connection.
- When I manually set the env

[2022-03-09 07:58] romeokienzler opened #1086 "Automatic reload from disc after git pull"
## Description

Automatic reload from disc after git pull in JupyterLab doen't work

## Reproduce

When pulling changes from git in JupyterLab, already opened files don't get updated. This has lead to situations, where developers pulled changes from git with some files already opened and those files didn't get updated with the changes from git. So when developers further edited the files without t

[2022-03-09 16:07] fcollonval commented on #1086
Thanks for suggesting this enhancement @romeokienzler

[2022-03-10 07:41] fcollonval commented on #492
Some simple example of using `GIT_ASKPASS` to set username and password from environment variables (for Linux): https://stackoverflow.com/questions/68344358/git-askpass-with-user-and-password

[2022-03-13 17:28] guyer opened #1088 "Freshly initialized repository shows 'History' of other recently viewed repository"
## Description

Freshly initialized repository shows 'History' of other recently viewed repository.

![image](https://user-images.githubusercontent.com/1830725/158071570-215f8df8-e349-4b3f-b226-df6c7e62d9d1.png)
![image](https://user-images.githubusercontent.com/1830725/158071577-c5a6a167-a1c2-4752-be1c-d97c84d3f9ab.png)

## Reproduce

1. Create an empty directory
2. Select git icon tab
3. Click "

[2022-03-13 21:13] guyer opened #1089 "New branch is not "based on" selection"
## Description

'Create branch based on...' is ignored. Branch is based on current branch.

<img width="1116" alt="Screen Shot 2022-03-13 at 2 07 44 PM" src="https://user-images.githubusercontent.com/1830725/158079283-be7c407e-a8d1-4ba2-8f3c-486bcf0a9c65.png">
<img width="1116" alt="Screen Shot 2022-03-13 at 2 08 10 PM" src="https://user-images.githubusercontent.com/1830725/158079284-3503cb6d-95f2

[2022-03-15 12:52] fcollonval commented on #1088
Thanks for reporting the issue @guyer

[2022-03-15 12:58] fcollonval commented on #1089
Thanks for reporting @guyer and all the logs that make it clear this is a frontend issue as the git command executed was ` ['git', 'checkout', '-b', 'numpy', 'math'] ` when it should have been ` ['git', 'checkout', '-b', 'numpy', 'master']`.

[2022-03-19 22:26] emhl opened #1092 "Failed to load the jupyterlab-git server extension"
## Description

i have tried multiple times to install jupyterlab_git when installing with pip i get the following error:
![image](https://user-images.githubusercontent.com/36165088/159139983-cd7bd164-aa16-4b8a-9713-ba7ff935700e.png)

when installing with conda i get an error with the following message as well:
[code]

## Context

- Python package version:

[code]
- Extension version:

[code]
- Gi

[2022-03-19 22:27] emhl commented on #1092
Here's the webserver output as well:
<details><summary>Web Browser Output</summary>
<pre>
labicon.jss:58 Redefining previously loaded icon svgstr. name: git, svgstrOld: <svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 20 20"
  width="16"

  <path
    class="jp-icon3 jp-icon-selectable"
    d="M19.6 9.1 10.9 0.4c-0.5-0.5-1.3-0.5-1.8 0l-1.8 1.8 2.3 2.3c0.5-0.2 1.1-0.1 1.6 0.4 0.4 0.4 0.5 1 0

[2022-03-20 05:19] Conor-Smith1 commented on #492
I'm still getting this error:

Traceback (most recent call last): File "C:\Users\conor\anaconda3\lib\site-packages\jupyterlab_git\git.py", line 135, in execute code, output, error = await call_subprocess_with_authentication( File "C:\Users\conor\anaconda3\lib\site-packages\jupyterlab_git\git.py", line 71, in call_subprocess_with_authentication p = pexpect.spawn( AttributeError: module 'pexpect' ha

[2022-03-20 12:21] fcollonval commented on #492
For now the handling of authentication by the extension is not working on Windows due to the limitation you are mentioning (reference issue https://github.com/jupyterlab/jupyterlab-git/issues/492).

One way to solve it is to set up a credential helper to deal with the authentication for you. For that you will need to use [Git for Windows](https://gitforwindows.org/). Then I think, it will work out

[2022-03-20 16:34] Conor-Smith1 commented on #492
Ok, I ended up having to just push from Git for Windows and do all other operations in JupyterLab. A little annoying, but not too bad. Having used this functionality on Linux it is quite nice, hopefully it comes to Windows some day. Thanks for the help!

[2022-03-21 16:53] #1086 closed

[2022-03-22 00:07] JeffSaxeVA commented on #970
Just checking in, @fcollonval . Is this a symptom you see a way to fix? I'm trying to be more of a helpful contributor, rather than just a complaining end user, so here goes:

The Handler for `git/content` appears to call `get_content_at_reference`, currently at git.py line 1315. This function has some if-else logic cases, and depending on the conditions, it might return the result of `self.show`,

[2022-03-22 11:45] #998 closed

[2022-03-22 11:45] #1074 closed

[2022-03-22 11:52] fcollonval commented on #1092
You are trying to install incompatible extension:

[code]

You need to remove @datalayer-jupyter/jupyterlab-git

[2022-03-22 12:18] krassowski commented on #1070
Fixed by #1080. Thank you @bsande6!

[2022-03-22 12:18] #1070 closed

[2022-03-23 08:09] #1089 closed

[2022-03-23 08:09] #970 closed

[2022-03-23 08:30] #833 closed

[2022-03-23 09:47] fcollonval commented on #970
@JeffSaxeVA 0.36.0 release that should fix this issue is in process (conda package will likely be available in a couple of hours). Thanks for the patience

[2022-03-23 14:07] emhl commented on #1092
i removed the extension i still get the first error message when reloading the page. following the instruction of the message and rebuilding doesn't change anything about that.
![image](https://user-images.githubusercontent.com/36165088/159718337-7ce5b42f-5731-4a61-aaec-70681137fc74.png)

- Package Version:
[code]

- Extension Version:
[code]

[2022-03-23 22:42] emhl commented on #1092
here are the outputs of those commands. hope they help
[code]

[2022-03-24 14:54] fcollonval commented on #1092
Ok I'm lost - everything looks fine.

Could you run jupyter lab in debug mode and report here the server log? You need to execute `jupyter lab --debug` for that. And could you look at errors in the web browser console too?

[2022-03-24 15:12] stefano-cherchi opened #1100 "Git branch name in the status bar"
## Is your feature request related to a problem? Please describe.
While you're working on the notebook you can't see which branch you're working on, unless you select the Git extension tab. I noticed that this can be confusing and lead to errors especially for developers with limited experience on git.

## Describe the solution you'd like
It would be nice to have the name of the current branch in

[2022-03-24 15:57] emhl commented on #1092
i don't know what i did (exept for manually killing all the jupyter lab processes), but somehow it works now. thanks <3

[2022-03-24 15:57] #1092 closed

[2022-03-25 07:58] fcollonval commented on #1100
Thanks for the suggestion. I can provide some pointers to implement this. I would only suggest to make it configurable as some users like not too crowded status bar.

[2022-03-31 10:43] dansacc commented on #1068
Hi, I'm experiencing the same problem with a very simple one-cell notebook, same steps to reproduce as above.

Context:
JupyterLab, Version: 3.2.9
Git, Version: 3.1.11
nbdime-jupyterlab v2.1.1
@jupyterlab/git v0.34.2

[2022-03-31 12:06] yangql176 opened #1101 "Markdown cell generates duplicate toc content"
## Description

When editing in markdown cell， press several ENTERs in the content will generate duplicate titles
![fe3f9598522b6946b3d1328111a30360](https://user-images.githubusercontent.com/50950740/161050557-131ef9ab-71e7-4dde-9422-fc88d30f7514.jpg)

## Reproduce

1. open a .ipynb file
2. new a markdown cell
3. enter something
4. press ENTER or ENTERs

## Expected behavior

Produces the correct

[2022-03-31 12:15] #1101 closed

[2022-03-31 12:16] yangql176 commented on #1101
Sorry, I submitted to the wrong repository. Sorry.

[2022-03-31 12:22] fcollonval commented on #1068
@dansacc would you mind upgrading to the latest version 0.36.0 to see if it is still happening?

[2022-04-04 07:47] #659 closed

[2022-04-10 06:54] innat opened #1107 "Hide or Un-Hide Different Branch's Features from Current Branch?"
# Hide or Un-Hide Different Branch's Features from Current Branch?

Let's say, I've created a new git repository, named **GitTest**. Currently, it contains only one branch (`main`). Now, in jupyter lab, I clone this repo and go to the `GitTest` folder. After that, in jupyter-lab, there is a Git extension on the left side. From there, I created a new branch called `add_text` from the `main` branch.

[2022-04-10 07:56] innat commented on #1107
**Update**

It happens in a special case. Let's say I've the following branches:

- main
- branch_1
- branch_2
- branch_3

And, currently, I'm on `branch_2`. But next, I want to create a new branch from the `main` branch. To do that, I've to switch to the main branch first. Even though I selected the `main` branch from the pop-up window. Please see the image file below.

![1](https://user-images.g

[2022-04-12 14:05] fcollonval commented on #1107
@innat thanks for reporting the issue. Which extension version are you using?

[2022-04-12 14:09] innat commented on #1107
It's `git version 2.20.1`

[2022-04-13 06:43] fcollonval commented on #1107
Could you please provide the output of the following command: `jupyter labextension list`?

[2022-04-13 11:21] innat commented on #1107
[code]

[2022-04-13 12:05] fcollonval commented on #1107
Would you mind testing the latest `jupyterlab-git` version to see if that error is still there?

To upgrade, execute:

[code]

[2022-04-16 06:01] Betristor commented on #951
Thanks, this works for me, too.

[2022-04-16 15:16] joelostblom opened #1109 "Support branch visualization similar to `git log --graph`"
## Is your feature request related to a problem? Please describe.

When working with multiple branching, it can be quite helpful to visualize when they branched of from the trunk of the repo and also when they are merged back in. Particularly for teaching purposes it is valuable to visualize these relationships. From the command line it is possible to run `git log --oneline --all --graph` and disp

[2022-04-16 22:09] ebuka-nweke opened #1110 "Usr/Library/Python/3.8/bin/jupyter-lab: bad interpreter: /Library/Developer/CommandLineTools/usr/bin/python3: no such file or directory"
## Description

When I try to open Jupyter lab from my terminal it states that the file does not exist. It also indicates "bad interpreter".

All this is happening while I can see that jouster lab is within my python 3.8 bin folder (see screenshot). Also when I try to open the Jupiter-lab executable file I get the same error as show in the title of this issue. the same thing happens for all the fi

[2022-04-18 15:57] fcollonval commented on #1109
Thanks @joelostblom that visualization was indeed not implemented.

[2022-04-18 15:58] fcollonval commented on #1110
I'm transferring this to the JupyterLab repository as this one is for the git extension within JupyterLab.

[2022-04-20 08:10] fcollonval commented on #985
Reopening as it will be good to add the feature for a single file.

[2022-04-21 12:30] romeokienzler opened #1111 "Delete multiple untracked files from left sidebar view"
## Is your feature request related to a problem? Please describe.
Untracked files appear in the left sidebar, but need to be deleted one by one (3 clicks per file)

## Describe the solution you'd like
Select 1-n files and delete them all with a single key e.g. Del - key - add a checkbox to prevent confirmation for the next time

## Describe alternatives you've considered
Doing it the UX unfriendly

[2022-04-21 15:24] fcollonval commented on #1111
Thanks for the suggestion @romeokienzler

Xref: https://github.com/jupyterlab/jupyterlab-git/issues/379

[2022-04-22 14:58] boilednut opened #1112 "Flood of 500 POST errors on WSL2"
Hello.

Most operations I attempt with the extension produce a flood of ServerApp 500 POST errors (like the screenshot below). [
![jupyterlab-git_error](https://user-images.githubusercontent.com/30190785/164734092-26b97437-05c9-41b2-aaad-f08b6176d169.png)
](url)  Most, if not all, of the operations are nonfunctional -- typically producing an "Unable to get lock on the directory" error. Also, the o

[2022-04-23 12:51] fcollonval commented on #1112
Hey @boilednut are you using another tool with git support on the same repository at the same time (like VS Code)?

[2022-04-23 13:03] boilednut commented on #1112
Hey. No, the only other utility being used in the git command itself. I also have JetBrains DataSpell installed on the Windows host machine (not in WSL); but, it's not being used. Thanks.

[2022-04-24 13:15] fcollonval commented on #1112
hmm... I can explain what is happening but I don't have an explanation why it is happening in your case (and therefore how to solve it).

The extension is checking that the repository is not lock before carrying out an action. This is done by looking for the `.git/index.lock` file within the repository. If it exists, it means a git action is in process. It that case (i.e. your case), we test every

[2022-04-25 08:19] #853 closed

[2022-04-25 12:00] #985 closed

[2022-04-25 13:39] Betristor commented on #1112
I got this `index` file but not the `index.lock` file and I got three git processes in backend.
<img width="1198" alt="image" src="https://user-images.githubusercontent.com/55777837/165100537-20e0f6a7-f62b-4ede-a6b5-60edbf68c0d5.png">

[2022-04-25 13:48] dudash opened #1121 "Trim whitespace around git clone path"
### Summary
If someone cuts and pastes a url that has whitespace in front of it the clone operation fails (extra spaces is pretty common if following along with a blog tutorial).

### Details
There will be a little error box in the bottom right and if you show the details you will see something like:
`Cloning into 'metrobus-repairs-nlp-workshop'... fatal: protocol ' https' is not supported`

### F

[2022-04-25 15:26] fcollonval commented on #1121
Hey @dudash

Thanks for reaching out. Do you want to push a PR for this?

A better place for the trim will be there:

https://github.com/jupyterlab/jupyterlab-git/blob/9df356280b544b8f0e2236ef0757d57a6239ca7c/src/widgets/GitCloneForm.ts#L20

[2022-04-25 18:45] dudash commented on #1121
sure, I can change and put in a PR

[2022-04-26 06:25] #1121 closed

[2022-04-26 15:03] fcollonval opened #1124 "Popen.poll() still returns None"
From Dat Quach

there's a bug in ensure_git_credential_cache_daemon().
Popen.poll() still returns None when the process has already gone.
I have to add a piece of code to see if the PID is still there, and if not, spawn a new daemon.

![image](https://user-images.githubusercontent.com/8435071/165331017-0904c55c-017c-4eb9-b908-fc6788125feb.png)

---
from @fcollonval
I don't understand precisely the

[2022-04-27 06:33] fcollonval commented on #1124
The daemon is supposed to be still running if .poll() returns None.
That elif is for when Popen.returncode is set for the daemon process.

Apparently it's always None if we don't interact with it via .wait() or .communicate().

Also for the method ensure_git_credential_cache_daemon(), we are not using a custom path for socket so we can just hardcode the default socket path documented by Git, or we

[2022-04-28 15:43] fcollonval commented on #1112
I'm trying to get a work around for this - it looks that the lock in the code is preventing you to execute some tasks although git is not lock by itself. So this sounds like an hanging process or when that terminates in a way that it was not capture and therefore the lock was not released.

@boilednut your remote is access through SSH - how do you set the credentials?
@Betristor does your remote n

[2022-04-28 17:46] boilednut commented on #1112
I use key-based access to the remote. Thanks.

[2022-05-08 05:55] timenet2300 commented on #420
check this: conda install -c conda-forge nodejs. it might work

[2022-05-09 12:12] fcollonval commented on #268
Fixed by https://github.com/jupyterlab/jupyterlab-git/pull/1108 and https://github.com/jupyterlab/jupyterlab-git/pull/1117

[2022-05-09 12:12] #268 closed

[2022-05-17 07:56] dingobar commented on #1082
@NickSchouten  I'm facing this. Any luck?

[2022-05-18 15:00] willyyang opened #1126 "Feature branch and git icon disappears"
## Description
Current branch abruptly switches back to `master` branch while working on a feature branch and git icon disappears.

## Reproduce

After switching to a feature branch and working on new/old files, the git plugin switches back to master branch periodically and the gui does not show any other branches. After restarting the jupyterlab instance, the git plugin icon is no longer availabl

[2022-05-19 18:09] MichaelTiemannOSC commented on #1063
I want to emphatically agree in the strongest possible terms with this statement: "I believe that users either don't care or want all their commits to be signed."

[2022-05-24 16:47] bjornjorgensen commented on #348
@snoehmer what did you change in [docker-stacks base notebook](https://github.com/jupyter/docker-stacks/tree/master/base-notebook) and what is "proper ssh-agent/keychain initialization in ~/.bash_profile"

[2022-05-25 08:47] direxe opened #1127 "Failed to load the jupyterlab-git on z2jh"
## Description

<can not be inttalled propoly on z2jh>
try to install jupyterlab-git  extension on z2jh  https://zero-to-jupyterhub.readthedocs.io
I always get this information:

Failed to load the jupyterlab-git server extension
Git server extension is unavailable. Please ensure you have installed the JupyterLab Git server extension by running: pip install --upgrade jupyterlab-git. To confirm tha

[2022-05-25 21:15] MichaelTiemannOSC commented on #1063
LGTM!

[2022-05-27 10:15] snoehmer commented on #348
Hi @bjornjorgensen,
sorry, I don't use docker for running JupyterLab, therefore I can't really help with that. I am just running a standalone instance.
Anyway, the proper ssh-agent initialization is described for example in the Arch Linux wiki: [https://wiki.archlinux.org/title/SSH_keys#SSH_agents](url)

[2022-05-27 13:50] krassowski opened #1128 "Jump to modified cell in the notebook from diff view"
## Is your feature request related to a problem? Please describe.
Viewing diffs of notebooks is very nice to narrow down what has changed, especially in long notebooks, however it does not enable one to immediately find the place in the editable instance of the notebook. This means that if when reviewing changes in a notebook I decide that I need to revert a change or fix a typo I need to scroll m

[2022-05-31 02:37] momomobinx opened #1130 "No Git tab on the left panel"
## Description
[code]
![image](https://user-images.githubusercontent.com/21970770/171080687-f73b2fde-ca16-462a-ba3e-3471ba05a154.png)
![image](https://user-images.githubusercontent.com/21970770/171080860-a16a46fc-ce0a-447a-a782-3b4e10f562bc.png)

## Reproduce

1. docker run -d --name=test-notebook -p 10000:8888 jupyter/scipy-notebook:hub-2.3.0
2. enable extension
3. install @jupyterlab/git extensi

[2022-05-31 02:38] momomobinx commented on #1130
What is the version relationship between jupyter notebook and jupyterlab-git？

[2022-05-31 05:55] momomobinx commented on #1127
兄弟解决了吗

[2022-05-31 06:27] momomobinx commented on #1130
1. docker run -d --name=test-notebook -p 10000:8888 jupyter/scipy-notebook:hub-2.3.0
2. enable extension
3. pip install jupyterlab-git
4. docker restart test-notebook

[2022-05-31 06:27] #1130 closed

[2022-06-05 07:05] Alephant6 commented on #1127
I have this problem too

[2022-06-07 06:58] momomobinx commented on #1127
restart jupyter

[2022-06-15 02:21] ianhi commented on #639
Hi @vrtoaso when you hover your mouse over the button what does the text say?

[2022-06-16 03:39] vrtoaso commented on #639
HI ianhi, thank you for following up. It originally said "Disabled: No files staged for commit" although I did stage the files. Since I posted this I've restarted my machine - now when I add the file (via the plus) the COMMIT button is green. I read about refreshing or closing and reopening the browser, which I did, but apparently the restart worked.

This matter is resolved. I appreciate the coll

[2022-06-17 05:47] direxe commented on #1127
Hi,all. I solve this problem in a tricky way.  The only thing I have done is I put this extension into the dockfile and everything works properly. Now I close this issue

[2022-06-17 05:47] #1127 closed

[2022-06-17 05:47] direxe commented on #1127
Hi,all. I solve this problem in a tricky way. The only thing I have done is I put this extension into the dockfile and everything works properly. Now I close this issue

[2022-06-17 18:18] #911 closed

[2022-06-17 19:00] #1100 closed

[2022-06-22 08:55] emirkmo opened #1137 "Binder: Failed to init notebook diff view: InternalError: too much recursion"
## Description

When viewing the diff between 2 different version of the demo notebook on Binder (after making some changes, staging, and committing), the diff viewer opens for a second before automatically closing and gives an InternalError: too much recursion.

## Reproduce

1. Press on the demo link for Binder on the github page (from README).
2. Make some trivial changes to a cell in `demo.ipy

[2022-06-22 14:36] HealthyPear commented on #1068
I am using v0.37.1 and I get a similar error,

`Load Diff Model Error (undefined is not an object (evaluating 'r.nbdimeWidget.widgets'))`

[2022-06-22 15:13] HealthyPear commented on #1068
Oh actually nbdime is one of the dependencies of this project, my bad.
So probably what I see it's still relevant for this issue, I leave you also the terminal output

[code]

[2022-07-06 15:48] fcollonval commented on #1137
Thanks @emirkmo for reporting

I can confirm this is happening on Binder for notebook and text files. Did you encountered such trouble locally - I cannot reproduce it on my computer?

[2022-07-06 15:51] emirkmo commented on #1137
I think this is a binder issue, I cannot locally reproduce

[2022-07-06 16:06] fcollonval commented on #1137
Ok I think it is related to the not yet release feature: https://github.com/jupyterlab/jupyterlab-git/pull/1132

[2022-07-07 04:52] JR-Bae opened #1141 "'Initialize a Repository' on folder not owned"
## Description

In jupyter lab, click Git -> Initialize a Repository. It could not initiate repository in some directory. It could not browse repository.

## Reproduce

![git1](https://user-images.githubusercontent.com/25498289/177695788-4b63289b-6e3c-460e-a633-8f2b2ee97322.gif)
![git2](https://user-images.githubusercontent.com/25498289/177695812-f4bf7db1-0141-4a4f-b1fa-ed7f6368ef18.gif)

## Expec

[2022-07-07 15:02] #1137 closed, assigned to fcollonval

[2022-07-08 06:33] JR-Bae commented on #1141
@fcollonval It is running using a container k8s pod but initiating a repository could be run on jupyterlab v3.3.0 before jupyterlab upgrade to v3.4.3.
Upgrade git version 2.25.1 to 2.37.0. Now it is good running.

[2022-07-08 08:34] fcollonval commented on #1141
No as the extension is a Python package there is no easy way to install a tool like git with it.

[2022-07-08 13:30] #685 closed

[2022-07-08 13:31] fcollonval opened #1142 "[Support multiple remotes] Support specifying the remote name"
To support multiple remotes, we need to modify the _Add remote repository_ dialog to provide a name in addition to the remote URL

[2022-07-08 13:32] fcollonval opened #1143 "[Support multiple remotes] Select remote when pushing a branch without upstream branch"
When pushing a branch for the first time, if the user as multiple remotes, prompts to pick a remote.

[2022-07-08 13:33] fcollonval opened #1144 "[Support multiple remotes] Add UI to manage the list of remotes"
It will be nice to be able to display the list of remotes with the ability to remove and add them.

[2022-07-09 05:06] #941 closed

[2022-07-11 09:28] vinurg opened #1145 "How to add multiple server extensions."
when we are adding two server extensions only one extension is visible. by default it automatically deleted previous server extension and adding new server extension to the jupyterlab. how can we resolve this issue. please help me.

[2022-07-17 12:46] DeanLight opened #1147 "Load Diff Model Error (Cannot read properties of undefined (reading 'widgets')) when trying to resolve merge conflict"
## Description

When trying to solve a merge conflict using jupyter lab with jupyterlab-git installed,
I cant open the conflict resolution window and i get this message

![image](https://user-images.githubusercontent.com/12111030/179398805-5a9f468b-abc3-408e-9efd-88d465d3ef69.png)

Looking at the logs i see the following
<img width="1427" alt="image" src="https://user-images.githubusercontent.com/

[2022-07-17 13:02] DeanLight commented on #1147
I tried running a local install of the current main branch and changed
line 383 in `git.py` to
[code]
and it solved the problem

[2022-07-19 12:53] fcollonval commented on #1147
@DeanLight thanks for reporting and providing a fix. Would you mind opening a pull request with your fix?

[2022-07-19 16:21] DeanLight commented on #1147
sure thing, here you go

[2022-07-21 15:55] #1147 closed

[2022-07-25 14:54] ianhi commented on #664
Typescript library with a react component for doing this: https://octoframes.github.io/compare_view/

Which is used in this jupyter magic: https://github.com/Octoframes/jupyter_compare_view#jupyter-compare_view

[2022-08-04 15:24] fcollonval commented on #1059
Closing as the red highlight was implemented in https://github.com/jupyterlab/jupyterlab-git/pull/1113

[2022-08-04 15:24] #1059 closed

[2022-08-05 16:18] Radiac93 commented on #1092
Hi,
Just wanted to say I had the same issue and it was fixed by shutting down my JupyterLab notebook and restarting it :)

[2022-08-11 08:28] fcollonval commented on #1126
@willyyang are you still able to reproduce this bug?

If so, could you please report any error seen in the browser console log (See [how to access the console](https://webmasters.stackexchange.com/a/77337)) and/or in the server log?

[2022-08-17 06:46] yuvipanda commented on #1044
https://blog.jupyter.org/securely-pushing-to-github-from-a-jupyterhub-3ee42dfdc54f does this now, and I think @fperez uses it fairly often?

[2022-08-17 07:04] fcollonval commented on #1142
Solved by https://github.com/jupyterlab/jupyterlab-git/pull/1146

[2022-08-17 07:04] #1142 closed

[2022-08-17 07:05] fcollonval commented on #1143
Solved by https://github.com/jupyterlab/jupyterlab-git/pull/1146

[2022-08-17 07:05] #1143 closed

[2022-08-17 07:05] fcollonval commented on #1144
Solved by https://github.com/jupyterlab/jupyterlab-git/pull/1146

[2022-08-17 07:05] #1144 closed

[2022-08-17 07:05] fcollonval commented on #234
Solved by https://github.com/jupyterlab/jupyterlab-git/pull/1146

[2022-08-17 07:05] #234 closed

[2022-08-17 14:40] parmentelat opened #1158 "differences show up as if the file was deleted"
## Description

the extension mostly works fine for me, except when it comes to displaying the actual differences;
the extension actually computes the exact set of modified files, that is fine, but when I click the +/- icon to display the actual differences, the 'new file' always comes empty - as if the file had been deleted or completely emptied - like in the following example

![image](https://u

[2022-08-17 18:47] fperez commented on #1044
Correct - I consider that tool now a non-negotiable, necessary element of a deployed hub, so working with github can be smooth and painless. Thanks a lot @yuvipanda for the development!

[2022-08-18 09:32] fcollonval commented on #1158
@parmentelat thanks for reporting. Would you mind running jupyterlab in debug mode (CLI option ``--debug``) and report here the log you get when opening the diff?

Related question, if you open the diff for a commit in the history panel, do you see the same error?

[2022-08-19 13:27] #1109 closed

[2022-08-24 06:22] NickSchouten commented on #1082
No Sadly no real luck. Getting the ssh-agent running anywhere accessible to the jhub_startup_folder took so long, that I eventually had to stop working on it.

[2022-08-24 06:22] #1082 closed

[2022-08-27 12:26] hstarmans commented on #975
I had the same problem, two options;
   - ssh keys; you need to add the key to the manager!!
        see https://stackoverflow.com/questions/1595848/configuring-git-over-ssh-to-login-once
   - https login use something like git config --global credential.helper cache

[2022-08-30 05:55] divyansshhh opened #1162 "Prevent `git rev-parse --show-origin` from running in some dirs"
## Is your feature request related to a problem? Please describe.

We have a contents manager that prefixes **some** paths for some special handling (these aren't actual file system paths). When navigating into these "prefixed dirs", jupyterlab-git tries to run `git rev-parse --show-origin` which causes it to fail and litter the console.

Log -
[code]

Here, `/gimme/hyd` is the prefix which is not

[2022-08-30 14:34] divyansshhh commented on #1162
Hi @fcollonval , thanks for giving pointers. I'll work on a PR for this.

[2022-09-01 07:14] divyansshhh commented on #1162
I've raised jupyterlab/jupyterlab-git#1163.

[2022-09-06 13:06] #1162 closed

[2022-09-16 09:05] fcollonval commented on #1044
Thanks a lot for sharing the information @dhirschfeld

[2022-09-20 10:52] maxima120 opened #1167 "Add "Hide Output Cells" to diff screen"
I have fairly long notebooks. If I look at the diff

![image](https://user-images.githubusercontent.com/10121753/191238274-e8f47e2c-866d-4fd7-a7b7-4b458dda9474.png)

it generates a very long document where 99% of changes are in the output. Use case: you change 2-3 lines of code with hyperparameters which generates different output but you only are interested to see diff in code which is a few line

[2022-09-20 13:49] fcollonval commented on #1167
Thanks for the proposal @maxima120

The diff view you are mentioning is actually provided by a dependency of this extension called `nbdime`. Would you mind opening an issue [there](https://github.com/jupyter/nbdime/issues)?

[2022-09-20 16:33] #1167 closed

[2022-09-25 08:01] fcollonval commented on #856
A good solution is the one propose [there](https://stackoverflow.com/questions/11497457/git-clone-without-git-directory); aka

1. Cloning the repository with depth option equals to 1
2. Remove the `.git` repository

[2022-09-25 08:44] Lagroth opened #1168 "File Load Error for .gitignore"
## Description

The jupyterlab-git extension is telling me it can't find the .gitignore file even though I can see it and it can interact with it.

## Reproduce
When I use the Git menu to view .gitignore
![image](https://user-images.githubusercontent.com/4657788/192134863-f16ed54a-4b23-4a4e-bffd-738e5978ef27.png)

or try and right click on a file and add to .git ignore
![image](https://user-images

[2022-09-26 07:18] fcollonval commented on #1168
@Lagroth would you mind providing the server log - best is even to run the server with the flag `--debug`. And report here the log (focusing only on the action failing)?

Is the file `~/JupyterLab/.gitignore` accessible from JupyterLab? Aka in which folder are you executing the server?
This is important because if you run the server in `~/JupyterLab/myProject`. Then for security reason you are not

[2022-09-26 11:04] Lagroth commented on #1168
Thank you very much for your time. If I can do any more leg work to make this easier please let me know. Apologies if some of the answers are wordy I know enough to get myself in deep, but not to provide concise answers.

The folder listed as '\~/' in Jupyterlab is the home-folder of the user account running the server and is set as the working folder of the server. The "~/Jupyterlab" folder is th

[2022-09-26 12:21] krassowski commented on #1168
I can reproduce it with the latest jupyter-server. It works again if you start jupyterlab with `--ContentsManager.allow_hidden=True`. It is another piece of fallout from the security hardening of jupyter-server aimed at preventing access to hidden files by default.

[2022-09-26 12:25] krassowski commented on #1168
For LSP I proposed a contents manager addition that would selectively allow access to filesystem outside of JupyterLab root (https://github.com/jupyter-lsp/jupyterlab-lsp/issues/850); in the same manner we could selectively allow-list some hidden files like `.gitignore`, though this could be misleading for the user. IMO the core of the problem is that users expect hidden files (like `.gitignore`)

[2022-09-26 12:50] fcollonval commented on #1168
Thanks for looking into this @krassowski

I agree that the story around hidden file is clumsy.

For now I would suggest to tackle this issue,

1. Sending the server capability to the frontend, that could be part of the following request

https://github.com/jupyterlab/jupyterlab-git/blob/8b791016ef29c24a3ac2c78a1eb97fd19998f0a9/src/index.ts#L95

2. According the capability, open or not the `.gitign

[2022-09-26 21:28] ebebpl commented on #1092
Yes had same issue and had to restart the Jupyterhub which kills all jupyterlab users sessions.

[2022-09-28 00:15] Damans227 commented on #889
Hi @fcollonval I am Daman (The new fellow at MLH for RBC). I was trying to reproduce this issue, but from what I saw, the error message is already being displayed when you hit cancel in the dialog box asking for user credentials. Please look at this video I've recorded:

![testcase](https://user-images.githubusercontent.com/61474540/192659274-38faff71-497f-45c4-b42c-8b5e660388bb.gif)

Is there a d

[2022-09-28 01:29] Damans227 commented on #889
@fcollonval you can ignore my last comment. I misread the issue description.

Can you please assign this issue to me ?

Thanks!

[2022-09-28 08:51] fcollonval commented on #889
Thanks @Damans227 for starting this.

[2022-09-28 19:24] Reginald-King opened #1171 "logger inaccessible externally."
## Description

I disabled the cloneCommand Plugin to replace it with my own UI to handle cloning, as was intended here: https://github.com/jupyterlab/jupyterlab-git/pull/1051 However, the logger instance used to log the cloning opperation's progress is inaccessible. Since it's an instance, not a class, the one I access in '@jupyterlab/git/lib/logger' is not the same, but another instance of the L

[2022-09-29 08:06] fcollonval commented on #1171
Thanks for the report @Reginald-King

Would you mind opening a PR for this? I would go for exporting both `logger` and `LoggerContext` in `index.ts`:

https://github.com/jupyterlab/jupyterlab-git/blob/8b791016ef29c24a3ac2c78a1eb97fd19998f0a9/src/logger.ts#L35-L40

[2022-09-29 20:00] Reginald-King commented on #1171
Thank you very much for getting back to me. I'll work on making that PR 🌊

[2022-09-29 22:13] Reginald-King commented on #1171
made a PR here: https://github.com/jupyterlab/jupyterlab-git/pull/1172

[2022-09-30 08:01] #1171 closed

[2022-10-03 16:13] joelostblom opened #1175 "Stage part of file as with `git add --patch`"
## Is your feature request related to a problem? Please describe.
It is often helpful to be able to stage parts of a file, as this gives more control over what is committed and encourages both atomic commits and review of what is being staged.

## Describe the solution you'd like
A panel where you can click the lines you want to stage/unstage. Similar to what other git gui tools such as Sourcetree

[2022-10-04 13:46] joelostblom opened #1176 "Passwords no longer accepted by GitHub for pushing to https repos"
## Description

When I try to push from a Git repo cloned with `https` I see this box:

![image](https://user-images.githubusercontent.com/4560057/193834765-09962098-63e2-4606-a4ca-52483d85bf39.png)

While it says that I could enter my password, this is no longer supported by GitHub and if I do so I am shown this error message:

![image](https://user-images.githubusercontent.com/4560057/193835025-

[2022-10-05 07:56] fcollonval commented on #1176
Thanks for reporting @joelostblom

The difficulty here is that this is specific to GitHub and the extension is used with other platforms.

[2022-10-05 14:59] joelostblom commented on #1176
Yeah that makes sense. Maybe the extension could fill the placeholder text dynamically depending on the url of the first remote it finds in the repo? But I understand if that is too complicated for a small feature.

[2022-10-11 12:43] fcollonval commented on #1176
@joelostblom feel free to push a PR to deal with `github.com`. I don't see another way here.

[2022-10-26 04:32] charizard-knows opened #1178 "Pressing esc should exit Find and Replace"
## Is your feature request related to a problem? Please describe.

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

- Python package version: 3.8.0
- IPython          : 8.4.0
- ipykernel        : 6.13.1
- ipywidgets       : not installed
- jupyter_client   : 7.3.3
- jupyter_core     : 4.10.0
- jupyter_server   : 1.17.1
- jupyterlab       : 3.4

[2022-10-26 07:01] fcollonval commented on #1178
Thanks for reporting this @charizard-knows

This repository is about the git extension for JupyterLab (adding support to Git in JupyterLab). So I'm transferring this issue to the correct repository.

[2022-11-04 09:39] kostyafarber commented on #1023
Will try work on this is, if @my-acc-gh work has stalled.

[2022-11-04 10:05] #856 closed

[2022-11-04 21:06] Markook commented on #348
@snoehmer did you make any changes to the ~/.bash_profile? I am trying to figure out how to make this owrk

My systemd service looks like this originally:
[code]

Turned it into this:
...
ExecStart=/etc/profile -l -c "/home/magic/anaconda3/bin/jupyter-lab --config=/home/magic/.jupyter/jupyter_notebook_config.py
...

and my etc/.profile file looks like this:

[code]

[2022-11-06 09:57] kostyafarber commented on #1023
Looks like it's also missing for "Git" menu label at:

https://github.com/jupyterlab/jupyterlab-git/blob/master/src/commandsAndMenu.tsx#L1508

[2022-11-08 19:46] kostyafarber commented on #1023
@krassowski found the reason

Didn't work. It's here:

https://github.com/jupyterlab/jupyterlab-git/blob/3221c3eed0fdb447db5cfcff2f7f2db99e3c8c82/src/index.ts#L198-L201

If I move what's inside the if block outside the if block it applies the translation (and also a small text change I made to test).

Not sure the mechanics of how this works because the submenu still get's produced either way (but

[2022-11-08 20:17] FMelloMascarenhas-Cohere commented on #309
+1

[2022-11-09 08:22] fcollonval commented on #1023
In JupyterLab 3.2 there is a new way of defining menus to make them customizable by the users. For that the menus need to be define in the settings schema:

https://github.com/jupyterlab/jupyterlab-git/blob/3221c3eed0fdb447db5cfcff2f7f2db99e3c8c82/schema/plugin.json#L82

We try to be smart about those menus items to extract the string requiring translation. But for the two of interests here, it is

[2022-11-09 08:44] kostyafarber commented on #1023
Thanks for the clarification @fcollonval!

[2022-11-10 11:47] kostyafarber commented on #1023
Having trouble figuring out why the `nbdime` translation isn't working, I've changed the parameters for `ITranslator` to not be optional but that hasn't fixed it.

I can start working on `phrases` and implement something similar to what is in jupyerlab?

[2022-11-10 13:53] fcollonval commented on #1023
For `nbdime`, it is unfortunately not possible to add the translation as the code is [an external library](https://github.com/jupyter/nbdime) that does not support translation for now.

The documentation for that feature is the one of CodeMirror 5 that you can find [there](https://codemirror.net/5/doc/manual.html#option_phrases).

[2022-11-15 14:07] fcollonval commented on #1023
Yes let's close it and open a new issue about nbdime.

[2022-11-15 14:07] #1023 closed

[2022-11-15 14:08] fcollonval opened #1182 "nbdime is not translated"
Follow-up of https://github.com/jupyterlab/jupyterlab-git/issues/1023

nbdime widgets are not translated.

[2022-11-23 10:32] krassowski opened #1186 "Cannot navigate the file list in side panel without mouse"
## Description

Navigating the list of staged/changed/etc files in side panel is not possible without mouse. The tab jumps to next section immediately.

## Reproduce

1. Open git side panel
2. Try to tab to a changed file to add it to staged
4. See focus jump over the list of files

## Expected behavior

Can use jupyterlab-git without mouse

## Context

- Python package version:

- Extension versi

[2022-11-24 15:49] seignovert opened #1187 "Clone git submodules"
Feature request
----------------
At the moment, `jupyterlab-git` plugin is able to clone git repository in a JupyterLab environment in a very convenient way.
Unfortunately for git repo that have [submodules](https://git-scm.com/book/en/v2/Git-Tools-Submodules) only the parent is cloned and you get empty folders on the submodules.

Would it possible to add the `--recurse-submodules` flag by default

[2022-11-25 08:48] fcollonval commented on #1187
Thanks @seignovert for the suggestion. Would you be willing to create a pull request for this?

The line to change is:

https://github.com/jupyterlab/jupyterlab-git/blob/da6ed22f718ead0cc292a70c4e3dd3fbc2563493/jupyterlab_git/git.py#L287

[2022-11-25 13:02] seignovert commented on #1187
@fcollonval thanks for your feedback. I will try to do a PR.

[2022-11-28 09:35] #1187 closed

[2022-11-30 08:24] fcollonval commented on #984
To tackle this one, the best is to make use of [`git check-ignore` command](https://git-scm.com/docs/git-check-ignore) as it supports to check for all elements within a directory; e.g.

[code]

To achieve this, we need to implement:

- in the backend:
  - in `git.py#Git`, add a new method `check_ignore` that execute `git check-ignore -z <path>` and parse the result to return the list of ignored fi

[2022-11-30 22:56] sivankumar86 opened #1193 "front end cache is not working"
I am using gitlab account and saving temp credential option is not working. I need to enter credential on each push request and could you please shed some light on this ?

Jupyterlab == 3.5.0 version

Thanks
Siva