[2019-10-01 02:29] ggosiang commented on #383
I have the same problem,
JL: 1.1.3
jupy-git: 0.8.1

Not sure which versions are workable?

[2019-10-02 03:37] ggosiang commented on #419
when performing some functionalities like pull, push, clone, ...

then logs always show 404...

[code]

[2019-10-03 05:10] fcollonval commented on #419
Hey, the server extension is probably not installed. You could check it using
[code]
If you have installed the python package through pip, you will need to enable the serverextension:
[code]

[2019-10-03 05:23] ggosiang commented on #419
yes, already enabled it
but still got same error

[code]

[2019-10-03 11:09] Snapple49 commented on #419
I'm also getting this error after installing, enabling and rebuilding lab. The buttons are there in the ui, but cloning repo fails with 404:
```[W 11:02:31.696 NotebookApp] 404 POST /git/all_history?1570100551689 (10.10.0.33) 3.33ms referer=https://<public url redacted>/lab?```

[2019-10-03 11:36] flight505 commented on #419
same here - not able to add a repo

[2019-10-03 15:05] ktaletsk commented on #299
@n-a-sz @mirestrepo @DraTeots the Simple Auth feature has been merged. Please, give it a try and report any issues here.

[2019-10-03 15:15] fcollonval commented on #299
Closed by #345

[2019-10-03 15:15] #299 closed

[2019-10-03 23:26] joelion opened #420 "Install error - yarn network connection"
I am behind a corporate proxy. However, I have all of my proxy and ssl settings set up in `~/.npmrc` and `~/.yarnrc`, and use `npm` to install things all the time.

I've installed various other labextensions with no problem, but jupyterlab-git extension fails when I install it using `jupyter labextension install @jupyterlab/git` or if I clone and install directly. It always fails at:

[code]

When

[2019-10-06 10:52] suiluj commented on #392
i would like to have this feature

[2019-10-06 13:14] fcollonval commented on #392
@suiluj if you are willing, PR are welcome. And we could help you with this.

[2019-10-06 18:34] suiluj commented on #392
@fcollonval i found a easy to understand demo of nbstripout (did not know it till today)

here is the YouTube video demo. so now i think there is no need for further integrating this:

https://youtu.be/BEMP4xacrVc

[2019-10-06 18:56] fcollonval commented on #420
Could you try to request information on the missing package?
[code]

Usually the error `info There appears to be trouble with your network connection. Retrying...` has one of the following root causes:
- Bad internet connection
- Wrong yarn configuration (more probable in company infrastructure)

Your problem could be hard to solve, because in addition to be behind a corporate proxy, it looks like

[2019-10-16 08:48] Mowar opened #425 "How to init a project"
When I select init a project, The Init button malfunction.

![init](https://user-images.githubusercontent.com/16316288/66903265-be1c4480-f034-11e9-88e0-32fcdb3fdd65.png)

[2019-10-17 06:08] #418 closed

[2019-10-17 09:29] fcollonval commented on #425
Could you please provide more information?

Versions of the extension and Jupyterlab.
If possible errors in the web console and in the server console.

[2019-10-17 21:57] thoralf-gutierrez opened #427 "Notebooks with spaces in the name don't get recognized as .ipynb"
## Description

We have notebook files with spaces, like `DataLake - Spark.ipynb`. Those file names get cut at the first space character in the history section, which means they don't get recognized as .ipynb files and we can't click on the diff icon to look at the diff for the notebook.

<img width="414" alt="JupyterLab" src="https://user-images.githubusercontent.com/5640848/67050464-71e10b00-f0e

[2019-10-18 21:44] thoralf-gutierrez commented on #427
I've identified the issue to https://github.com/jupyterlab/jupyterlab-git/blob/master/jupyterlab_git/git.py#L308 , we need to specify `split(maxplits=2)`. There are also no tests for `detailed_log`.

I will push a PR ready to fix both soon.

[2019-10-18 23:02] marskar commented on #420
Could conda environments help to fix this dependency issue?
I have the same problem and I'm trying to solve this with the following conda command`conda create -n jupy -yc conda-forge jupyterlab-git nodejs yarn=1.15.2`

[2019-10-18 23:55] marskar commented on #420
I also got it to work outside of a conda env with yarn 1.19.

<details>
 <summary>Results of `conda list` outside of any conda env</summary>
[code]
</details>

<details>
 <summary>Results of `conda list` inside of my `base` conda env</summary>
[code]
</details>

Interestingly, whenever I run `npm list`, I always get
[code]
even if I am in a conda environment with the yarn version pinned to 1.15.2!

[2019-10-19 00:08] marskar commented on #420
text

[2019-10-19 10:13] #427 closed

[2019-10-19 14:13] fcollonval commented on #402
Associated PR #400 merged => closing this

[2019-10-19 14:13] #402 closed

[2019-10-19 14:17] fcollonval commented on #419
I'm closing this as @flight505 has proposed a solution. If anybody still encounters this issue, feel free to open an new issue.

[2019-10-19 14:17] #419 closed

[2019-10-20 05:52] #410 closed

[2019-10-20 07:26] fcollonval opened #429 "Use more svg icons for better theming"
Continue work of #426. But it may be worth to wait for jlab 2.0 release that will simplify handling svg icons.

See @telamonian comment

I plan to open an issue to use more svg for icons in a further PR. But I'll put your comment in it to maybe delay that for JLab 2.0.

_Originally posted by @fcollonval in https://github.com/jupyterlab/jupyterlab-git/pull/426#issuecomment-544136921_

[2019-10-20 07:29] fcollonval commented on #410
@vnijs could you open a separate issue for the second bug please?

[2019-10-20 10:15] fcollonval commented on #341
Some additional thoughts about installation of extension with both a front and a backend:

I think bumping versions post release is a good idea. It's been standard practice in core and a bunch of other extensions. In spite of my earlier speculation, I actually don't think it would have helped fix the trouble I ran into with an old version of labextension getting installed (on a low level, it had t

[2019-10-20 10:17] telamonian opened #430 "Consider unbundling labextension from Python extension"
Currently, the Typescript for the labextension is bundled in with the Python package. This smells like an anti-pattern. Beyond the issues I ran into in #424, there's a bunch of other obvious problems. For example, every time there's a new release of the labextension, we'll also have to do a new release of the Python package, even if there's no changes to the Python code. A better solution would be

[2019-10-20 15:11] telamonian opened #432 "Branch `tag` data fetched by `/git/all_history` api is very slow and is not used"
The `/git/all_history` api fetches info for all of the branches of a repo. This is implemented via a call to [`Git.branch`](https://github.com/jupyterlab/jupyterlab-git/blob/master/jupyterlab_git/git.py#L365). Part of the info that `Git.branch` fetches is the branch's `tag`, which is the result of this call:

https://github.com/jupyterlab/jupyterlab-git/blob/e651beae6b78d3c24692e5f1936dfa98b3d5055

[2019-10-20 19:09] vnijs opened #433 "wrapping of text in git UI side panel makes filenames unreadable"
When in a git repo the panel showing changed and staged files, the file names wrap in a way that makes them overlap (1st screenshot below). If the side panel is made wider all is well as you can see in the 2nd screenshot.

![image](https://user-images.githubusercontent.com/2998956/67164650-a513dc00-f331-11e9-857d-56026eeb5355.png)

![image](https://user-images.githubusercontent.com/2998956/6716466

[2019-10-20 19:17] vnijs opened #434 "clicking on git icon produces JS errors ("props.onClick is not a function")"
FYI Clicking on the git icon on the top-right of the image below is what generate the props.onClick is not a function error.

![image](https://user-images.githubusercontent.com/2998956/67164823-62530380-f333-11e9-859b-702bee963309.png)

<pre>
jovyan@mini ~ jupyter labextension list
JupyterLab v1.1.4
Known labextensions:
   app dir: /usr/local/share/jupyter/lab
        @jupyter-widgets/jupyterlab-m

[2019-10-20 20:33] telamonian opened #436 "The sidepanel widget does not restore correctly"
Currently, even if a user is within a repository, for whatever reason on startup of jlab (and also on page refresh) the user has to first manually click the refresh button at the top of the `jupyterlab-git` sidepanel UI in order to load their repo into the sidepanel. This should happen automatically.

[2019-10-21 02:03] telamonian commented on #408
I definitely like this suggestion. The current design is a mess, and this would be a way to refactor into something more manageable.

What I'm not sure about though is how to get an encapsulated model to play nicely with the zoo of React components. Specifically, how do we set up the various `props` and `state` w.r.t. the model such that the minimal set of re-renders occur on any given update to t

[2019-10-21 02:15] telamonian commented on #329
Superseded by #429

[2019-10-21 02:15] #329 closed

[2019-10-21 02:25] telamonian commented on #349
fixed in #350

[2019-10-21 02:25] #349 closed

[2019-10-21 04:08] telamonian commented on #408
It appears that this particular problem is exactly what [`react-redux`](https://github.com/reduxjs/react-redux) was designed to handle. However, it does not look especially simple to start using. I'll look into it.

[2019-10-21 07:05] fcollonval commented on #408
@telamonian I'm working on this; although not looking at it through `react-redux`. I quickly created a draft PR #438 if you want to have a look.

The goal is to separate the model from the UI mainly to improve the code architecture (it is definitely a mess) and to provide useful token for third-party extension (mainly call git actions from other extensions).

Regarding model and re-rendering, I mu

[2019-10-21 07:06] fcollonval commented on #433
Thx for reporting it

[2019-10-21 07:07] fcollonval commented on #434
@vnijs thx for creating a separated issue.

[2019-10-21 07:12] fcollonval commented on #430
Adding a note for consideration: shipping the .js code within the python package is the strategy used by the classical notebook extension.

[2019-10-21 08:14] telamonian commented on #430
That's a point, and it's also true the `jupyterlab` pip package includes the built/bundled `.js` of all the core packages (though not the `.ts` sources. We should at the least remove those from our `sdist`). However, we're dealing with some unique issues in this repo due to the design and intent of the JupyterLab extension system.

For example, if someone tries to install this extension by first r

[2019-10-21 08:50] telamonian commented on #408
I know almost nothing about `redux`. Did your source say it was overkill because of a performance hit, or was it because of how difficult it is to set up?

I took a quick look at #438. I definitely appreciate all of the additions of strong typing. I'll review it in detail later.

Also, I totally support the idea of splitting up the refresh into more specific updates.

[2019-10-21 09:36] fcollonval commented on #408
It is about set up burden and strict code rules; I did not hear about performance issue - but my knowledge on the subject is closed to nothing.
Here are one of the article you could find on the web: https://marmelab.com/blog/2018/06/27/redux-or-not-redux.html

[2019-10-21 11:46] fcollonval opened #439 "Make subprocess call asynchronous"
## Description

Make the git subprocess call asynchronously.

This is a follow-up of #435 to improve user experience in case such as #432 (summarize here below).

The /git/all_history api fetches info for all of the branches of a repo. This is implemented via a call to Git.branch. Part of the info that Git.branch fetches is the branch's tag, which is the result of this call:
[code]

The tag is sup

[2019-10-21 19:37] fcollonval commented on #434
The root cause for the error is that no click callback is defined for the disable clone button:

https://github.com/jupyterlab/jupyterlab-git/blob/master/src/widgets/gitClone.ts#L42-L45

[2019-10-22 21:38] joelion commented on #420
@fcollonval  - i am using the `jlpm` bundled in JupyterLab, and it is 1.15.2. The 1.19.0 you were seeing was my `yarn` version. Or, should `jlpm` and `yarn` be the same version...? Below is the yarn error when I run `jlpm install`

[code]

Thanks @marskar. I, too, downloaded `jupyterlab-git` and tried to install it from source, but I run into the same error when it tries to install dependencies.

[2019-10-30 23:07] jaipreet-s commented on #439
There's also Tornado's  Subprocess utilities which are designed to work in an async environment

https://www.tornadoweb.org/en/stable/process.html#tornado.process.Subprocess.wait_for_exit

[2019-10-31 06:20] fcollonval commented on #439
Unfortunately `wait_for_exit` is not supported on Windows.
As stated in a discreet comment in the documentation:

[2019-10-31 17:35] jaipreet-s commented on #439
That's unfortunate!

[2019-11-03 12:09] #432 closed

[2019-11-04 10:09] pfarndt opened #442 "Stage all changes -misleading / unintuitive"
There is a "Stage all changes" button to the left of the list of the "Changed" files in my repo. Clicking on it a `git add -A` is triggered, which tries to add (in my case many) more files then just those listed under changed. I find this behavior unintuitive, since I would suspect that only those files listed there would be added.

Would it be possible to add only those files which are listed the

[2019-11-06 00:03] jaipreet-s opened #443 "Files with long names are misaligned and incorrectly wrapped"
## Description

If a file has a rather long name, the Git extension wraps it onto the following line. This can also stomp on the next file name in the list.

<img width="475" alt="Screen Shot 2019-11-05 at 3 57 52 PM" src="https://user-images.githubusercontent.com/43826141/68256609-7f4f2e00-ffe5-11e9-9acd-a49897f73694.png">

## Reproduce

1. Go to Git panel in a Git repo with a long filename
3. Sc

[2019-11-06 03:02] b-trav opened #444 "conda install"
Hi, I am using jupyterlab in an offline environment. I have found that [conda pack](https://conda.github.io/conda-pack/) makes getting jupyterlab up and running in the offline environment pretty easy, however jupyterlab-git is the one extension that I use which is not packaged using conda.

I understand that it might be a lot of work, but it would be greatly appreciated if it was possible to insta

[2019-11-06 05:45] fcollonval commented on #442
Thanks for reporting.
Indeed, using `git add -u` would be more appropriate.
The call is carried out there:
https://github.com/jupyterlab/jupyterlab-git/blob/53ee4737d5de211041c579c85a8f71c2ab313914/jupyterlab_git/git.py#L539

Would you be willing to write a PR for this?

[2019-11-06 05:48] fcollonval commented on #443
In the rework of #438, this is corrected by removing the `flex-wrap` attribute on filename. The consequence is that the revert and diff icon appears at the right edge like in vs code and no more right after the filename.

[2019-11-06 06:29] jaipreet-s commented on #443
Great!

Do you have screenshots of the updated UX? I didn't see any in the referenced PR.

[2019-11-06 08:51] Racle opened #445 "Installation guide with docker for version <0.9"
After searching and trying to figure why installation guide doesn't work, I got it working with this on my custom jupyter Dockerfile (base is jupyter/pyspark-notebook)

[code]

With these commands git is installed and working.

I couldn't get extension up with guide in readme.

UPDATE: almost works, extension doesn't find any git repositories
UPDATE2: it works. seems that `--sys-prefix` was requir

[2019-11-06 09:57] Racle opened #446 "Failed to fetch diff"
Server responds: `HTTP 422: Unprocessable Entity (Invalid notebook: pipelines/base/index.ipynb)`

On my filesystem, I have files like this

[code]

On request payload it shows as `"file_path":"pipelines/base/index.ipynb"`

I can commit/push/pull, but cannot view difference.

I tried to run request with postman and changing `file_path`, but even when I changed `file_path` to `/home/jovyan/pipelines

[2019-11-06 20:28] #408 closed

[2019-11-06 20:28] #436 closed

[2019-11-06 20:28] #346 closed

[2019-11-06 20:28] #434 closed

[2019-11-07 02:58] jamesjnadeau commented on #444
I will note that I couldn't get this to work with my setup, I was able to install the package from conda:
https://anaconda.org/conda-forge/jupyterlab-git

Didn't know about conda pack, pretty cool!

[2019-11-07 07:16] fcollonval commented on #445
@Racle thank you for reporting. Actually, the readme in github is providing the latest way (not yet publish) to install the extension.

I'll keep this open for reference.

[2019-11-07 07:24] fcollonval commented on #446
Thx for reporting this should be fixed by #406

[2019-11-07 07:31] fcollonval commented on #444
@b-trav I did not know conda pack. Thx for sharing.

Can you provide more information on what you did:
- did you install Jupyterlab-git server and frontend extensions?
- the final Jupyterlab files with extensions is stored in conda folder `share/jupyter/lab/static`. Is that folder packed with the environment?

As intermediate step, you could use [jupyterlab_delux cookiecutter](https://github.com/j

[2019-11-08 14:32] #442 closed

[2019-11-13 07:11] telamonian commented on #386
@jaipreet-s Features to make things easier for git novices are good! But they definitely shouldn't be the default behavior, especially if they undercut the basic functionality of git. Instead, we should in general aim to have our UI offer functionality comparable to that of the underlying `git` cmd line tool (though complete parity is, of course, a long term goal). Breaking git by default seems li

[2019-11-13 08:32] fcollonval commented on #386
@telamonian Thx for the PR. I have one question reading comments here and your PR. It seems more interesting to allow branch creation/switch all the time. But by default, a dialog would be raised asking confirmation and emphasized it is discouraged (i.e. with default answer "Don't carry the branch action"). And your proposal of introducing a setting could be kept to deactivate that confirmation re

[2019-11-13 10:31] telamonian commented on #386
@fcollonval Even better would be the dialog that Github-desktop pops up in the same situation:

![image](https://user-images.githubusercontent.com/2263641/68754803-66daa700-05d5-11ea-9138-4bc77da5568d.png)

for which we'd also need some kind of autostash enable/disable. Shouldn't be too hard, but that's fodder for future PRs. The implementation for #450 is dead simple, and I think is a good first

[2019-11-14 06:49] fcollonval commented on #386
So let's go for prompting a warning dialog and not using a setting. This is simple and does not require advanced users to know about a setting. users tend to go to the documentation or the git repository rather that looking for settings.

[2019-11-14 08:28] fcollonval commented on #420
@joelion from the error
[code]

It confirms your connection is very slow or not properly set. When executing `jlpm install`, have the `node_modules` started to be populated by some folders?

If yes, you probably have a very slow connection. So try multiple time `jlpm install`. At some point, it won't fail. Then, all packages being cached, you will be able to install the extension through `jupyter

[2019-11-14 12:44] dhirschfeld commented on #386
As a power user, I *hate* unnecessary dialogs that you have to click through so I'd very much appreciate a setting to disable that.

[2019-11-14 18:19] fcollonval commented on #443
@jaipreet-s here is the screenshot for the current code:

![image](https://user-images.githubusercontent.com/8435071/68884522-a1e2f480-0713-11ea-98cc-9b0415980dda.png)

[2019-11-14 18:19] #443 closed

[2019-11-19 06:35] fcollonval commented on #369
Fixes by #385

[2019-11-19 06:35] #369 closed

[2019-11-19 13:34] harrybiddle opened #452 "Icon does not appear in left panel"
## Description

After installing there is no "Git" icon in the left side panel.

![image](https://user-images.githubusercontent.com/5887227/69150169-69a73180-0ad8-11ea-9fbb-40a0c4d684b5.png)

## Reproduce

With python version 3.6 (managed using pyenv), node 13.1.0, npm 6.12.1:

1. `poetry init -n`
2. `poetry add jupyter jupyterlab jupyterlab-git`
3. `poetry shell`
4. `jupyter lab build`
5. `jupyte

[2019-11-19 13:49] harrybiddle commented on #452
Aha! I've found I can get this to work if I run:

[code]

Should this step be part of the README?

[2019-11-19 17:24] fcollonval commented on #452
Hey @harrybiddle the README is up to date with the current master. But simpler deployment has not been published yet.

[2019-11-20 15:28] harrybiddle commented on #452
Oh right, I see.

[2019-11-21 01:55] telamonian commented on #452
I would be curious to find out if the labextension-install-via-`setupy.py` in `HEAD` works with `poetry`. From the paths you shared above, it seems like it should.

[2019-11-21 01:58] telamonian opened #453 "Now seems like a good time for the next minor release"
A whole raft of things have been changed, fixed, or improved since the last release. We should go ahead and do a new minor release.

The recent issue #452 seems like a good indication that we should go ahead and publish a new version already. There's a few cool new features on the near horizon (plain-text diff, simple staging, better branch handling), but there's no reason to let them block a new

[2019-11-21 05:48] fcollonval commented on #453
Hey @telamonian I fully agree and I gladly do it. But I don't have the rights on pypi nor on npmjs to publish this package.

[2019-11-21 09:35] harrybiddle commented on #452
Unfortunately it doesn't seem like it does work through poetry alone 😞 (assuming that the install-via-setup.py is already in master). If I do this...

[code]

...then there is no Git icon in the frontend. If I run the `jupyter labextension install` then it appears.

However, if I create the Poetry environment _without_ jupyterlab-git, then drop into the virtualenv and install jupyterlab-git using

[2019-11-21 09:50] fcollonval commented on #452
Thanks @harrybiddle to look it up. I'll rename and reopen the issue.

[2019-11-21 09:57] fcollonval commented on #452
The steps done by `pip` when installing from the source are:
- compile the frontend extension
https://github.com/jupyterlab/jupyterlab-git/blob/50952c9c8ba8ba6c4dab3eca217e8cba08655d56/setup.py#L48
- put the resulting package in labextension folder
- copy the package file in the default extension folder of Jupyterlab
https://github.com/jupyterlab/jupyterlab-git/blob/50952c9c8ba8ba6c4dab3eca217e8cb

[2019-11-21 10:32] harrybiddle commented on #452
Awesome, that's perfect. I've created an issue at https://github.com/sdispater/poetry/issues/1615. At the time of writing they had 291 issues, so not sure if they'll ever get to it! 🤞

[2019-11-21 18:28] telamonian commented on #452
Weird then that `nbdime` installs correctly, since its labextension gets installed via a very similar protocol in its own `setup.py`

[2019-11-21 18:48] telamonian commented on #453
Then I'll take care of it. I have rights on npmjs, and I'll see about pypi. My plan will be that both server extension/labextension will get bumped to `0.9.0`.

It's optional, but it would be nice to have a changelog. I can write up a summary of my own PRs. @fcollonval @jaipreet-s and anyone else who's done a recent PR: can you please post a short summary of any PRs you posted after `0.8.2` was re

[2019-11-22 04:37] telamonian opened #454 "The git sidepanel does not refresh on file changes/autorefresh interval too long"
ref: https://github.com/jupyterlab/jupyterlab-git/pull/448#issuecomment-554193273

Currently, when you make changes to a file on disk in a git repo, it takes a significant lag period before said changes show up in the git sidepanel UI. One quick fix would be to shorten the autorefresh interval. Even better though would be to listen for some flavor of "file changed" signal and trigger a refresh the

[2019-11-22 04:38] jaipreet-s commented on #453
@telamonian Thanks for owning the release. Whats your PyPI username so I can grant you permissions to upload?

[2019-11-22 05:38] telamonian commented on #453
You're welcome. The recent progress has been good, and I think we're well on the path to `v1.0`. Still needs a bunch of fixes and a ton of elbow grease, but we're getting there.

On pypi, my user name is just tel:

https://pypi.org/user/tel/

[2019-11-22 08:17] fcollonval commented on #452
I had a quick look. `nbdime` is not using `jlpm` to build the js files. Could it be that in our case, as jupyterlab installation is requested at the same time, that the js build fails due to a `jlpm not found` error?

[2019-11-22 08:18] fcollonval opened #455 "Clean-up `GitExtension`"
Currently, `GitExtension` is a bit painful to work with, and is in need of some cleanup and organization. Really, it's a bunch of nits I should have caught/fixed when I reviewed #438.

@fcollonval Would you be willing to do a new PR with some cleanup of `GitExtension`? At the very least, sorting/alphabetizing the methods would make it a lot easier to navigate and work with.

_Originally posted by

[2019-11-22 08:21] fcollonval opened #456 "Reorganize menu items"
The "Git" menu is in need of a reorg (we definitely don't need a menu item that clicks the sidebar button for the user, and a menu item that opens a new terminal and `cd`'s to the current dir is too general. It should maybe be in the main jlab "File" menu, tho). That's yet another separate issue though.

_Originally posted by @telamonian in https://github.com/jupyterlab/jupyterlab-git/pull/448#iss

[2019-11-22 15:08] harrybiddle commented on #452
To investigate your theory I did an experiment:

1. Install the poetry environment as above, except _without_ the jupyterlab-git line
1. Add the jupyterlab-git line to pyproject.toml. Run `poetry lock && poetry install`.
1. `jupyter lab build`

However, the frontend element still did not appear. I tried to put Poetry into verbose mode but I still can't find any logs. If I get a chance I'll try ano

[2019-11-22 15:21] fcollonval commented on #452
Thx Harry for investigating more. A new version of the package will soon be available with the lab extension shipped within it. Maybe this will at least solve the "classical" installation (i.e. not via github).

[2019-11-22 20:21] jaipreet-s commented on #453
Done.

[2019-11-26 02:16] kgryte commented on #454
@telamonian Unfortunately, e.g., in `@jupyterlab/filebrowser`, the same polling logic and interval is as followed here (see <https://github.com/jupyterlab/jupyterlab/blob/78e7bf2d6848fe22f2b59200c832e60f83b6ad22/packages/filebrowser/src/model.ts#L90>).

If locking up the UI is a concern, it would be nice to have a server push-based model, rather than a pull-based model (e.g., via server sent event

[2019-11-26 03:10] telamonian commented on #454
@kgryte Before you do a PR that just reduces the interval, take another look at the snippet you linked to above. In particular the `services.contents.fileChanged.connect(...)` line

[2019-11-26 03:29] telamonian commented on #454
Tracing it out, in the same constructor that sets the autorefresh interval for the filebrowser:

[code]

also connects the `_onFileChanged` method (of the filebrowser model that's being constructed) to the `fileChanged` signal of `services.contents` (which is a `Contents.IManager`). In turn, `_onFileChanged` will directly ring the `refresh` method of the model's `_poll`:

[code]

So we should list

[2019-11-26 03:32] telamonian commented on #454
@kgryte Switching over to a push-based model would also be lovely, but I for one don't know exactly how to implement that. I'm even not sure if there are any extant examples in the `jupyterlab` github org, but it would be a nice pattern for us to adopt in various places.

[2019-11-26 03:46] telamonian commented on #456
I vote that we prune the:

- "Git Interface"
- "Git Command in Terminal"

menu items for the reasons stated in the first post above.

If not pruned, at the least the "Init" item needs to be greyed out when the user is currently in a valid repo.

As to what actions should be in the Git menu, here's one possible minimal list:

- Init
- Push
- Pull
- Rebase

These all make sense to one extent or anot

[2019-11-26 03:53] kgryte commented on #454
Agreed. Listening for `fileChanged` events should work in the sense that when a user modifies/adds/remove/renames/saves a file in Lab, then we can trigger a status refresh.

However, we should still modify the polling interval and allow it to be configured IMO. If I modify a file in Finder or in my local text editor or in my IDE, TMK the `fileChanged` event is not triggered. Rather, we have to wai

[2019-11-26 04:13] telamonian commented on #454
For point of reference, I just tested it out, and it appears that the default filebrowser does indeed use the default refresh value of `10s`. As well, it looks like you're right about `fileChanged`: there's no deep magic running that catches changes made outside of the Jupyter contents stack.

I'm definitely onboard for listening for `fileChanged` **and** making the polling interval configurable.

[2019-11-26 04:23] kgryte commented on #454
I think the main issue with a longer polling interval is that it violates user intuition in terms of a "simple" Git interface which is as simple as save. With "save" as my mental model, I feel like, if I make an edit outside of Lab, I am going to want to save/commit it immediately, not have to wait around for Lab to poll. I sense that users, especially the non-technical types, are used to immediac

[2019-11-26 04:24] kgryte commented on #454
And yeah, I saw that the file browser is configurable; however, that is not exposed to the end user. I think if orgs are concerned about performance, by adding a refresh interval to settings, we can allow them to adjust to taste. We can just provide a sensible default (maybe 4-5s) and tell them they can adjust accordingly.

[2019-11-26 06:36] fcollonval commented on #456
I agree on the proposed changes. But I would keep the open terminal in current repo feature at some other place.

We could add it at the top of the sidebar with the push and pull buttons and have the repository path below like for the filebrowser.

Note: I'll try to find time to add a feature for pinning the repo path.

[2019-11-26 19:01] cmclinton opened #457 "Lost @jupyterlab/git icon and menu from Jupyterlab"
I initially installed @jupyterlab/git via the extension manager within Jupyterlab. After installation, I had the jupyterlab/git icon in the sidepanel on the left and the Git menu within Jupyterlab. However, no actual git functionality was present (due to the lack of serverextension when installing through the extension manager). I then uninstalled @jupyterlab/git via the extension manager which re

[2019-11-26 19:21] cmclinton commented on #457
Also adding the following...
`
C:\>jupyter serverextension list
config dir: C:\Users\clintonc\.jupyter
    jupyter_nbextensions_configurator enabled
    - Validating...
      jupyter_nbextensions_configurator 0.4.1 ok
    jupyterlab_git enabled
    - Validating...
      jupyterlab_git  ok
config dir: C:\Users\clintonc\AppData\Local\Continuum\anaconda3\etc\jupyter
    jupyterlab enabled
    - Valid

[2019-11-26 23:24] telamonian commented on #453
I've been working on this for the last couple of days. Before we do the release, there's one PR that needs to go in (in one form or another): #458.

Right now, we include in our Python package (ie the sdist) the complete build system for the labextension, *as well as* a built labextension artifact (ie the `.tar.gz` that `npm pack` spits out). This is completely redundant, and leads to some very qu

[2019-11-26 23:29] telamonian commented on #453
As per ongoing discussions with @blink1073 and @saulshanabrook, big changes are coming soon the jupyterlab extension system as a whole. The future shape of extensions will be similar to that of #458: a Python package that also includes a prebuilt, ready to use JS bundle.

More details on that will come after the dev meeting next week

[2019-11-27 00:04] kgryte commented on #454
Submitted a PR. :)

[2019-11-27 00:11] kgryte commented on #453
@telamonian Would it be possible to sneak in #459,  provided it is deemed acceptable, before publishing a new release?

[2019-11-27 01:22] telamonian opened #460 "Simple staging is broken for newly init-ed repos"
Currently, when you init a new repo and try to turn on simple staging, you get this error

[code]

This needs fixing.

[2019-11-27 01:26] telamonian commented on #453
The new build is now live on the Pypi test server (but not the real Pypi or npmjs) if anyone wants to give it a whirl:

https://test.pypi.org/project/jupyterlab-git/

I've tested it and it seems good, aside from the bug in simple staging that I just found: #460

[2019-11-27 02:34] telamonian commented on #453
@kgryte Since it's short, I already reviewed #459. If it's done when the release is made, it'll go in (no promises)

[2019-11-27 02:42] telamonian commented on #457
It appears that you have some crud in your Jupyterlab app dir. Specifically, it looks like `<your-jlab-app-dir>/settings/build_config.json` has some bad values. You should be able to fix it by running:

[code]

The above command heals many weird installation issues, especially those that carry over between different versions and installed copies of jlab.

[2019-11-27 10:38] fcollonval commented on #456
It may be interesting to add :

* Clone

[2019-11-27 15:07] cmclinton commented on #457
Thanks - I ran your suggestion and it did not fix the issue. I then reviewed the contents of my build_config.json file and it contains the following

`{
    "uninstalled_core_extensions": [
        "jupyterlab-chart-editor",
        "@jupyterlab/git"
    ]
}`

I also ran `jupyter labextension list` which is pasted below...

`C:\>jupyter labextension list
JupyterLab v1.2.3
Known labextensions:
   a

[2019-12-01 02:26] kgryte opened #468 "Supporting non-public and non-GitHub repositories"
## Description

Upon clicking the file icon in the Git history panel for a single file, the extension attempts to [open](https://github.com/jupyterlab/jupyterlab-git/blob/a78cac8482ff5d4c7258515b75d3dfd0606cc4bf/src/components/SinglePastCommitInfo.tsx#L213) a public GitHub URL.

Such behavior is likely not desirable when a repository is not hosted or, if hosted, not hosted on GitHub.

## Reproduce

[2019-12-01 04:42] alex-kravets commented on #419
The problem is still present even after the new Jupyter Lab release 1.2.3. So nothing has changed - this issue should be opened again.

[2019-12-01 11:36] #430 closed

[2019-12-01 11:41] fcollonval commented on #419
@alex-kravets could you please open a new issue? And provide as much information as possible on your installation and the error message you are getting.

[2019-12-01 13:06] fcollonval commented on #468
Thanks for reporting this bug.

I think at the file level component, we should drop that double click action and indeed prefer the _open diff_ action (on simple click).

But should we have a similar although more generic action on the commit hash?

https://github.com/jupyterlab/jupyterlab-git/blob/a78cac8482ff5d4c7258515b75d3dfd0606cc4bf/src/components/PastCommitNode.tsx#L81-L83

[2019-12-02 05:29] telamonian commented on #453
Okay, so with the changes made in #458 I think our unified serverextension/labextension bundle (and the build/release system that goes with it) is up to snuff. My current plan is to do the release of `0.9.0` in the next day or two.

I'll also try to get #459 and #469 in because they're almost done, but I won't let them block the release.

[2019-12-03 12:44] #460 closed

[2019-12-03 12:48] #454 closed

[2019-12-03 13:09] fcollonval commented on #433
This has been fixed by #438. A screenshot is available in https://github.com/jupyterlab/jupyterlab-git/issues/443#issuecomment-554013803

[2019-12-03 13:09] #433 closed

[2019-12-03 13:33] #386 closed

[2019-12-03 13:38] fcollonval opened #470 "Follow up on disabling branching"
This is a follow up on disabling branching #386.

Even better would be the dialog that Github-desktop pops up in the same situation:

![image](https://user-images.githubusercontent.com/2263641/68754803-66daa700-05d5-11ea-9138-4bc77da5568d.png)

for which we'd also need some kind of autostash API. Shouldn't be too hard, but that's fodder for future PRs. The implementation for #450 is dead simple, a

[2019-12-03 16:56] telamonian commented on #453
I just put the `0.9.0rc0` up on the test Pypi. Try it out with:

[code]

Assuming there's no glaring issues, I'll release `0.9.0` on the real Pypi in the next hour

[2019-12-04 00:04] jamesjnadeau opened #471 "Path issue for diffs on Windows"
I searched for other issues like this, but couldn't find any.

## Description
I'm not able to get the diff tool to work on Windows. When trying to view a diff, the DiffWidget component displays an error. I believe this is related to paths being improperly passed to the backend for diffs when using windows paths.

I believe the function call here is causing the issue:
https://github.com/jupyterlab/

[2019-12-04 05:52] fcollonval commented on #471
Thanks for reporting @jamesjnadeau

There is indeed a bug in the file path sent to nbdime. In #406, I did a correction. If you can could you try to install that branch to see if it fixes your problem?

[2019-12-04 07:29] alex-kravets opened #472 "There is no way to checkout to newer commit"
## Description

It is only possible to checkout old commits, but there is no way to get back to HEAD then.

## Reproduce

1. Start Jupyter Lab in git folder
2. Checkout previous commit (or another from the history) on the current branch (there must be at least two commits to reproduce the behavior)
3. Now try to get back to the most recent commit
4. Profit ;)

## Expected behavior

You won't be ab

[2019-12-04 07:49] alex-kravets opened #473 "Fails on loading history"
##  Description

There is a bug that prevents the plugin from working smoothly. Actually, after pure installation I cannot work with the plugin at all. Plugin fails during loading repo history because of accessing an element in a dict by a key that does not exist.

## Reproduce

1. Create a new folder and initialize a git repo inside of it
2. Run jupyter lab from this folder
3. Go to Git panel on

[2019-12-04 08:07] fcollonval commented on #473
@alex-kravets Thanks for reporting this bug. Could you provide the version of the python package and the jupyterlab extension you are using?

[2019-12-04 08:08] fcollonval commented on #472
Thanks for the suggestion @alex-kravets

[2019-12-04 13:41] jamesjnadeau commented on #471
I'm logging what I did to try this out locally in the hopes this can be added to the docs later...

1. Clone the repo:
[code]

1. Install the package from the local branch
[code]

1. Enable the extension & rebuild jupyter lab assets
[code]

1. Launch Jupyter Lab and test

[2019-12-04 14:30] jamesjnadeau commented on #471
@fcollonval I tried to use your branch for pull#406 (see above steps I took) the ` plaintextdiff-cm` branch did not recognize a git branch for me.

I also tried `fix-471-absolute-path-nbdime` branch and had similar results.

Here's  the error I see in jupyter labs output for the `fix-471-absolute-path-nbdime`:
[code]

reverting back to the version installed from conda allows the panel to work as e

[2019-12-04 17:46] fcollonval commented on #471
@jamesjnadeau Thx for trying out. Actually you missed one step that rebuild the frontend extension. This is the source of the error you reported.

The commands to install from git as dev are the following:
[code]

Note: if you could try it on the branch `fix-471-absolute-path-nbdime` to ensure it covers your bug, it would be great.

[2019-12-04 17:50] fcollonval opened #476 "Update README screencast"
The extension deserves a more recent screencast.

[2019-12-04 18:15] telamonian commented on #453
Me and @kgryte tested out the RC, and we did indeed find a couple of glaring issues. The fixes are now up at #477 and #478. Once these get pulled in I'll do the release

[2019-12-04 21:11] telamonian commented on #453
`v0.9.0` is live! May the good OSS mojo be with us

[2019-12-04 21:11] #453 closed

[2019-12-05 00:21] telamonian opened #481 "styling defect: gap between list of logs and bottom of git UI panel in history tab"
Currently, the bottom of the log list in the history tab looks a bit weird, especially if the git sidepanel is set narrow enough for there to be a horizontal scrollbar:

<img width="300" alt="image" src="https://user-images.githubusercontent.com/2263641/70192775-7627ae80-16c2-11ea-9a8b-6301d21379a9.png">

There's a gap between the bottom of the log list and the bottom of the actual `GitPanel` widg

[2019-12-05 00:23] telamonian commented on #476
I didn't understand what you meant by "screencast", but you're talking about the animated `.gif` near the top of the README, right? In that case I agree 100%. Lots of things have changed (for the better), and we should inform about/advertise that.

@fcollonval Here's a stab at a replacement `.gif`:

![ui_glow_up_090](https://user-images.githubusercontent.com/2263641/70192929-fb12c800-16c2-11ea-805

[2019-12-05 00:48] telamonian commented on #457
@cmclinton This is a weird one. I showed your problem to some of the people in the jlab core team who wrote the `labextension` app in the first place, and it's apparently a new one on them too.

The best advice that I can pass on to you is to manually delete the entire contents of your jlab app dir, then do another `jupyter lab build`. The big downside to this approach is that this wipes your exte

[2019-12-05 02:11] telamonian commented on #476
I went ahead and made the PR at #482. @fcollonval let's continue the conversation there

[2019-12-05 05:24] telamonian opened #483 "followup #406: diff all the plaintext things"
ref https://github.com/jupyterlab/jupyterlab-git/pull/406#discussion_r354111456

#406 has been reviewed/approved, and once it's pulled in we'll be able to diff plaintext files. However, the UI/frontend only allows diffing a file if its extension is recognized. Ideally, we should be able to diff any plaintext-like file that `git diff` can handle.

One approach would be to allow the user to ask for

[2019-12-05 05:34] telamonian commented on #383
Closing as resolved. The parts of the code that were giving @mpilosov and @bernhard-42 trouble have been completely refactored since this issue was opened.

If anybody runs into similar problems, please open a new/fresh issue.

[2019-12-05 05:34] #383 closed

[2019-12-05 05:35] telamonian commented on #352
This will be fixed once #406 is merged

[2019-12-05 05:42] telamonian commented on #331
It seems like this issue did indeed get resolved at some point, since nbdime and jupyterlab-git do now play nicely with one another.

@vidartf @jaipreet-s @fcollonval can any of you comment upon the resolution of/close this issue?

[2019-12-05 06:00] telamonian commented on #244
What was this issue supposed to be about, and should we still be concerned about it? The mockups are hard to parse, and aside from the text alignment I can't tell the difference between the first two.

@tgeorgeux Can you please interpret?

[2019-12-05 06:02] telamonian commented on #325
In theory, fixed by the change in how branch name fetching is handled in #469

[2019-12-05 06:02] #325 closed

[2019-12-05 06:27] telamonian commented on #341
A real solution to this issue would require significant enhancements to the labextension GUI in core. These likely won't happen, since the current plan is to jettison the labextension manager from core entirely. Instead we'll bundle each plugin's lab- and/or serverextension together in a single Python package, and then let `pip`/`conda` sort out everything else. So in that sense, this issue is a w

[2019-12-05 06:27] #341 closed

[2019-12-05 06:27] jaipreet-s commented on #331
Yes, this was meant to track design discussions between nbdime and jupyterlab-git, which is now done. Resolving!

[2019-12-05 06:27] #331 closed

[2019-12-05 06:29] telamonian commented on #314
The backend for this will be added in #406. On the frontend, it would be nice to be able to view any file at any given revision (or maybe just branch).

[2019-12-05 06:47] telamonian commented on #445
With the release of `v0.9.0`, the install instructions and the README do indeed now match. There's also a note in the README about running `jupyter serverextension enable` if you get into trouble during the install

[2019-12-05 06:47] #445 closed

[2019-12-05 06:55] fcollonval commented on #476
Thanks a lot @telamonian for all the repo maintenance work. Indeed I meant an animated gif. Yours is pretty good. I'll try to produce a second one for your awesome simple UI; I think it makes sense to present the two separately in the readme.

[2019-12-05 06:58] telamonian commented on #420
@joelion I'm closing this for now since there's been no new activity for a while (and it's unclear how general an issue this is), but if you want to work on this further please feel free to reopen.

[2019-12-05 06:58] #420 closed

[2019-12-05 07:03] fcollonval commented on #476
Thanks a lot @telamonian for all the repo maintenance work. Indeed I meant an animated gif. Yours is pretty good. I'll try to produce a second one for your awesome simple UI; I think it makes sense to present the two separately in the readme.

[2019-12-05 07:19] telamonian opened #484 "followup #406: fix diffing from commits in history view for code files and notebooks"
ref #406

With #406 merged in, at least some files can be diffed successfully from any commit in the history view. However, trying to diff any code file (`.py`, '.ts', etc) results in:

<img width="498" alt="image" src="https://user-images.githubusercontent.com/2263641/70212541-139fd400-16fd-11ea-9115-2ec0812698f4.png">

and trying to diff an `.ipynb`  notebook produces a similar, but slightly dif

[2019-12-05 07:43] telamonian commented on #399
We made a lot of backend improvements in the latest version (`v0.9.0`). I've just tried this out, and I was able to correctly commit a deleted file.

@ablaagaard Can you please install the latest version of this plugin:

[code]

and then try commiting a deleted file again? It would be good to know whether we've fixed this, or if it's an issue with our support for [older versions of git](https://gi

[2019-12-05 07:44] telamonian commented on #425
Since there's been no followup, I'm closing this as stale. If you do run into any issues with init, please open a new issue

[2019-12-05 07:44] #425 closed

[2019-12-05 07:48] telamonian commented on #378
This has been fixed (in #438, I think?)

[2019-12-05 07:48] #378 closed

[2019-12-05 08:05] alex-kravets commented on #473
@fcollonval Of course :)
I'm using Python 3.7.5 with the following packages:
jupyterlab==1.2.3
jupyterlab-git==0.9.0
jupyterlab-server==1.0.6

[2019-12-05 09:57] telamonian commented on #473
What exactly do you mean by that? From your version numbers, it sounds like you're installing the `jupyterlab-git` plugin from a local copy of the repository. If so, that's important information for figuring out what's going wrong. You should also run `jupyter labextension list` and post the output here.

You could solve your problem that way, but it wouldn't be a great idea. I think in this case

[2019-12-05 10:27] vidartf commented on #341
Note for completeness: just because we are changing the plugin distribution and build system in Jupyterlab does not entail that we will stop having a UI frontend for discovering and managing extensions. It will close this issue though (assuming that the current plan ends up working).

[2019-12-05 10:53] telamonian commented on #341
That is an important assumption

That is a good point, and I did not mean to gloss over it. We will still have our own tools/UI for discovery and (probably) management. The pertinent big change from the perspective of a user is that there will be a single source from which all jupyterlab extensions will be installed, instead of some things coming from the labextension manager and some things comin

[2019-12-05 14:35] fcollonval opened #485 "History details are not properly refresh when reverting"
![git_simple_staging](https://user-images.githubusercontent.com/8435071/70244328-8009ea00-1774-11ea-90bb-aa810c399404.gif)

When reverting to a commit, the previously opened file lists are not refreshed. This leads to an erroneous history view.

_Originally posted by @fcollonval in https://github.com/jupyterlab/jupyterlab-git/pull/482#issuecomment-562154553_

[2019-12-05 15:23] fcollonval commented on #484
@telamonian I'm not able to reproduce this. Does it happen only for diff from the history and for any code file in any case?

[2019-12-05 15:41] jamesjnadeau commented on #471
@fcollonval Thanks for the commands I missed, I was able to load the `fix-471-absolute-path-nbdime` branch locally. I see the new styling in the git panel, looks great!

I am still unfortunately seeing the same error, where the `file_path` variable in the post to get the diff still contains `../` at the beginning. It appears the bug still exists.

Happy to help further. I have some free time later

[2019-12-05 15:53] telamonian commented on #484
Yeah, only from the history, and for any code file (which I assume is really any file recognized by `isText`?) and any `.ipynb`. I'll see if I can repro in a clean venv

[2019-12-05 16:05] cmclinton commented on #457
Thanks for the suggestion.

I deleted the jlab app directory completely and then re-ran the following sequence.
`jupyter labextension install @jupyterlab/git
pip install jupyterlab-git
jupyter serverextension enable --py jupyterlab_git
`
The git sidepanel functionality is now back and the git menu is present again. The only issue is that the git icon at the top of the notebook, which allows you to

[2019-12-05 16:49] telamonian commented on #457
With the release of `v0.9.0` yesterday, you should in the future be able to get everything installed and activated just by running:

[code]

The buttons in the toolbar above the notebook are supplied by the `nbdime` extension, not by us. For our extension, you can see a diff by clicking on the diff button that shows up next to notebooks with changes in git sidepanel UI (the little black icon all t

[2019-12-05 16:49] #457 closed

[2019-12-05 16:59] telamonian commented on #457
To clarify, if you do run into further labextension trouble, please do post an issue to core. We're actively trying to improve the user experience around extensions, and there's lots of people there who may have more insight than me

[2019-12-05 17:48] #352 closed

[2019-12-05 17:48] #446 closed

[2019-12-05 17:59] fcollonval commented on #471
Thanks @jamesjnadeau for trying it out and sorry it did not fix the error.

Feel free to look into it and propose a PR. The request is done there:

https://github.com/jupyterlab/jupyterlab-git/blob/master/src/components/diff/NbDiff.tsx#L182-L186

So yes, the problem seems related to the file path being already absolute and the repo path being not appropriate.

[2019-12-05 19:38] joelion commented on #420
@telamonian thanks, i haven't had time to debug this any more, but when I get back to it I'll, re-open

[2019-12-05 20:36] #455 closed

[2019-12-05 20:59] kgryte commented on #481
@telamonian Just assigned myself. Will submit a PR shortly.

[2019-12-06 06:01] fcollonval commented on #471
One thought, is your git root folder accessible from the Jupyterlab root folder?
Like:
C:\path\to\jupyterlab
C:\path\to\jupyterlab\path\git_repo

Or

C:\path\git_repo\jupyterlab
C:\path\git_repo

[2019-12-06 07:21] #481 closed

[2019-12-06 12:29] jamesjnadeau commented on #471
The root path I open Jupyter in(akathe root of the jupyters file browser) is my git repo. To say another way, the top most folder I can access in Jupyter contains my repo's `.git` file.

I'm going to try specifying a folder up the hierarchy when launching Jupyter to see if that makes a difference.

[2019-12-06 12:33] jamesjnadeau commented on #471
Moving where jupyter starts made no difference. I went up two directory levels and am still receiving the same error when loading a diff.

[2019-12-06 12:36] jamesjnadeau commented on #471
Just to level set here, this repo is detected when opening jupyterlab-git. The diffs also work flawlessly in a docker linux container I have with pretty much the same packages installed. I believe this is something window's specific, yay M$.... :)

[2019-12-06 18:06] fcollonval commented on #484
The error for plain text file is corrected in #489

For the notebook, was it a diff on an notebook addition? Because I have seen such error in that case.

[2019-12-07 05:52] telamonian commented on #484
I was originally seeing the diffing issue with all notebooks from the history. After the last couple of rebuilds, though, I can't reproduce that particular error.

However, what I do see now is that notebooks added in a repo's very first commit:

<img width="260" alt="image" src="https://user-images.githubusercontent.com/2263641/70369729-6905ed80-1883-11ea-9298-774367d71f5b.png">

produce the same

[2019-12-07 09:04] #225 closed

[2019-12-07 11:37] fcollonval opened #491 "Simplify commands"
Two issues (and associated PR) have been submitted to JLab core to add arguments to
- `'help:open'` command: https://github.com/jupyterlab/jupyterlab/pull/7603
- `'terminal:create-new'` command: https://github.com/jupyterlab/jupyterlab/pull/7605

If they are accepted, the commands define there could be removed:
- https://github.com/jupyterlab/jupyterlab-git/blob/master/src/gitMenuCommands.ts#L15
-

[2019-12-07 12:51] fcollonval opened #492 "`pexpect.spawn` does not support Windows"
Per the documentation, the currently used `pexpect.spawn` to handle git authentication does not support Windows:
https://pexpect.readthedocs.io/en/stable/overview.html#pexpect-on-windows

For Windows,  they recommand:

[2019-12-07 17:13] fcollonval opened #494 "Security issue with run git command in terminal"
@fcollonval A very similar functionality was removed in #5916 for security reasons. Commands are deliberately meant to be serialized as JSON and can be distributed, e.g., what we do in state restoration and workspaces. So the rationale in that PR was that allowing arbitrary code execution in command args could result in malicious code being distributed via command args in workspace files.

Note th

[2019-12-08 12:00] fcollonval opened #495 "Enhance REST API"
The current REST API could be improved by at least passing the git repository folder in the url like for example the [content notebook API](https://github.com/jupyter/jupyter/wiki/Jupyter-Notebook-Server-API#Notebook-and-file-contents-API). In particular this will allow to use the full spectra of HTTP verbs in a more RESTful spirit.

For example here are some interfaces from the notebook content A

[2019-12-09 03:39] ktaletsk commented on #492
Documentation also says "PopenSpawn is not a direct replacement for spawn". That suggests to me that we would need to add separate implementation of GitAuthInputWrapper for Windows. Any thoughts on that? I am willing to help if needed.

[2019-12-09 07:02] fcollonval commented on #492
@ktaletsk thank you for kicking in. Any help would be appreciated 😄

Your proposal to handle Windows specifically is fine for me.

[2019-12-10 09:33] roccqqck opened #496 "It always shows you aren't in a git repository (0.9.0)"
It always shows you aren't in a git repository.

But I am sure I am in one.

jupyterlab-git 0.9.0

[2019-12-10 12:13] ablaagaard commented on #399
I upgraded, but still see the same issue:

[W 12:07:57.447 NotebookApp] delete /test4/test4.ipynb
[W 12:07:57.448 NotebookApp] Skipping trash for /opt/app-root/src/test4/test4.ipynb, on different device to home directory
warning: You ran 'git add' with neither '-A (--all)' or '--ignore-removal',
whose behaviour will change in Git 2.0 with respect to paths you removed.
Paths like 'test4.ipynb' that

[2019-12-10 23:05] lordravo opened #497 "Unexpected token < in JSON at position 0"
Hi,

I am launching a jupyterlab with git, making use of a dataproc initialization action;
For some reason I am not able to clone any repository. I am not sure if that is due to a workspace issue, or an unsuccessfull installation;

My cluster-config:

	"region": "us-east1",
	"zone": "us-east1-b",
	"bucket": "..",
	"master_type": "n1-standard-4",
	"worker_type": "n1-standard-4",
	"master_disk_size"

[2019-12-10 23:46] kgryte commented on #495
@fcollonval Agreed. Would be nice to make the APIs more restful.

Somewhat related, but will mention here, I had worked on a separate [server extension](https://github.com/Quansight/straight-forward-git/blob/master/jupyterlab_simple_git/handlers.py) for "simplified" Git actions before a decision was made to contribute here. IMO, we do need to do some refactoring of the current server extension any

[2019-12-11 07:36] fcollonval commented on #497
Thank @lordravo to report the issue. Could you give us the server reply for the clone request?

[2019-12-11 07:39] fcollonval commented on #496
@roccqqck Could you try two different git repository to see if both are failing?

Could you check the frontend extension installed is 0.9.0 (to do so execute `jupyter labextension list`)?
Could you report any error message in the web browser console and the server terminal?

[2019-12-11 15:16] MindTooth opened #498 "Failed to commit, Fail to set your identity. Unhandled error"
## Description

When trying to create a commit, I get the error "Fail to set your identity. Unhandled error".  I run Jupyter inside an `venv` environment.  But I get this message.

The repo is from a private GitLab instance and I use a signing key when creating commits.  `user.name` and `user.email` is valid.

I see that this has been reported [before](https://github.com/jupyterlab/jupyterlab-git/

[2019-12-11 16:34] roccqqck commented on #496
when I create a new virtualenv, it worked fine.

But when I upgraded one from 0.8.2 to 0.9, it failed

[code]
[code]
​

[2019-12-11 18:52] fcollonval commented on #496
It looks like your frontend extension has been updated but not the serverextension.

Could you check the python package `jupyterlab_git` v0.9.0 is installed?
You can upgrade it using `pip install -U jupyterlab-git`

[2019-12-11 19:33] lordravo commented on #497
jupyterlab.log gives me only a single line

[code]

Is there any other log I could look into?
Thanks @fcollonval

[2019-12-11 20:44] telamonian commented on #497
@lordravo You're installing the latest release version of the labextension, but the HEAD version of the server extension. These versions have to match. Unless you're actually trying to help develop jupyterlab-git itself, just do the regular release install. Replace the above 4 lines with just:

[code]

and everything should work. If it doesn't, you may need to also add in the explicit `jupyter ser

[2019-12-11 21:07] telamonian commented on #498
Your actual error is buried in your command line output:

Can you please run `git config --list` in your repo and post the results here (you should censor your name and email fields)? Basically, our current backend expects there to be exactly one `=` symbol on each line of that command's output, and for some reason in your case there's not

[2019-12-11 21:15] MindTooth commented on #498
Ahh.  Then I guess my GitAlias is creating this issue.  I see that it creates some multi-lines.  If I remove it, it works. 🤔

[code]

[2019-12-11 21:59] roccqqck commented on #496
It was installed.

[2019-12-11 22:10] lordravo commented on #497
Hi @telamonian

Fixed the init_script, but the behavior is still the same:
[code]
Any idea why?
Is there any other log? Or test I can make?

[2019-12-11 23:01] telamonian commented on #498
Yep, it's definitely stuff like:

that's causing the error you're getting. Really, it's a weakness in how we parse the output of `git config --list`. One alternative would be to use `git config --get <key>` to fetch only the specific config values that we actually use.

@fcollonval Are you more familiar with how the information returned by our [`Git.config`](https://github.com/jupyterlab/jupyterla

[2019-12-11 23:28] telamonian commented on #497
It looks like now the serverextension is not running. Serverextension activation should happen automatically in the latest version of jupyterlab-git, but certain setups will still require explicit enabling of the serverextension. So also do:

[code]

[2019-12-11 23:31] telamonian commented on #497
If you want to get down into the the weeds, open your browser's devtools and go to the "network" pane. Search for any `/git/clone` requests and click on one of them. That should let you see the details of the request and the associated response, if any

[2019-12-12 13:14] lordravo commented on #497
Hi @telamonian

I'm still getting 404 after enabling the serverextension;
Looking into the browser dev tools, not much to give any hint. Basically a page with the following

[code]

My current init script is now:
[code]

I'm starting to believe it may be a dataproc issue. What do you guys think?

[2019-12-12 14:05] lordravo commented on #497
May I ask, what's the contents_manager exaclty?

![image](https://user-images.githubusercontent.com/58708386/70718610-4898c180-1ccf-11ea-8ba0-1b933518b7a2.png)

[2019-12-13 05:31] MindTooth commented on #498
I see.  Thanks for taking a look. 👍

With regards for using the getter directly, would that not improve performance?

[2019-12-13 23:57] telamonian commented on #498
Surprisingly, probably not. Up to this point, the most important thing for backend performance has been minimizing the total number of subprocess calls. In other words, even if:

[code]

returns 1000 lines, it's still probably faster to parse that large output than it is to run:

[code]

for a dozen keys. Though unless we need to do this for 100+ separate keys, the performance difference isn't lik

[2019-12-15 12:01] jamesjnadeau commented on #471
I went down the rabit hole for a bit, and I belive I have found the issue, but I'll need to test fixing it, i'm logging my assumption here for reference.
the implementation here: https://github.com/jupyterlab/jupyterlab-git/blob/f838270be6e34370a63a24dc04530730cca9369a/jupyterlab_git/handlers.py#L494

doesn't exactly replicate what is going on in nbdime, there is a call to `os.path.realpath` after

[2019-12-16 08:12] #304 closed

[2019-12-18 18:56] stackoverflowed commented on #496
Hi,
    Any updates on this issue? I just installed and am getting the same message. When I click find a repo, I am redirected to my filesystem. Would love to have this working.

[2019-12-18 19:51] fcollonval commented on #496
@stackoverflowed, the extension is connected to the current folder opened on the filebrowser tab. So normally if you select a folder within a git repository in the file browser, the git panel should change and show the repository status.

[2019-12-19 06:03] #494 closed

[2019-12-19 15:55] scoobymib3 opened #501 "Does not work if there is a version mismatch between the jupyterlab-git serverextension and the @jupyterlab/git labextension"
Hi,

I've seen this elsewhere but none seem to relate to my issue. I am using TLJH with jupyterlab-git installed and mostly it is working great, apart from the git tab.

I can clone a project with no problems but it always tells me I am not in a git repo. Even if I create and init from within the lab.

![Screenshot 2019-12-19 at 15 49 42](https://user-images.githubusercontent.com/6632188/71187567-

[2019-12-19 16:57] scoobymib3 commented on #501
![Screenshot 2019-12-19 at 16 57 05](https://user-images.githubusercontent.com/6632188/71192660-9dfd4180-2280-11ea-84ae-dacd64bad3a5.png)

Just noticed that the git interface doesnt seem to take any notice what folder Im looking at in the folder view. It always just says /

[2019-12-19 17:20] scoobymib3 commented on #501
Just for added information, calling git terminal opens up in the correct directory

Also tried adding the following to jupyterhub_config.py

c.NotebookApp.nbserver_extensions = {
    'jupyterlab_git': True,
}

[2019-12-19 22:52] DevMui commented on #501
It seems this is a duplicate of #496

[2019-12-19 23:55] DevMui commented on #496
I have the same issue - I think it would be helpful if the users with same symptom share their setting. I've been running `jupyterhub` with `jupyterlab` and `jupyterlab-git`.  I assume `jupyterhub` or maybe `conda` does not have good compatibility with either `jupyterlab` or `jupyterlab-git` which generates errors...

[code]

[2019-12-20 02:39] telamonian commented on #501
@DevMui Sadly, this one isn't a duplicate

@scoobymib3 You have a terrible version clash, which the labextension management tools in jlab core have no way to deal with. The most important problem (there are others) is that you're using a really old version of the `jupyterlab` package. Any hope you have of unfutzing your current install will have to start with upgrading to `jupyterlab==1.2.4`. Here

[2019-12-20 03:03] telamonian commented on #497
@lordravo I re-reviewed the info you posted and figured out how to reproduce the error that you're seeing. I 100% guarantee that what is going on is that the `jupyterlab-git` serverextension is not enabled.

Aside from `jupyterlab-git` not being installed correctly (and it does appear to be installed correctly, given your output from `jupyter serverextension list`), the only way that you'll get th

[2019-12-20 03:53] telamonian commented on #496
@roccqqck @stackoverflowed @DevMui I've dug into this and the related issues. If you're getting 404s with error messages like:

[code]

that means that either:

1. The `jupyterlab-git` serverextension isn't correctly installed
2. The `jupyterlab-git` serverextension isn't correctly activated

Here's how you can diagnose your own problem. First, run:

[code]

and make sure that you see something li

[2019-12-20 03:54] telamonian commented on #496
@DevMui In your case, it looks like everything is installed/activated just fine, so I'm not sure what's wrong. Did you remember to restart any running instances of the jupyter server and/or jupyterhub after you installed and activated the latest `jupyterlab-git`?

[2019-12-20 17:18] DevMui commented on #496
@telamonian I have restarted the `jupyterhub` server instance multiple times but still no luck. The error messages I am seeing at Chrome Dev Tools look like:
[code]
I will try to clean up the jupyterlab app folder and rebuild the lab.

[2019-12-20 20:03] lordravo commented on #497
Hi @telamonian

That's interesting. Changing the order at least fixed the server_root endpoint:

![image](https://user-images.githubusercontent.com/58708386/71288025-ade05880-2348-11ea-84e8-5764a063b7c6.png)

Git is still malfunctioning, but now I'm having a traceback at a different endpoint (git/show_top_level):

[code]
It seems git is failing on reaching jupyter directories. As you can see 'Unti

[2019-12-23 12:52] VolokzhaninVadim commented on #383
I deleted extension and repeated all steps by install. It is solved all my problems.

[2019-12-23 14:07] gideonsimpson opened #504 "Version inconsistency using conda between server and jupyterlab extension"
## Description

While the tool displays changes that have been made along with the history properly, I am unable to stage changes.

## Reproduce

When I click on the arrow for staging a change, nothing happens.  In the console, an error is reported (see below).

## Expected behavior

I expected that the change would be listed as staged so that it could be committed and pushed.

## Context

- Pytho

[2019-12-24 09:09] fcollonval commented on #504
Dear @gideonsimpson

You have a version inconsistency. The conda package installed is 0.8.2 when the jupyterlab one is 0.9.0. You need to have the same version for the server and the jupyterlab extension.

Try removing both extension:

[code]

Then reinstall the extension using the two commands:

[code]

[2019-12-24 10:52] fcollonval commented on #471
I successfully reproduce the bug. The error was coming from

https://github.com/jupyterlab/jupyterlab-git/blob/d6b27c633dd2031a6bf2ff1d46293ac931539cb6/src/model.ts#L627

`PathExt.relative` was not able to compute the relative path when the path is using backslashes. The fix is to work with a posix format in the frontend.

[2019-12-26 02:58] gideonsimpson commented on #504
I did as suggested, and now it won't recognize git repos (when I click on the git button, it says "You aren't in a git repository")

[2019-12-27 08:45] fcollonval commented on #504
Could you check the server extension is enabled? Run :

[code]

If it is, you will see something like this:

[code]

Else try to enable it manually:

[code]

If it was already enabled, could you provide error messages from the server console and the web browser console?

[2019-12-27 10:43] fcollonval opened #513 "Use dialog to switch branch"
I'll like to replace the current UI to switch branches by a dialog with a combobox. What do you think @kgryte @telamonian ?

![image](https://user-images.githubusercontent.com/8435071/71514189-cba84300-289d-11ea-937f-f1b09d3410db.png)

[2019-12-27 10:45] fcollonval opened #514 "Use a dialog to create a new branch"
The current UI to create a branch is not pretty:

![image](https://user-images.githubusercontent.com/8435071/71514289-3fe2e680-289e-11ea-8a3f-0dcb5b2a7825.png)

It would be better to use a dialog.

[2019-12-27 14:54] gideonsimpson commented on #504
Yes, it was disabled and enabling it now seems to have resolved that matter.

[2019-12-27 18:46] kgryte commented on #513
I was actually considering working on cleaning up the branch UI next and am in agreement that it needs work and clean-up.

As far as how this is implemented, not sure whether it needs to be a dialog or whether we just need to provide a better dropdown UX. For example, to recreate the GitHub desktop app functionality, this could either be a dialog (as the desktop app does) or an in-panel component.

[2019-12-28 09:33] fcollonval commented on #513
Hey @kgryte
I don't have a better idea than a dialog. So I happily wait for your PR on this 😉
I'll focus on three other tasks:
- ability to pin the repository
- improve file list
- adding widget on status bar

[2019-12-28 09:36] fcollonval commented on #514
@kgryte will you cover this when working on #513?

[2019-12-28 09:45] fcollonval commented on #492
Entering passwords with `pexpect` is always going to be a little shaky. I did some research, and it looks like it should be possible to pass auth to git via the `env` arg in `subprocess.Popen`. The key is the `GIT_ASKPASS` env var. I'll play around with it and see if I can get a working prototype.

Refs:
https://stackoverflow.com/q/1456269/425458
https://serverfault.com/a/976927/58565
https://gith

[2019-12-30 18:12] #504 closed

[2019-12-30 19:33] jaipreet-s commented on #492
This would also be a good opportunity to start adding integration testing + testing on windows in the CI setup

1. **Integration Testing**:  Use the server REST API to perform Git push/pull actions against a test Git repository
2. **CI**: Run these tests across Windows and Linux. Looks like [travis supports Windows now](https://docs.travis-ci.com/user/reference/windows/) so we may not have to over

[2020-01-01 03:23] kgryte commented on #513
@fcollonval Awesome. Should have a PR up shortly!

[2020-01-01 03:33] kgryte commented on #514
@fcollonval Yes, was planning on addressing this, as well.

[2020-01-02 11:01] scoobymib3 commented on #501
Thank you, that has solved my problem perfectly 👍

[2020-01-02 11:01] #501 closed

[2020-01-06 15:22] jamesjnadeau commented on #471
@fcollonval any update on this, happy to help if you can point me in a direction?

I tried using the upath package to fix my issue, please see #516, but I imagine you'll want to make changes else where to fix this problem.

I noticed that the git filters I set up(nbstripout) were also not working for on windows for this extension. I would see it returned a 'non zero' exit status. turning off these

[2020-01-07 20:00] telamonian opened #517 "Do 0.10.0 release (final release for Jlab 1.x) and then upgrade to Jlab 2.0"
Jupyterlab 2.0 marches towards release. The api is now (theoretically) locked down, so I think that the time is right to think about upgrading jupyterlab-git to be Jupyterlab 2.0 compatible.

I think we should cut a final Jupyterlab 1.x compatible release (which will be `v0.10.0`) of jupyterlab-git. Following that, we should then upgrade the master branch to be compatible with Jlab 2.0.

I've volu

[2020-01-07 21:48] jaipreet-s commented on #517
This extension is integrated in various Cloud providers (GCP, GitLab, AWS) so it’s safe to assume we would want to keep 1.x support for backwards compatibility,  at least for the foreseeable future. Having a “final” release for JL1.0 won’t leave room for back porting any bugs, fixes, or features.

One option, off the top of my head,   is that the next release for jupyterlab-git to be 1.0, and all

[2020-01-07 21:50] #498 closed

[2020-01-07 23:15] telamonian commented on #517
Backports are good. I'd argue that, for now, critical bugfixes can be backported to `0.10.x` patch versions, and that there should be no expectation of feature backports. If someone does submit a PR with a feature backport, that can also be a `0.10.x` release*.

In Jupyterlab core, we use the [Meeseeksdev bot](https://github.com/MeeseeksBox/MeeseeksDev) to manage [backports](https://github.com/Mee

[2020-01-07 23:35] telamonian commented on #471
@jamesjnadeau I just merged in #507. Can you please check if your issue is fixed in the latest master?

#507 does basically the same thing as your #516, but it fixes the issue on the Python side (where the offending path originates).

If #507 fixes the path issue but you still see the issue with the git filters, please open a new issue for that.

[2020-01-08 03:19] kgryte commented on #517
I agree with @telamonian on the release, migration, and backport plan.

[2020-01-08 03:26] kgryte commented on #517
My only further thought is that it would be good to figure out what needs to be in that final JLab 1.x compatible release. There are a few outstanding bugs and features which should likely be resolved before we focus exclusively on JLab 2.0.

[2020-01-08 17:49] fcollonval commented on #517
I agree with @telamonian and @kgryte

Regarding what should be included in 0.10.0, I would say that the most important one seems: #493 and #509. They correct the history panel and the rest API (return valid json to avoid user reporting "error JSON decode...").

And the nice to have would be #505, #515 & #518. And I will create a simple PR to add `-u` to git status call to list explicitly all untra

[2020-01-08 20:36] blink1073 commented on #517
@fcollonval, I sent you invites for pypi and npm.  Please let me know when you accept npm so I can give you access to this particular package.

[2020-01-08 20:41] blink1073 commented on #517
As far as versioning goes, we could make a 0.20 release that targets JupyterLab 2.0, which leaves  room to have 0.11-0.19 releases targeting JupyterLab 1.0.  We are going to do something similar for packages in JupyterLab core starting after 2.0, to leave room for minor releases between major releases of the top level package without needing to keep versions in sync between branches.

[2020-01-09 06:18] jaipreet-s commented on #517
Yea, I’d follow JLab’s infrastructure for automated back porting as well . I’m in agreement about back porting in general and that master should track JLab2.0

This addressed my concerns about not leaving room for backports/fixes and other good stuff and not having a "final" release for JLab 1.x

@telamonian : I'm surprised to hear this since there has been consensus previously on releasing 1.0 bu

[2020-01-09 11:05] fcollonval commented on #517
Thanks @blink1073 I accepted the npm invitation.

[2020-01-10 01:21] b-trav commented on #444
Here is how I get JupyterLab with Git up and running on an offline computer.

- Install Anaconda on both online and offline computer
- Install conda-pack in base environment on online computer
[code]
- Install jupyterlab on online computer
[code]
- Install extension on online computer
[code]
- Pack the environment and the extension on the online computer (you will need to re-run conda install afte

[2020-01-10 07:41] fcollonval commented on #444
@b-trav Thanks for reporting back a working solution.

One comment: I'm surprised you had to mix `conda` and `pip`. Did you try to use the conda package?

The following variant for steps 3 and 4 should work:

- Install jupyterlab on online computer

[code]

- Build JupyterLab with extensions on online computer

[code]

[2020-01-10 07:56] b-trav commented on #444
Yes @fcollonval , that seems a much easier simplification. I seem to remember that I couldn't conda install jupyterlab-git, though I now can't remember why. It could have been that the conda-forge mirror I was using was not completely populated.

[2020-01-13 12:46] benjello opened #522 "Binder demo is not working"
## Description

I do not see the git widget on the binder demo

## Reproduce

1. Go to github/jupyterlab-git page
2. Click on binder demo link
3. Open examples/demo.ipynb

## Expected behavior

See the git widget

## Context

Run on binder from the repo demo link

[2020-01-13 17:08] blink1073 commented on #517
@fcollonval, you should now have publish rights on npm.

[2020-01-13 18:27] fcollonval commented on #522
@benjello Thanks for pointing this one. This is a terrible mistake, I start a fix for it in #523.

[2020-01-13 21:29] #522 closed

[2020-01-14 14:31] fcollonval opened #524 "Bug: scroll bar for the all panel not for the file list"
## Description

When there are lots of modified files, the scroll bar appears on the all git panel. It should be restricted on the file list.

![image](https://user-images.githubusercontent.com/8435071/72351965-aca11200-36e1-11ea-8d69-9959c7b70de2.png)

## Reproduce

1. Launch binder on master
2. Reduce the window height to have the scroll bar appearing

## Expected behavior

Scroll should be on t

[2020-01-14 19:11] jamesjnadeau commented on #471
@telamonian I just tried the latest master branch as of writing this. It took a bit of cache clearing, but it appears **it works!!!!**, unless you use git filters.

I was not able to make this work with any git filter such as [nbsctripout](https://github.com/kynan/nbstripout) or [fastai-nbstripout](https://github.com/fastai/fastai-nbstripout).

Without any git filter, the extension works as expect

[2020-01-14 19:17] jamesjnadeau commented on #471
I think it might be related to this issue reported in nbdime:
https://github.com/jupyter/nbdime/issues/415#issuecomment-412495170

you might need to do something similar when calling the subprocess for diffing?

[2020-01-14 20:07] fcollonval commented on #471
@jamesjnadeau could you obtain the path use by nbdime in the filter call: https://github.com/jupyter/nbdime/blob/6259cd0936eecae3e0fbd4301ecc55f4a5e19bc2/nbdime/vcs/git/filter_integration.py#L77-L82

[2020-01-14 20:50] kgryte commented on #524
I **don't** agree with the expected behavior being that the toolbar and commit box should be visible at all times (e.g., such as when the branch menu is shown).

We could, however, assign a maximum height to the file list container to prevent extra long scrolls to reach the commit box when, say, there might be thousands of changed files, but this would not obviate the need to scroll when window he

[2020-01-15 07:19] fcollonval commented on #524
Committing files is in the top features used. When an user switch to the Git tab, especially in the simple mode, lots of time the goal will be to enter a commit message and hit the commit button. I personally will never expect to have to scroll to do that.

So in the default layout (no branch menu deployed):
- the commit box must be visible what ever the number of changed files.
- the toolbar shou

[2020-01-15 13:30] jamesjnadeau commented on #471
here's where my local copy of nbdime is in my path:
[code]

I'm not clear on what you mean by

Based on my assumption that you want to know the contents of the 'path' variable in that function call, I installed nbdime locally and added the following python code above that line:

[code]

When run from jupyter, this errors as before, and I see the following returned by my print statement:

[code]

H

[2020-01-15 13:36] jamesjnadeau commented on #468
FYI for anyone who comes here and wants to use a host other than github.

Install you repo via the cli and this extension will pick it up. I'm currently using this with Azure DevOps repositories just fine.

If you use ssh keys and ssh-agent, you'll have an easier time with access management.

[2020-01-16 07:29] chrisjohn2306 opened #525 "JLab not responsive when loading a git repo with a considerable commit history or clone such a repo"
## Description
I was trying out the extension with jupyterlab version 1.2.3. When i am trying to load a git repo with a considerable commit history or clone such a repo, my lab is getting stuck and not responsive

## Reproduce

1. Open JupyterLab with the extension enabled
2. Clone a git repository with lot of commits, branches, or try to open a git repo already cloned of the same nature

## Expec

[2020-01-16 08:21] fcollonval commented on #525
Thanks for reporting @chrisjohn2306

The trouble comes probably from the `git` commands being currently executed synchronously #439. It will hopefully be fixed by #493. If you have time, would you be willing to test that PR on your case?

[2020-01-16 08:40] chrisjohn2306 commented on #525
Thank you @fcollonval
Will go through the changes and try it out

[2020-01-17 09:21] goofts opened #526 "Installation trouble"
jupyter serverextension list

[2020-01-17 09:28] goofts commented on #526
VM819:1 GET https://nbs.goofts.online/jupyter/git/server_root?1579253166187 404 (Not Found)

[2020-01-17 11:10] fcollonval commented on #526
Please have a look at the [Troubleshooting section](https://github.com/jupyterlab/jupyterlab-git#troubleshooting) and report here if you still have an error.

Note: I was able to reach your endpoint without error

[code]

@blink1073 @telamonian I think we have a security problem with this extension handlers... 😨 🚨 I should not have been able to get that answer. Trying https://nbs.goofts.online/jup

[2020-01-17 17:39] telamonian commented on #526
Yeah, my understanding is that you would at least need the token as part of the url in order to access anything from any endpoint in the jupyter notebook server, but I guess that's not the case...

[2020-01-25 15:41] alxfed commented on #419
It's not a _new_ issue it is **THE SAME** issue.

[2020-01-25 15:59] fcollonval commented on #471
@jamesjnadeau I looked at this a bit more. This is a bug with `nbstripout` (issue reported https://github.com/kynan/nbstripout/issues/115).

The filter command uses simple quote around the python executable path when it should be using double quote. The Windows console does not understand the single quote as string delimiter.

I was able to reproduce the error on my computer. But from your error m

[2020-01-27 04:22] chrisjohn2306 commented on #525
@fcollonval I had tested out the changes. The git operations are working smooth now. But the authentication part is failing with "pexpect.exceptions.TIMEOUT: Timeout exceeded".

Any aid or suggestion on how to handle it?

[2020-01-27 07:17] chrisjohn2306 commented on #525
With the async changes too, if the user tries to clone and existing repo the window is freezing.

[2020-01-27 09:44] chrisjohn2306 opened #528 "Jlab freezes if incorrect clone url or credentials or already cloned repo url is given"
## Description

When the user tries to clone a repo that already exists in the base path, the window freezes and no error or status are shown.
Same behaviour is seen if the clone url is incorrect, or the credentials entered by the user is incorrect.
## Reproduce

1. Open the jupyter lab with the extension enabled.
2. Clone a repo in to the home folder
3. (a)After the clone is finished, try to clon

[2020-01-27 14:23] jamesjnadeau commented on #471
@fcollonval Thanks for looking into this more!
You are correct, I had nbstripout at version 0.3.6., and I'm producing a similar error to what you were seeing

after updating to 0.3.7
[code]

I'm getting the following error in Jupyter lab when diffing a file:

[code]

I believe this confirms your assumption. Thanks again, and good catch on the quoting error!

[2020-01-28 07:53] fcollonval commented on #528
Thanks for reporting @chrisjohn2306

Which OS are you using?
Did you have to authenticate through the extension or were your credentials managed by git directly?

[2020-01-28 07:57] fcollonval commented on #525
@chrisjohn2306 thanks for reporting back.

I looked quickly into it. I modified #493 to remove the timeout and try using asynchronous call for the authentication case too. If you could try this new version, it will be great.

[2020-01-28 08:32] chrisjohn2306 commented on #528
I am using MacOS. When the repeated clone is given it never reaches the authentication part. Window freezes before that.

[2020-01-28 08:54] chrisjohn2306 commented on #525
I was testing it out. But now the window is not freezing  but the clone also is not happening. The user can work in parallel but cannot know whether the clone happens or not

[2020-01-28 13:30] fcollonval opened #529 "Git filters are not applied on working file for plain text diff"
When requesting the content of a working file for the plain text diff, git filters that could apply to those files are ignored:

https://github.com/jupyterlab/jupyterlab-git/blob/576c4448f2ce19c63604a949e343da498cf81858/jupyterlab_git/git.py#L928-L934

We could take advantage of the following code in `ndime`:
https://github.com/jupyter/nbdime/blob/6259cd0936eecae3e0fbd4301ecc55f4a5e19bc2/nbdime/vc

[2020-01-28 13:33] fcollonval commented on #471
@jamesjnadeau Could we close this issue as the remaining error is not related to this package?

[2020-01-29 00:18] #471 closed

[2020-02-05 04:51] mail2julian opened #531 "git extension for dev mode"
## Description

How to enable the git extension for jupyter lab in dev mode.

[2020-02-05 21:41] telamonian commented on #531
Don't.

If you really need to, you can do a [sibling install](https://jupyterlab.readthedocs.io/en/stable/developer/extension_dev.html#extension-authoring) of the jupyterlab-git extension into a development branch of Jupyterlab. But seriously, don't do this, we do not support this use case. Sibling installs do not work well, and often require significant manual debugging.

The only exception to th

[2020-02-05 21:41] #531 closed

[2020-02-06 04:45] chrisjohn2306 commented on #528
While looking more into the issue i could note that, if an existing repo is attempted to clone again, instead of clone a git pull happens. But no message or progress bar is present to indicate that.
Is it a default behaviour of git?

[2020-02-10 05:14] mail2julian opened #532 "How to use the "jlpm run add:sibling " ? it does not work when i used to add git extension in dev mode."

[2020-02-10 09:22] telamonian commented on #532
What did I say on the other thread? Sibling install is not a supported use case for this extension. If you want to go ahead and do it anyway, you're going to have to debug on your own

[2020-02-10 09:22] #532 closed

[2020-02-10 09:37] mail2julian commented on #532
how else to add git extension to jupyterlab in dev mode.

[2020-02-10 10:17] telamonian commented on #532
What exactly are you trying to do? Why do you need this extension in dev mode?

[2020-02-11 18:59] karenin-overseas opened #533 ""Unexpected end of JSON output" error modal when discarding unstaged changes to notebook (.ipynb)"
## Description

Jupyterlab git's "discard unstaged changes" feature is throwing an "Unexpected end of JSON output" error when invoked in the UI

## Reproduce

1. Create a blank new notebook in an empty git repo.
2. Write any code into a cell and save the changes.
3. Click the trash can icon in the jupyterlab-git pane to discard the changes.

<img width="1765" alt="Screen Shot 2020-02-11 at 1 40 43

[2020-02-11 19:01] fcollonval commented on #533
Thanks for reporting this issue @karenin-overseas. This should be fixed in #493

[2020-02-12 05:32] chrisjohn2306 opened #534 "Git Push/Pull credentials dialog box always showing "Incorrect username or password""
## Description
When ever the user attempts a git push or pull the dialog box asking for the credentials always comes up with the message "Incorrect Username or password".
Internally the extension is trying to execute the git operation by using any kind of saved passwords but if the user has disabled such options, the git operation fails prompting for the dialog box to enter credentials with error

[2020-02-12 06:30] fcollonval commented on #534
Thanks for reporting this issue.
Could you provide me details on how/what you did for point 3?

[2020-02-12 06:35] chrisjohn2306 commented on #534
I could see in the code part that

`let result = await showDialog({
            title: `Git ${operation}`,
            body: new GitPullPushDialog(model, operation),
            buttons: [Dialog.okButton({ label: 'DISMISS' })]
        });
        let retry = false;
        while (!result.button.accept) {
            retry = true;
            let response = await showDialog({
                title:

[2020-02-12 07:03] chrisjohn2306 commented on #534
To disable the stored passwords, in mac i disabled Mac Keychain for git and remove any form of saved passwords from browser, git files.

[2020-02-12 10:45] elettra0384 commented on #496
Hi! I have the same behaviour and this is the error I get from Conda:

[code]

Here's all the lists:
[code]
[code]
[code]

[2020-02-14 03:16] chrisjohn2306 commented on #534
Can we go with any of these steps?

- Remove the message as it doesn't add any value to the feature
- Rephrase the message to "Missing credentials"  or more appropriate wording

[2020-02-14 22:39] #513 closed

[2020-02-21 05:47] dbdean opened #537 "Cannot diff .py, .yaml or Dockerfile files (at least)"
## Description

I've installed jupterlab-git in our jupyterlab by adding the following lines to a Dockerfile based on `jupyter/datascience-notebook`:

[code]

It seems to be working, and when I looked at changed notebooks, I get a friendly diff of the notebook. However, every time I try to look at a diff of a plaintext file I get an error like

![image](https://user-images.githubusercontent.com/12

[2020-02-21 07:22] fcollonval commented on #537
Thank you for reaching out. This is included in the master (you can try it on binder). Stay tune for the next release.

[2020-02-21 07:22] #537 closed

[2020-02-21 16:30] EmCeBeh opened #538 "npm dependencies failed to install => Unexpected end of JSON input"
## Description & Reproduction

After a first time install of
Winpython64-3.7.6.0
and an install of jupyterlab-git via
pip install --upgrade jupyterlab-git
I try to build it:
jupyter lab build
but i get stuck at
npm dependencies failed to install
and when I go to the log file, it says:
C:\\Users\\EmCeBeh\\AppData\\Local\\Yarn\\Cache\\v4\\npm-@jupyterlab-docmanager-1.2.1-0d98f00c0b012348512a534d787a

[2020-02-22 08:25] fcollonval commented on #538
@EmCeBeh could you try to clean the yarn cache too? You could do so with the following command:

[code]

Then try rebuilding Jupyterlab again.

[2020-02-25 07:18] chrisjohn2306 commented on #528
I have a fix for this issue along with the fix for the concern raised in https://github.com/jupyterlab/jupyterlab-git/issues/534 regarding the confusing warning message.

I would like to contribute it to the repository. Is there any T&C formalities to contribute to the repo ?

[2020-02-25 07:34] fcollonval commented on #528
Awesome!!

The contribution rules are those of JupyterLab: https://github.com/jupyterlab/jupyterlab-git#contributing

So feel free to open a PR with your fix.

[2020-02-26 06:57] fcollonval opened #542 "Add a separate binder or update the current one to provide a settings tutorial"
Could either add a separate binder or update the current binder to provide a tutorial of sorts which guides the user into toggling the various settings and seeing their effects.

_Originally posted by @kgryte in https://github.com/_render_node/MDIzOlB1bGxSZXF1ZXN0UmV2aWV3VGhyZWFkMjM3Nzc2NzIwOnYy/pull_request_review_threads/discussion_

Thanks @mlucool and @kgryte for the discussion

[2020-02-26 07:12] kgryte commented on #542
Thanks for creating this issue @fcollonval!

[2020-02-26 11:35] lresende opened #543 "Unicode values for file names for a file name using Chinese"
## Description

When using the git extension in Jupyterlab and trying to list the status of files named using Chinse characters only unicode values are displayed.

JupyterLab file browser

<img width="401" alt="image" src="https://user-images.githubusercontent.com/382917/75341170-26f1b400-5894-11ea-926a-30dd588675d0.png">

Git status panel

<img width="406" alt="image" src="https://user-images.git

[2020-02-26 11:40] lresende commented on #543
Investigating this issue further, it seems to be a general git configuration issue, as you would get the same result if you use the git command line:

[code]

Git has a configuration to disable this behavior:

[code]

Which then give you the proper result in the git command line

[code]

As well as in the jupyterlab git ui:
<img width="399" alt="image" src="https://user-images.githubusercontent.co

[2020-02-26 11:44] sutiv opened #544 "extension fails when using black in pre-commit-hook"
## Description
The extension fails with `Unhandeled error` if a pre-commit-hook is exectuted and does exit with non-zero. This happens if black changes files, because they are not correctly formatted.

A fix is to add `entry: bash -c 'black "$@"; git add -u' --` to the .pre-commit-config.yaml to enforce the commit.

[code]

But a better solution would be to handle the error and give the user the p

[2020-02-26 17:06] ajbozarth commented on #543
I already have a fix for this in my fork and was going to bring it up at scrum today

[2020-02-27 03:28] akhilputhiry opened #546 "History tab line items are overlapped"
As the number of commits increases, the line items in the history tab is getting overlapped.
This behaviour is only seen in the Safari browser others looks good.

<img width="405" alt="Screenshot 2020-02-27 at 8 54 11 AM" src="https://user-images.githubusercontent.com/747410/75409648-55789900-593f-11ea-9f7a-86ab09ea8dd0.png">

[2020-02-27 04:55] dbdean commented on #537
Thanks @fcollonval! When is the next release expected. Alternatively, is the master branch stable enough that I could install it for now using `pip install git+https://...`?

[2020-02-27 12:35] fcollonval commented on #537
I would say it is stable. But before going on that road, I would suggest you test the master branch on [Binder](https://mybinder.org/v2/gh/jupyterlab/jupyterlab-git/master?urlpath=lab/tree/examples/demo.ipynb) to test the feature you are looking for. And if needed don't hesitate to open further issue.

[2020-02-27 23:21] #546 closed

[2020-02-28 21:21] #439 closed

[2020-03-04 15:27] consideRatio opened #549 "Release 0.10.0"
The JupyterLab extension @jupyterlab/git in current master is marked as NPM package version 0.10.0, and contain dependencies that allow for use with JupyterLab 2.0.0. This has not yet been released to NPM though, where it remains at 0.9.0.

As I understand it from https://github.com/jupyter/nbdime/pull/512#issuecomment-594185766, this release is awaited by the `nbdime-jupyterlab` jupyterlab extens

[2020-03-04 18:28] telamonian commented on #549
There's already a discussion about the 0.10.0 release at #517, so I'll close this issue as a duplicate. The executive summary:

- 0.10.0 will be jlab 1.0 compatible, and will not work with jlab 2.0
- 0.10.0 is waiting on [at least 3 open PRs](https://github.com/jupyterlab/jupyterlab-git/milestones/0.10.0), and possibly a couple of others
- Once 0.10.0 is released, we'll switch development on the m

[2020-03-04 18:28] #549 closed

[2020-03-04 18:31] consideRatio commented on #549
Thank you @telamonian for this great summary! Sorry for not looking properly and duplicating an issue.

[2020-03-04 21:08] telamonian commented on #544
Personally, I like the approach that lint-staged takes, where it will automagically stage changes made by the linter during a pre-commit hook. However, the guy responsible for both black and pre-commit [apparently *hates* this](https://github.com/pre-commit/pre-commit/issues/747#issuecomment-386782080):

@sutiv Since the issue you're running into is black working as intended, and since there's a p

[2020-03-04 21:08] #544 closed

[2020-03-05 20:44] mlucool opened #551 "Problem with install in the build step"
Having `jlpm install` in the [package.json's build](https://github.com/jupyterlab/jupyterlab-git/blob/master/package.json#L16) is somewhat problematic. I happened to have set `NODE_ENV=production yarn run build`, which yarn took to mean uninstall all my dev dependencies.

Not a high priority, but thought it was worth flagging.

[2020-03-06 05:34] sutiv commented on #544
hi @telamonian, i got two more points...

the first is only for information:
* the "hack" works only inside jupytlerlab or under unix systems, some of our developers use windwos locally without jupyterlab but with our main repository

the second one is my wish
* i dont need the second commit automatically, it is good enough if the user can do the commit again in your extension by clicking on commi

[2020-03-06 06:13] ianhi opened #552 "add_all_untracked doesn't work with subprocess.Popen + add_all_unstaged broken"
## Description
Currently `add_all_untracked` as triggered by this button:
![image](https://user-images.githubusercontent.com/10111092/76051501-0501cc80-5f39-11ea-99e5-cc27dc2b509a.png)
does not add any untracked files.
I believe that this is because the bash command for adding all untracked files in add_all_untracked: https://github.com/jupyterlab/jupyterlab-git/blob/0d71ee37962e304586da4ee77ed87b

[2020-03-06 07:30] chrisjohn2306 commented on #302
To implement this enhancement, we will need the following features implemented.

Listing tags of repo
When a repository is cloned all the tags present in a repository must be populated in a list similar to the branch dropdown.
Checkout a tag
When a tag is selected from the list, the version should be checked out to a new branch or as just a tag version. The git history of that branch should be pop

[2020-03-06 22:16] telamonian commented on #302
@chrisjohn2306 A tag UI would be nice. That's pretty different from the OP's original suggestion though. Can you please open a new issue and copy your suggestion over to that?

[2020-03-08 19:49] lresende opened #554 "Release 0.10 supporting JupyterLab 1.x"
The last JupyterLab Git extension release was on December 04, and after that, we have had over 5 pages of changes into master. It would be good if we could do one extra release that supports JupyterLab 1.x (including some non JupyterLab 2.0 related PRs waiting to be merged)

[2020-03-08 19:52] lresende commented on #554
Duplicate of #517

[2020-03-08 19:52] #554 closed

[2020-03-08 21:42] lresende commented on #533
Fixed by #493 as described above.

[2020-03-08 21:42] #533 closed

[2020-03-08 21:58] lresende opened #555 "Discard changes fails due to index.lock already exists"
## Description

Discard changes fails due to index.lock already exists

## Reproduce

1. Go to a directory that represents cloned git repository
2. Make changes to a given file
3. Click on the icon to pull from the repository
![image](https://user-images.githubusercontent.com/382917/76171722-afe9d480-614b-11ea-8a1c-58b6b35106e5.png)

4. Now, try go discard the changes in order to be able to pull f

[2020-03-08 23:39] lresende commented on #555
This seems related to the following git config in my environment
[code]
Maybe we could check for this and decide if we should use `git merge --abort` versus `git rebase --abort`

[2020-03-09 03:49] chrisjohn2306 commented on #534
Changes for this, is raised in https://github.com/jupyterlab/jupyterlab-git/pull/556

[2020-03-09 03:50] chrisjohn2306 commented on #528
Changes to avoid Jlab freezing is raised in https://github.com/jupyterlab/jupyterlab-git/pull/556

[2020-03-09 03:52] chrisjohn2306 commented on #525
This has been fixed as part of the Asynchronous command changes.

[2020-03-09 03:52] #525 closed

[2020-03-09 05:59] #468 closed

[2020-03-09 05:59] #485 closed

[2020-03-09 09:11] #526 closed

[2020-03-09 10:39] #483 closed

[2020-03-10 01:48] kgryte commented on #551
@mlucool Not clear the problem in this case, given that `yarn` respected the `NODE_ENV` environment variable as discussed [elsewhere](https://github.com/yarnpkg/yarn/issues/2739), mirroring `npm` install behavior.

What were you wanting to have happen when setting `NODE_ENV` to `production` if not the installation of only dependencies and not development dependencies?

[2020-03-10 01:53] kgryte commented on #514
This was resolved in #518.

[2020-03-10 01:53] #514 closed

[2020-03-10 04:55] chrisjohn2306 commented on #302
@telamonian Ok. Will start a new thread with more details and a proposed UI design

[2020-03-10 11:56] mlucool commented on #551
I expect that `NODE_ENV=production yarn run build` builds for production. This does not work because it uninstalls my build tools first (I don't have tsc globally installed) so it just errors.

[2020-03-11 15:45] kir0ul opened #559 "Extension outdated with JupyterLab v2.0.1"
## Description

Can't use `jupyterlab-git` with `JupyterLab` v2.0.1, it says `jupyterlab-git` is outdated.

## Reproduce

1. `conda create -n testenv python=3.8`
2. `conda activate testenv`
3. `conda -c conda-forge install jupyterlab jupyterlab-git`
4. `jupyter lab build` outputs: `[LabBuildApp] WARNING | The extension "@jupyterlab/git" is outdated.`
5. If I try `jupyter labextension update --all`

[2020-03-11 20:10] kgryte commented on #559
@kir0ul Feel free to try this [PR](https://github.com/jupyterlab/jupyterlab-git/pull/520). The need to support `2.0` has to be balanced with the need to support users unable to immediately migrate from `1.0`.

[2020-03-17 01:42] LukaPitamic opened #563 "Conflict dependencies trying to install on JLab 1.2.4-1.2.7"
Following official installation guide on newly created environment...
![image](https://user-images.githubusercontent.com/34914144/76813580-6ee66580-67c6-11ea-98e8-540b0de0189e.png)

I've spend hours trying to make it work, is there something I'm missing? Thank you in advance for any direction.

if it helps, here's output of `jupyter serverextension list`:
![image](https://user-images.githubusercon

[2020-03-17 03:02] lresende commented on #563
I just merged #560 which should fix this problem. You will need to use master while a release is not available.

[2020-03-17 03:02] #563 closed

[2020-03-17 13:43] LukaPitamic commented on #563
@lresende Thank you very much for quick response. Will do...

[2020-03-17 16:30] mausch commented on #496
I had the same issue and got it to work by upgrading my base image (i.e. was using an old version of jupyterlab?)

This works for me:

[code]

[2020-03-18 16:04] JoeryV opened #567 "Feature suggestion - passphrase hint"
**Feature suggestion**

I got stuck on pushing my local commits to GitLab. The Git Push message kept loading indefinitely.

Took me a while to figure out this was because my terminal was asking me to insert my passphrase. To be expected if you have a passphrase set up for your id_rsa/ ssh key, but not something I though of initially.

Posting this for two reasons:
1. Others get to figure this out

[2020-03-18 16:10] telamonian opened #568 "Final checklist for 0.10.0 release"
5 smallish PRs left in the [milestone](https://github.com/jupyterlab/jupyterlab-git/milestone/13)

- [x] #476 update readme
  - The animated gifs need to be updated, ideally right after #571 gets pulled in
- [x] #548 non-ascii support
- [x] #556 fix hard freeze on failed clone
- [x] #561 fix the "add-group" buttons
- [x] #571 fix styling issues with FileList and FileItem
  - Someone (not me, since

[2020-03-19 18:07] #543 closed

[2020-03-19 23:24] mlucool commented on #568
Can these two be included in the 0.10 release please?
https://github.com/jupyterlab/jupyterlab-git/pull/564
https://github.com/jupyterlab/jupyterlab-git/pull/536

[2020-03-20 00:23] telamonian commented on #568
I'd prefer not to block on either of these. 0.10.0 has waited long enough. That being said, if stuff gets done quickly I'm open to reconsidering:

- #536 still needs a redesign/rethink, since the text box it modifies was removed in #509
- #564 still needs at least a good test. I think there might also be some potential UI concerns (I added a related comment to that thread)

[2020-03-20 07:42] kgryte commented on #568
@telamonian I should have #536 updated by tomorrow's end (Friday, 3/20). Having to refactor most of the UI changes, but should be straightforward to review. I'd like to see #536 merged in, as well, for `0.10.0`, as the messaging and UX for reverting and resetting needs attention (as demonstrated in the original PR).

[2020-03-21 23:08] kgryte commented on #568
@telamonian #536 has been redesigned and rethought to address the changes in `master`. Its main emphasis in is improving the UX of performing resetting/reverting, including visual presentation. Should be ready for review.

[2020-03-25 02:29] telamonian opened #572 "Flaws in FileList styling related to height and scrollbars"
## Description

Currently the styling of the FileList component is a bit flawed. For example, it doesn't expand to fill available vertical space:

![image](https://user-images.githubusercontent.com/2263641/76981624-3ef7a900-6911-11ea-8f56-b364d96b2251.png)

Also, the scrollbar next to FileList also always shows, regardless of whether there are enough items to need a scrollbar.

## Reproduce

NA

#

[2020-03-25 03:06] telamonian commented on #484
This is fixed in latest master

[2020-03-25 03:06] #484 closed

[2020-03-25 03:10] telamonian commented on #399
I'm going to close this for now as "won't fix". Git 2.0 has been out for almost 7 years, and I don't know if we're interested in trying to support versions of Git older than that.

If support for old versions is important to you, please feel free to submit a PR addressing the issue.

[2020-03-25 03:10] #399 closed

[2020-03-25 03:10] telamonian commented on #528
Fixed by #556

[2020-03-25 03:10] #528 closed

[2020-03-25 04:34] #552 closed

[2020-03-25 05:42] telamonian commented on #568
I got #536 in. I think that #564 still needs some more thought. All that's left is #571 (needs a review), then finally the README update in #476, and then I think 0.10.0 will be ready for release!

I'm hoping to do the release tomorrow

[2020-03-25 13:00] fcollonval opened #574 "Error on status in CI"
[code]

_Originally posted by @fcollonval in https://github.com/jupyterlab/jupyterlab-git/pull/573#issuecomment-603733675_

This was hit by @telamonian too on the latest PR merge: https://travis-ci.org/github/jupyterlab/jupyterlab-git/builds/666657840?utm_source=github_status&utm_medium=notification

[2020-03-25 17:32] #572 closed

[2020-03-25 23:44] #574 closed

[2020-03-25 23:45] telamonian commented on #568
Allllmost done, all that's left is the update to the README in #476

[2020-03-26 01:17] #476 closed

[2020-03-26 01:19] telamonian commented on #568
All of the 0.10.0 PRs have been merged, now on to the release!

[2020-03-26 01:49] telamonian commented on #568
It's done! `jupyterlab-git` 0.10.0 is officially released:

https://pypi.org/project/jupyterlab-git/0.10.0/
https://www.npmjs.com/package/@jupyterlab/git/v/0.10.0

[2020-03-26 01:49] #568 closed

[2020-03-26 08:13] fcollonval commented on #524
Solve by the various style fixes in 0.10.0

[2020-03-26 08:13] #524 closed

[2020-03-26 08:19] fcollonval commented on #380
@telamonian @kgryte I think this can be close

[2020-03-26 08:21] fcollonval commented on #377
With 0.10.0, lots of style issues have been fixed. I don't have icons misalignment on Firefox with it.

[2020-03-26 08:21] #377 closed

[2020-03-26 08:28] fcollonval opened #578 "Detailed log failed when changed files include binary files"
## Description

Fail to get detailed log when there are binary files involved.

![image](https://user-images.githubusercontent.com/8435071/77625221-7c78b980-6f43-11ea-9998-a4daef9a0efd.png)

When dealing with binary files, `git log --numstat -z --oneline` return `-` as number of changes => conversion to integer fails:

[code]

See git command output below.

## Reproduce

Request detail log in hist

[2020-03-26 08:30] fcollonval commented on #252
Although we don't have a _Preview Mode_, the feature is in now. So I close this issue.

[2020-03-26 08:30] #252 closed

[2020-03-26 08:32] fcollonval commented on #249
@telamonian @kgryte should we close this rather all issues. And let people start new issues based on the latest styles.

[2020-03-26 08:33] fcollonval commented on #244
@telamonian @kgryte I think this can be closed.

[2020-03-26 08:35] fcollonval commented on #227
Closing this issue as the styles in 0.10.0 fit this proposal.

[2020-03-26 08:35] #227 closed

[2020-03-26 11:27] #380 closed

[2020-03-26 20:48] kgryte commented on #249
I am okay with closing this issue given recent changes.

[2020-03-26 20:48] #249 closed

[2020-03-26 20:54] kgryte commented on #244
Agreed.

[2020-03-26 20:54] #244 closed

[2020-03-28 07:30] #578 closed

[2020-03-30 02:49] telamonian commented on #549
@consideRatio As of a couple days ago 0.10.0 has been released

[2020-03-30 05:17] chrisjohn2306 commented on #534
Changes done and merged

[2020-03-30 05:17] #534 closed

[2020-03-31 22:28] mlucool opened #582 "UX: Git Push/Pull"
## Description

When push does not error, the UI always says:
![image](https://user-images.githubusercontent.com/1813603/78080802-04fcbd00-737d-11ea-897e-6002d5135d80.png)

While this is not wrong, it's misleading when nothing was pushed. The git CLI says:
[code]

We should do something similar in the UI so people know that everything was up to date and nothing happened. The same is also true for

[2020-04-01 06:54] fcollonval commented on #582
When tackling this one, a good improvement would be also to use a non-blocking UI to display push-pull progress - may be a status-bar indicator.

[2020-04-01 17:26] mlucool opened #584 "Git Init Menu"
The menu has "Git Init" in it.  I suggest two separate things:
1. Remove git init when inside a git repo already (its rare to have one git repo int another)
2. Allow users, via a config option, to change the default command from `git init` to something else.

The reason for 2, is I typically want `git init && setup_notebook_filters`.

What do people think?

[2020-04-02 04:03] jaipreet-s opened #585 "Failed to diff text files in staging"
## Description

Attempting to diff a Markdown file (.md) or a Python file (.py) in the "Staged" section leads to an error `Failed to fetch diff with error:Error while determining if file is binary or text 'fatal: bad revision '' '.`

## Reproduce

1. Clone a git repo `git clone https://github.com/jupyterlab/jupytelrab-git` and create a new Markdown file using the Launcher.
2. From the _Untracked_

[2020-04-02 04:04] jaipreet-s commented on #585
![Screen Shot 2020-04-01 at 9 04 17 PM](https://user-images.githubusercontent.com/43826141/78209613-621b7000-745c-11ea-84a5-fc4fedd7414a.png)

[2020-04-02 04:10] jaipreet-s commented on #585
Confirmed this doesn't happen in the _Changed_ section for text files
![Screen Shot 2020-04-01 at 9 09 07 PM](https://user-images.githubusercontent.com/43826141/78209878-2503ad80-745d-11ea-8046-a713512d1645.png)

Confirmed this doesn't happen for notebook files

[2020-04-02 06:47] fcollonval commented on #585
Thanks for reporting @jaipreet-s !

I took the liberty to fulfill the request and response payload.

[2020-04-02 07:05] fcollonval commented on #584
👍
I'm not a big fan of hiding UI element. I would suggest disabling the command in such case as done for the `add remote` command:
https://github.com/jupyterlab/jupyterlab-git/blob/2787178ecdf50a8adb3ed576ea03b6de4feddef5/src/gitMenuCommands.ts#L118

👎
In #494, it was decided to suppress the ability to run custom commands in terminal to follow the rules of JupyterLab. So I vote to reject this prop

[2020-04-02 11:22] mlucool commented on #584
That is a good point. Do you have any suggestions? What if we add the ability to set in in the server config (`jupyter_notebook_config.py`)? I think that should mitigate the security concern.

My use case is for init to setup [nbstripout](https://github.com/kynan/nbstripout) (update .gitattibutes) and on clone to rerun the setup to re-add to the git filters (they are not stored for security reason

[2020-04-02 17:10] jaipreet-s commented on #584
👍 as well. For reference, the _Git Clone_ button used to be disabled if already inside a Git repo, to discourage nesting of Git repos #260,  though I'm not sure if this is still the case after the recent refactoring)

[2020-04-02 17:11] fcollonval commented on #584
There is a hanging feature request for cleaning notebooks (https://github.com/jupyterlab/jupyterlab-git/issues/392). So it may be better to introduce this feature specifically through an extension option - I imagine that using a tooglable menu item would be appropriate.

There is also some issues with `nbdime` and `nbstripout` on Windows (see https://github.com/jupyterlab/jupyterlab-git/issues/471

[2020-04-02 18:46] mlucool commented on #584
I don't think we'll find a one size fits all solution to cleaning notebooks (e.g. don't count out [jupytext](https://jupytext.readthedocs.io/en/latest/introduction.html)).

I think it's better to focus this solely on a git UI as any feature that is added here must also work via CLI anyway. That is not to say we shouldn't enable people to use these useful tools, but, IMO, there should be no choice

[2020-04-03 09:51] phish108 commented on #559
Cheers,

I have just upgraded my docker containers and I don't see the point of not being able to migrate immediately from 1.2.x to 2.0.x - it works absolutely smoothly for me - just now the environment is without git support.

In other words: The upgrade from 1.2.x to 2.0.x is not immediately possible, only if the git extension is used :(

PR #520 also appears to be broken with the master branch

[2020-04-05 00:38] viotemp1 commented on #559
Same issue:
Conflicting Dependencies:
JupyterLab              Extension         Package

Can this be fixed?

[2020-04-06 08:48] fcollonval commented on #585
I'm working on a fix.

[2020-04-08 17:02] soerendip opened #587 "jupyterlab-git not found"
[code]

Also this command does not change anything:

     pip install --upgrade jupyterlab-git

Using jupyterlab 1.2.6.

[2020-04-08 17:08] soerendip commented on #587
I also had to install jupyter_nbextensions_configurator with

    conda install -c conda-forge jupyter_nbextensions_configurator

[2020-04-08 17:08] #587 closed

[2020-04-09 19:39] DraTeots commented on #559
Cmon guys, you are breaking your own extenstion and make is useless

[2020-04-09 20:14] kgryte commented on #559
@DraTeots Feel free to use JupyterLab `1.x` in the meantime.

[2020-04-09 20:43] saravanabalagi commented on #559
@kgryte Thanks for the workaround. Have you planned any release date (if not is there an ETA) that you can let us know for shipping the update that works with jupyterlab 2?

[2020-04-14 04:25] chrisjohn2306 opened #588 "To list tags of a repository"
## Description

To add a drop down in the extension git panel that lists all the tag versions of a repository. On clicking a tag version should be checked out.

<img width="390" alt="Screenshot 2020-04-14 at 9 43 30 AM" src="https://user-images.githubusercontent.com/58581644/79185721-6456d480-7e35-11ea-9a6d-72cf4188fc93.png">

## Reproduce

Will be a new addition to the git panel

## Expected beha

[2020-04-14 04:59] ianhi opened #589 "improve GitPanel UI when not in a git repository."
## Description
I think that the following changes could improve the user experience of opening the GitPanel when not currently in a repository

1. Change the message to say "`current path` is not a git repository"
2. Add a git init button
3. Style the buttons similarly to the rest of the extension.
4. Reword "Find a repository" => "Open FileBrowser"
I think a `git init` button should be added to t

[2020-04-14 16:26] ianhi opened #590 "UI misalignment when zoomed in or short history - in dark mode"
## Description
When you make the git panel long enough that it needs a scrollbar then the gray bar on the right hand side of the UI causes things to look misaligned. I think the same misalignment exists in the jupyterlab-light theme but you just can't see it.

Here I accomplished this by zooming
![image](https://user-images.githubusercontent.com/10111092/79248542-f79a0500-7e49-11ea-9431-9d6f942316

[2020-04-14 16:33] ianhi commented on #590
Ahh. I see that this grey bar is there to contain a scroll bar when the contents of the history or branch menu get long enough to contain a scroll bar. However, in these menus the gray bar is always present, unlike in the changes menu where it only shows up once the content is long enough to necessitate a scroll bar.
Here is how the changes tab behaves which feels more natural:
![image](https://us

[2020-04-14 17:53] ianhi opened #592 "border in incorrect place when on history tab"
## Description
The border for the Changes and History tab is always on the right which causes the tabs to be aligned differently depending on which tab is selected. Here you can see how there is no border between the tabs when history is selected and the right edge of the history tab is misaligned with the rest of the UI:
See the how the right side of the history tab aligns with the black above it

[2020-04-14 18:01] ianhi opened #593 "tab indicatory laggy when resizing GitPanel widget + horizontal resize of history overflow"
## Description
When resizing the widget the `tabIndicator` that shows whether changes or history is selected significantly lags behind the rest of the UI:
![laggy-indicator](https://user-images.githubusercontent.com/10111092/79257587-d809d900-7e57-11ea-8995-0a66c43162de.gif)

The other issue with horizontal resizing is if there are many branches in a commit. When viewing the history some of this i

[2020-04-14 20:10] kgryte commented on #593
The "lagging" behavior for the tabs is due to upstream Material UI component styles. These can be overridden, but, in this case, relying on the default behavior seemed to make sense (at least to me) due to event listener throttling. In order to address it, would probably need to refactor element composition, which seems lower priority IMO.

[2020-04-15 20:32] DraTeots commented on #559
**Now it is [Jupyterlab 2.1](https://pypi.org/project/jupyterlab/)**

Don't get my previous post as offensive. The "problem" I see is that when people do pip install jupyterlab they get 2.1 (now). And it is hard to "tame" them to use old version.

At the same time Jupyterlab development model is such that "the later version is more stable" as I see it at this point.

[2020-04-16 15:57] ianhi opened #595 "Put master branch at top of New Branch Dialog"
## Description
When I make a new branch I am often basing it off the master branch rather than the current branch. The current UI sorts the current branch to the top of the list of branches to build off of. But if there are enough branches then the master branch can be hidden. For example here is the jupyterlab repo:
![image](https://user-images.githubusercontent.com/10111092/79477780-9e141080-7fd

[2020-04-16 17:11] kgryte commented on #595
You would not want it to be the `master` branch, per se, but the repository's default branch. TMK the extension does not currently track which branch is the "default" branch, but I could be wrong.

[2020-04-17 02:29] ianhi commented on #595
It seems that git doesn't have a concept of a "default branch", rather that is something added on by services like github ([ref](https://stackoverflow.com/a/51274682)):

That said, I agree that the default branch should be used when that concept is applicable. Based on https://stackoverflow.com/questions/28666357/git-how-to-get-default-branch it seems that checking the contents of `.git/refs/remot

[2020-04-17 13:10] camelator commented on #559
hi!
Same issue here.

[2020-04-18 08:23] fcollonval commented on #595
@ianhi if you get some time to at least get the master branch as second choice if it is the current.
Tracking the default will be complicated. as per your research, it implies looking at the remotes - there may be more than one, the names can be something else than origin.
So as a first improvement for the majority of cases, just considering *master* as special seems a good ratio between coding ef

[2020-04-18 08:29] fcollonval commented on #589
@ianhi That is a great idea. If you get the chance to push a PR, I'll review it.

Suggestions:
- It may be interesting to change the text _Current Repository_ in such case or to hide it.
- You should make the button labels more expressive (i.e. not reflecting the API used but the consequence for the user). As inspiration, here is the panel content in VS Code:

![image](https://user-images.githubus

[2020-04-18 08:37] fcollonval commented on #588
Thanks for the proposal.

As much as I like the idea, I am not to found of adding a button below the branch selector. We already have lots of elements taking vertical space. An alternative solution - for example grouping it somehow with the branches - should be imagined.

[2020-04-18 08:44] fcollonval commented on #584
@mlucool would you like to propose a PR for this one?

[2020-04-18 08:55] fcollonval commented on #592
I try to reproduce the misalignment you describe. But I was unable to do so. Moreover I check the size of the tabs, their borders and the tabs container. None of them is changing.

Regarding the tab indicator overflow, I look into the one for the selected panel in the main area. And indeed for them the highlight bar is not recovering the border. So this should be corrected.

@kgryte do you have an

[2020-04-18 09:03] fcollonval commented on #538
I close this as this is not related directly to the extension.

[2020-04-18 09:03] #538 closed

[2020-04-18 09:04] fcollonval commented on #496
Closing this as the latest version is 0.10.0.

[2020-04-18 09:04] #496 closed

[2020-04-18 09:06] fcollonval commented on #473
Closing this as this was related to a installation problem: mismatch between the server and the frontend extension.

[2020-04-18 18:40] ianhi commented on #595
Great. I opened a PR. While this dialog is being looked at the other thing I found slightly weird is that if I switch branches the initially selected branch doesn't change. The branch that is selected by default seems to always the branch that the repo was on when the page was last refreshed.
You can see how in the below gif the `asdf` branch is selected by default the second time I open the dialo

[2020-04-20 01:15] kgryte commented on #588
I agree with @fcollonval. Also, some friction should be introduced for checking out based on a tag as this puts the user in a detached state, which could be confusing for new users.

One possibility is to add the tag icon to the top toolbar along with the push, pull, and refresh icons. On click, a dialog could be opened which lists the tags, provides intro text with warnings, and allows a tag to b

[2020-04-20 11:55] chrisjohn2306 commented on #588
Thanks for the suggestions @fcollonval and @kgryte . I will be looking into the UI part and incorporating the ideas.

For the checkout part , when a user wants to checkout a tag version, i was thinking to create a new branch and checkout, to minimise the confusions. If it is a new branch then the functionality will not vary much. Although we might have to disable commit and push functionalities in

[2020-04-20 16:16] fcollonval opened #601 "Provide feedback on git command execution"
This is a follow-up of #564.

Proposal:

1.  Allow retry timeout configurability for acquiring the index.lock.
2.  Suspend UI interactions until pending command complete (e.g., a modal with a spinner). I believe this should be straightforward, as we just need to enable a UI element until receiving an HTTP response.

The need for the latter is to prevent/dissuade the user from closing the JupyterLa

[2020-04-20 17:11] #590 closed

[2020-04-20 17:17] #595 closed

[2020-04-21 03:07] #473 closed

[2020-04-21 04:25] lresende opened #602 "Release jupyterlab-git 0.20.0 based on JupyterLab 2.x"
We are getting ready to merge #599 which brings support for JupyterLab 2.x and we should make a release.

Release Plan

- [x] Merge #599
- [x] Create 0.20.0 release candidate
- [x] After a week or so, create final release if no issues found.

[2020-04-21 04:28] lresende commented on #602
@telamonian @fcollonval

[2020-04-21 06:22] kwon14 opened #603 "Is it possible to use jupyterlab-git in JupyterLab 2.0.1?"
I'm using Dockerfile by launching it with jupyter-base-notebook.
I'm trying to install an extension of jupyterlab-git into jupyterlab 2.0.1.
but It doesn't work.
Is it possible to use jupyterlab-git in JupyterLab 2.0.1?

Here is error :
-------------------
An error occured.
ValueError: The extension "@jupyterlab/git" does not yet support the current version of JupyterLab.
Conflicting Dependencies:

[2020-04-21 08:02] telamonian commented on #603
Short answer, no. Long answer, wait a week.

[2020-04-21 08:27] #603 closed

[2020-04-21 22:00] dragoljub commented on #602
Awesome! Looking forward to support on JupyterLab 2.1.0! 👍

[2020-04-21 22:55] oigewan opened #604 "Left rail git icon is too tall"
## Description

The git-icon used in the left rail of Jupyterlab is larger than its container.  The size can end up confusing Cypress automated tests which need to click other icons around the git icon.  By default, Cypress will not click an element if something else is on top of the element you want to click.  This was creating seemingly random test failures in our production canaries.  The scree

[2020-04-22 07:08] fcollonval commented on #602
The bug fix PR https://github.com/jupyterlab/jupyterlab-git/pull/586 should be approved and merged.

There is also the PR https://github.com/jupyterlab/jupyterlab-git/pull/583. As I am not a English native speaker, I let somebody more confortable with Shakespeare language accept it or not.

[2020-04-22 07:26] telamonian commented on #602
@fcollonval I just merged #583

[2020-04-22 12:35] mlucool opened #605 "binder on README is not running master"
The binder link on the README is not running master. The easiest way to see this is to verify the version of lab being run. It is not `2.x`, which is a requirement of master. This is at least partly due to [environment.yaml](https://github.com/jupyterlab/jupyterlab-git/blob/master/binder/environment.yml)

[2020-04-22 12:45] fcollonval commented on #605
Thanks for reporting this @mlucool. Indeed you cornered the error source.

[2020-04-22 12:52] #605 closed

[2020-04-22 15:36] #585 closed

[2020-04-23 02:39] ianhi opened #616 "Add setting to change behavior of clicking on file in changes tab"
## Description
Currently doubling clicking a file in the changes tab opens the file in jupyterlab. While this is a reasonable default I'd like to be able to double click to open a diff of the file. Could a setting be added that allows for toggling the behavior from opening the file to opening a diff of the file?

This preference is because I find that I mostly use the git interface to check the di

[2020-04-23 03:19] ianhi opened #617 "Styling of filenames in error/warning dialogs"
## Description
Currently in the Error Switch branch dialog or in the Discard warning dialog the filename is not visually distinct from the rest of the text.

![image](https://user-images.githubusercontent.com/10111092/80055326-68e35300-84ef-11ea-9b1e-3f9b92aca212.png)

![image](https://user-images.githubusercontent.com/10111092/80055036-b9a67c00-84ee-11ea-9586-4551c8acacb0.png)

### Expected behav

[2020-04-23 05:45] fcollonval commented on #616
Good idea. This implies to add a settings to choose a behavior. And a new action button to open the file would be welcomed.

[2020-04-23 05:47] fcollonval commented on #617
Don't hesitate to open a PR.

[2020-04-23 23:04] ianhi commented on #617
Done. I thought best practice was to open an issue first to allow for discussion? Is it ok to sometimes go straight to a PR?

[2020-04-23 23:07] ianhi commented on #584
A PR modifying `init` in the menu the could be combined with: https://github.com/jupyterlab/jupyterlab-git/issues/456

[2020-04-23 23:09] ianhi commented on #616
Should the default action be kept as is? My sense is that diffing ought to be the default, but I'm clearly biased.

[2020-04-24 16:24] ianhi opened #620 "add a setting for only using a single tab for diffs"
## Description
Currently every diff is opened in a new jupyter tab. I propose a setting that would enable behavior similar to github desktop where there is only one tab for diffs, and opening a new diff would change what diff is displayed but not create a new tab.
![single_tab](https://user-images.githubusercontent.com/10111092/80234557-5d467800-8626-11ea-872b-a99b9258ea8a.gif)

[2020-04-24 16:29] ianhi commented on #620
Contrast with the tab explosion when viewing the same commits in jupyterlab-git:
![tab_explosion](https://user-images.githubusercontent.com/10111092/80235007-1016d600-8627-11ea-8f05-6418859a9878.gif)

Often this multitab behavior is pretty nice, but I'd like to be able to toggle it on and off.

[2020-04-24 16:54] ianhi opened #621 "merge commits look strange in history tab + reverting gives error"
## Description
Because no files are changed in a merge commit there is a weird hanging "Changed" in the history tab for a merge commit.
![image](https://user-images.githubusercontent.com/10111092/80236834-b95ecb80-8629-11ea-91d4-60e2bf81cf79.png)

Maybe the file changes part of the commit could be removed on merge commits, or all the commits that went into the merge could be aggregated a la github

[2020-04-24 17:14] ianhi commented on #621
I'm partial to the aggregating all the commits that went into a merge. Adding `-m` to `git log` would allow listing the files changed ([ref](https://git-scm.com/docs/git-log#Documentation/git-log.txt--m)):
![image](https://user-images.githubusercontent.com/10111092/80239011-7272d500-862d-11ea-9efe-80512b6376bb.png)

but getting the diffs to work correctly looks trickier as it might require using a

[2020-04-25 02:32] farooq-omer commented on #559
I also received the following error and unable to use git in Jupyterlab:
(base) omer@Falcon-7:~$ jupyter serverextension list
config dir: /home/omer/anaconda3/etc/jupyter
    jupyterlab  enabled
    - Validating...
      jupyterlab 2.1.1 OK
    jupyterlab_git  enabled
    - Validating...
      jupyterlab_git 0.10.0 OK
    nbdime  enabled
    - Validating...
      nbdime 2.0.0 OK
(base) omer@Falcon

[2020-04-25 13:09] fcollonval commented on #616
@ianhi yes please try avoiding changing the default behavior.

[2020-04-25 13:10] fcollonval commented on #559
Follow the issue #602 to see the progress of publication for JLab 2.

In the meantime, for those willing to test the upcoming release, you could try installing the release candidate using the following commands:

[code]

[2020-04-25 13:13] fcollonval commented on #617
Thanks for the PR.

Yes opening an issue before a PR is the good practice. As the issue list is first place people will look before reporting something. So you did perfectly 👏

[2020-04-25 13:18] fcollonval commented on #620
That is a nice idea. But a better approach instead of all or none would be to set a maximum number of diff tab to be kept opened using a LIFO (Last In First Out) queue. If the setting is 0, then the behavior would be the actual. And if it is one, it will be the one you propose. And if it is something else, it would probably make more sense like looking at all changes in a commit (especially as dif

[2020-04-25 13:29] fcollonval commented on #602
Version 0.20.0rc0 has been released.

[2020-04-27 18:09] luminoso commented on #602
Thank you for this release. When I click `View file changes` using the commit log tree view, for an older commit I have this error in the new tab:

`Failed to fetch diff with error:JSON.parse: unexpected character at line 1 column 1 of the JSON data`

Does this happen to anyone else? It is worthy of a new bug report?

[2020-04-27 18:18] ianhi opened #624 "git icon missing from advanced settings menu"
## Description
The git settings in the advanced settings editor is missing an icon:
![image](https://user-images.githubusercontent.com/10111092/80406072-7dc63a80-8891-11ea-8f05-6a6eba8b9b85.png)

I'm assuming there is meant to be an icon here based on these lines:
https://github.com/jupyterlab/jupyterlab-git/blob/8d56986409461cd9968d7208da4946fca8c70392/schema/plugin.json#L2-L4
## Reproduce
[code]

[2020-04-27 18:22] jaipreet-s commented on #620
VSCode  shows each file diff as a separate tab as well.
![Screen Shot 2020-04-27 at 11 22 08 AM](https://user-images.githubusercontent.com/43826141/80406714-5a8f9100-8879-11ea-8c81-8fc928e464be.png)

I like this idea as a  setting for the opinionated user, but its important to not over-index on GitHub Desktop or a particular Git GUI.

[2020-04-27 23:53] dhirschfeld commented on #620
In VSCode when you click on a file it shows the diff in a separate diff tab. If you click on another file it shows the diff in the *same* diff tab. A *new* diff tab is only opened if you *double-click* on a file (or if no diff tab is already open).

I would love for `jupyterlab-git` to replicate this UX as I think it's pretty perfect:
https://github.com/jupyterlab/jupyterlab-git/issues/252#issueco

[2020-04-28 04:26] telamonian commented on #620
@dhirschfeld As you said in the other issue, what you're describing is part of a more complex feature in vscode called (preview mode)[https://code.visualstudio.com/docs/getstarted/userinterface#_preview-mode]. Implementation of our own preview mode would probably best be first tackled in core before we implement our own flavor of it here in the git extension.

Some thoughts:
- the "open in preview

[2020-04-28 04:41] jaipreet-s commented on #620
Agreed with what @telamonian said above.

In the VSCode file browser, a single-click opens a file in the so-called "preview mode" tab, leading to a nice consistency between the regular file browser and the Git one.

Since a single-click doesn't do the same in the JupyterLab file browser, I'd also vote that this is first handled in core and then we can aim to have consistency between the the regula

[2020-04-28 06:27] fcollonval commented on #620
I agree too with @telamonian.

It will actually be more work than that as some widgets are inserted from as deep as `LabShell` (https://github.com/jupyterlab/jupyterlab-git/blob/8d56986409461cd9968d7208da4946fca8c70392/src/components/diff/DiffWidget.tsx#L57) for non-trivial content like diff. It may even make sense to add that ability directly in the lumino DockPanel.

So quite some work to achiev

[2020-04-28 06:31] fcollonval commented on #602
Known issues:
- https://github.com/jupyterlab/jupyterlab-git/issues/602

[2020-04-28 06:37] fcollonval commented on #602
@luminoso could you please

- check the serverextension and lab extension version installed
- create a separate issue
- provide as much information as possible on it
  - JupyterLab version
  - OS
  - Type of file you tried diffing (notebook or plain text)?
  - HTTP request that failed if you can

[2020-04-28 12:41] DaveDeCaprio commented on #559
I tried this release and I get the following error when notebooks start up:

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed',)).History will not be written to the database.

I never saw this before the upgrade.  It doesn’t seem to be causing an issue though, Jupyter appears to b e working fine.

Dave

From: Frédéric Collonval <notifications@githu

[2020-04-29 10:30] jhgoebbert opened #625 "TypeError: "this.props.model.currentBranch is null" (v0.20.0rc0 )"
Hi,
we are using jupyterlab-git/0.20.0rc0 in jupyterlab/2.1 and get the error  `TypeError: "this.props.model.currentBranch is null"`  by this extension in the WebKonsole every roughly every second once.

It seems to my as if the name of a branch is searched in the current folder, which is not a git directory.

![jupyterlab-git-0 20 0rc0_branchnull](https://user-images.githubusercontent.com/9266792

[2020-04-29 12:59] fcollonval commented on #625
@jhgoebbert Thanks for reporting this.

Was it working with JLab 1 and the 0.10 version?
Do you see an error on the server side?

[2020-04-29 13:05] fcollonval commented on #559
@DaveDeCaprio Thanks for reporting. Could you open an separate issue and provide as much details as possible? Especially because googling your error message is only pointing to an SQLite exception that has nothing to do with this extension (nor JupyterLab actually)...

[2020-04-29 13:30] jhgoebbert commented on #625
We have jupyterlab-git in version 0.8.1 installed in our jupyterlab 1.2.6 installation.
There it does not show any errors on the webkonsole.

[2020-04-29 23:48] c1au6i0 opened #626 "Clone Failed: 404 POST /git/all_history"
## Description

I have this issue that seems to have been reported by others in the past.
I can not get the extension to work and when I try to clone a repo i get the `clone failed error`.
On console I get:
[code]
When I run `jupyter labextension list`, everything seems ok:

[code]
I am definitely in a git folder: `ls -al`

[code]
I have not installed `Jupyter Hub`,
git version is `2.23.0`

am I m

[2020-04-29 23:58] c1au6i0 commented on #626
Moved to another folder, rebuilt everything,  re-lauched it and now it works fine

[2020-04-29 23:58] #626 closed

[2020-04-30 02:37] ianhi opened #627 "modifying a staged file does not add it to Changed files list"
## Description
If you make changes to a file, stage it (`git add`) and then make further changes without re-staging then the file will only show up in the Staged list of the changes tab:
![image](https://user-images.githubusercontent.com/10111092/80665433-7f495b80-8a67-11ea-9cec-2211e94b504f.png)
This makes it so you can't see the diff of the uncommitted changes. But more importantly this makes th

[2020-04-30 03:00] ianhi opened #628 "Impossible to update an open diff"
## Description
If you have a tab with the diff of a file and then make further changes to the file you will be unable to see these changes reflected in the diff until you close the diff tab and create a new one.
![diff-not-updating](https://user-images.githubusercontent.com/10111092/80667105-38aa3000-8a6c-11ea-8c6b-cc21d6ef8039.gif)

Clicking the diff action button again does not update the diff o

[2020-04-30 03:12] kgryte commented on #628
Ideally, this would not be configurable. We should not display stale diffs.

[2020-04-30 03:59] kgryte commented on #601
Assigning myself. Am currently working on this.

[2020-04-30 17:55] jaipreet-s commented on #601
I'm not sure if any UX discussions have happened around this, but the JupyterLab Status Bar is a candidate for to notify the user that an async background process is running, without having a dialog blocking their view.

(JFYI the Status Bar was not present in JL core while many of these Git actions were implemented)

[2020-04-30 17:58] kgryte commented on #601
Thanks for the suggestion. I'd still lean toward using a backdrop or other UI element to prevent further user action. The main impetus for this is to guard against the "race condition" of a user ending the server process before commands have finished executing. A status bar indicator is unlikely to dissuade users from prematurely doing so.

[2020-04-30 18:00] jaipreet-s commented on #628
Agreed with @kgryte that this shouldn't be configurable.

https://github.com/jupyterlab/jupyterlab-git/blob/8d56986409461cd9968d7208da4946fca8c70392/src/components/diff/DiffWidget.tsx#L31-L35

The intent of this line was to not open a new tab every-time the diff button is clicked. I do think we should retain that UX while addressing this to avoid an explosion of diff tabs.

 Now, if a `mainAreaIte

[2020-05-01 00:27] ianhi commented on #628
The second way makes the most sense to me. Perhaps the diff widget could update the diff with with the function `onActivateRequest` and regularly recompute the diff if it is visible (with the same polling interval as the rest of the extension)?

It's been great fun learning about typescript through this, and it's awesome to be allowed to fix things in a tool that I would use anyway!

[2020-05-01 00:47] kgryte commented on #628
Another way would be similar to the GitHub web interface where the extension would poll for stale diffs, display an indicator if a particular diff is stale along with a button to manually refresh the diff, and then refresh the diff upon click.

[2020-05-01 01:01] ianhi commented on #628
I looked around the git documentation a little bit and didn't see any obvious way to check if a diff was stale other than recomputing it. I think the git web interface can do this because it shows diffs between commits, whereas this extension shows them between `working` and `HEAD` so there isn't an easy way to track changes between `working` at time 1 and `working` at time 2. Though my search of

[2020-05-01 15:17] jhgoebbert commented on #625
Just as an additional information:
Most of the other extensions report this error once or multiple times
"TypeError: 'NetworkError when attempting to fetch resource.'"
And they fail to activate.
This is not the case if I do not include the extension jupyterlab_git
![jupyterlab_git-errors](https://user-images.githubusercontent.com/9266792/80816317-9c993980-8bcf-11ea-8eef-4c66976df0ea.png)

[2020-05-01 21:59] weera-tech opened #631 "the server extension and the frontend extension have not the same version"
I am using Jupyter Lab 2.1.1, after installing jupyterlab-git, its dropdown menu and tab are invisible, but the extension is enabled (according to what I see in the extensions tab).
After running "jupyter serverextension list" and "jupyter labextension list", I got results below:
config dir: /home/user/.jupyter
    jupyterlab_git  enabled
    - Validating...
      jupyterlab_git 0.10.1 OK

Jupyter

[2020-05-02 05:25] jhgoebbert commented on #625
I am using Firefox 75.0 (64bit) on Windows10 for testing.

[2020-05-03 01:18] ianhi commented on #628
Another weird issue with the diff tabs is that if you have both an editor of the file and the diff open, then right click to close the diff tab the editor:
![closing-wrong-tab](https://user-images.githubusercontent.com/10111092/80896226-684e7780-8cba-11ea-86e5-b18766d82031.gif)

This might be an issue in jupyterlab though?

[2020-05-04 04:48] chrisjohn2306 commented on #588
The tag icon has been added next to the git pull/push icons.
<img width="348" alt="Screenshot 2020-05-04 at 10 13 32 AM" src="https://user-images.githubusercontent.com/58581644/80936795-4820d480-8df0-11ea-9749-d38bbee79e62.png">

A dialogue box pops up when clicked on listing all the tag versions.
<img width="392" alt="Screenshot 2020-05-04 at 10 15 31 AM" src="https://user-images.githubuserconten

[2020-05-04 18:00] ianhi commented on #631
How did you install? I'd try running: `pip install jupyterlab-git==0.20.0rc0`

I believe that you also need to have nodejs in your environment when running the install command.
i.e. `conda install nodejs` before pip install jupyterlab-git

[2020-05-04 18:25] weera-tech commented on #631
Thank you ianhi, now both server and lab extension have same version, but problem still persists and both dropdown menu and tab are invisible

[2020-05-04 18:45] ianhi commented on #631
Does running `jupyter lab build` fix it? This is what you'll need nodejs for.

[2020-05-04 18:48] weera-tech commented on #631
No, jupyter lab build running has not any positive effect. I have both nodejs and npm in environment by name node and npm.

[2020-05-04 19:15] ianhi commented on #631
wacky. I'm at a bit of loss then. If you had jupyter open when you rebuilt did you refresh the jupyterlab page in the browser?

If you start in a fresh environment do you get the same issue? i.e. run:
[code]

[2020-05-04 19:20] weera-tech commented on #631
I don't have conda installed on my machine. Except conda, I did rest of them so many times and still nothing!

[2020-05-04 19:41] ianhi commented on #628
Recomputing a diff when it's not needed could be avoided by saving the last time the file was modified as part of the diff widget state. Then when we only compute a diff if it was modified more recently. On the python side this might look like:
[code]

[2020-05-05 15:22] fcollonval commented on #631
@weera-tech

As you can see in the message you reported, the JupyterLab extensions are located in `/home/user/.local/share/jupyter/lab`. Could you try :

1. Uninstalling jupyterlab, jupyterlab-git and nbdime
2. Removing the folder `/home/user/.local/share/jupyter/lab`
3. Installing Jupyterlab and jupyterlab-git:

[code]

[2020-05-05 15:45] fcollonval commented on #625
@jhgoebbert Ok that is quite a jump in features for you then...

As you seem experienced with JS debugging, would you mind placing a break point on the line:

https://github.com/jupyterlab/jupyterlab-git/blob/8d56986409461cd9968d7208da4946fca8c70392/src/components/Toolbar.tsx#L316

and report the value you get for `repo`.

To explain a bit more the extension logic, the extension is listening to th

[2020-05-05 16:26] fcollonval commented on #628
First I want to second @jaipreet-s by thanking @ianhi for all his work.

Back to the feature itself, polling should be avoided (computing and displaying the diff can be costly).
I think you should take advantage of the signal emitted by the filebrowser when a file is changed. That signal is already used to force refreshing the git status:

https://github.com/jupyterlab/jupyterlab-git/blob/51ce549f

[2020-05-05 16:36] #624 closed

[2020-05-05 17:34] fcollonval commented on #602
Version 0.20.0 has been released.

[2020-05-05 17:34] #602 closed

[2020-05-05 17:37] dragoljub commented on #602
Thanks! This is working great for me on Windows 10! 👍

[2020-05-05 21:00] jhgoebbert commented on #625
@fcollonval I just send you this screenshot as it might say more than I can write (even though some words are german)
![jupyterlab-git_debugging1](https://user-images.githubusercontent.com/9266792/81115438-009b6500-8f24-11ea-82e1-a92dcbb021e0.png)
. I see that repo is "undefined", but pathRepository is set (to `/p/project/cjsc/goebbert/workspace/vis-software`. This is supprising, as I steped over

[2020-05-06 21:19] weera-tech commented on #631
@fcollonval
Thank you! It is working after re-installation

[2020-05-06 21:48] telamonian commented on #631
that's great! glad we were able to help

[2020-05-06 21:48] #631 closed

[2020-05-07 11:05] aagrosch commented on #625
I seem to have narrowed down the source of the error. The response of the `_branch()` function in `model.js` does not have a response code of 0, but instead 128 with an error message of "fatal: unknown field name: HEAD", causing `_currentBranch` to be set to `null`.

<img width="1257" alt="Error in response causes `_currentBranch` to be set to `null`" src="https://user-images.githubusercontent.com

[2020-05-07 12:45] fcollonval commented on #625
Thanks for diving in @aagrosch and @jhgoebbert

This sounds like you are using a old version of `git`. `HEAD` is a valid field name in 2.x (https://git-scm.com/docs/git-for-each-ref). But I tested with `git` 1.8 and I got the same error: `HEAD` is not a known field name.

Could you update git on your infrastructure or at least in the environment JupyterLab is executed? For instance, git is availab

[2020-05-07 12:49] jhgoebbert commented on #625
Thank you @fcollonval . This is really good to know and actually easy to fix :) We will update our systems to a newer git version.

(perhaps you want to check the version of git in jupyterlab-git and warn the user, if they use a too old git)

[2020-05-07 12:54] fcollonval commented on #625
Yep, that sounds like a reasonable check.

Could you report back once you have tested the extension with a newer git version? Then close this if it solves the issue.

Thank again for reporting and diving in.

[2020-05-07 12:55] fcollonval opened #635 "Check Git version"
perhaps you want to check the version of git in jupyterlab-git and warn the user, if they use a too old git (i.e. git < 2)

_Originally posted by @jhgoebbert in https://github.com/jupyterlab/jupyterlab-git/issues/625#issuecomment-625235178_

[2020-05-07 14:27] jhgoebbert commented on #625
I can confirm, that with an update on git 2.21.0 this problem does not occur any more.
Thanks for all your help and of course thanks for jupyterlab-git

[2020-05-07 14:27] #625 closed

[2020-05-07 19:05] soerendip opened #636 "Unable to detect a Git repository."
I installed the program extention with:

[code]

The extension appears in Jupyter lab but it is unable to detect existing git repositories.

Clicking on detect repositories gets me to the file browser. I can navigate to a git repository and go back to the git tab, but the same message appears.

[2020-05-08 03:14] ianhi commented on #635
Or if git isn't present?

Also the readme currently specifies

[2020-05-08 04:07] restrepo opened #637 "Notebook edition acquires annoying interruptions"
## Description
Jupyter lab unresponsive after install jupyterlab-git
## Reproduce

1. Clean install of jupyter-lab
2. Open to a notebook with a code cell  with at least 10 lines of code
3. Move the cursor horizontally and check that flows with no interruptions
4. Install jupyterlab-git according to the README.md instructions
5. Go to the previous cell with the new installation
4. Move the cursor h

[2020-05-08 13:21] fcollonval commented on #636
Hey @soerendip

Could you test if the frontend and server extensions are enabled and have the same version by executing:

[code]

If the server extension is disable, execute in your environment:

[code]

Note: if the serverextension is still disabled after running the previous command, this means you have conflicts between your user settings and the environment settings. Run again `jupyter servere

[2020-05-10 17:46] AyrtonB commented on #636
I'm having the same issue with both the front and backends enabled

[code]

The console is logging an error however
![image](https://user-images.githubusercontent.com/29051639/81506429-2e9af380-92ee-11ea-86b6-aee6752112d0.png)

[2020-05-10 19:39] ianhi commented on #636
That the second error should be printing the name of the repository you're in (see code below). It seems like it somehow got passed a blank path.
https://github.com/jupyterlab/jupyterlab-git/blob/e923a5beeb5f29ab16085e4a28efeae785128280/src/model.ts#L138-L173

If I force v to be an empty string with `v='';` then I can get the second error, but can't recreate the server error.

@AyrtonB is there an

[2020-05-11 08:39] scdevries commented on #636
My lab-git is also unable to see a repository (or even to make one). I also get a 500 error, although it is slightly different.. Installed everything according to instructions and tried all the fixes already that I found on the internet. No results so far.

[E 10:25:21.751 LabApp] 500 POST /git/show_top_level?1589185521657 (::1) 79.01ms referer=http://localhost:8888/lab
[E 10:25:21.779 LabApp] Unc

[2020-05-17 19:33] AyrtonB commented on #636
@scdevries thanks!

I had to do the same with global Git installation and now it works fine

[2020-05-18 07:19] fcollonval commented on #636
Thanks @scdevries to share back here to help the community. An issue is opened #635 that will result with checking existence and compatibility version of Git and the jupyter server extension. So l let this one opened for the moment.

[2020-05-18 07:30] fcollonval commented on #637
@restrepo Thanks for reporting. This one is gonna be complicated - especially as everything should be asynchronous now. I'll need to try installing your stack on Python 3.5; from your app directory, I presume you have a Linux OS.

In the meantime, there is one parameter you may try to play with:

[code]

Could you go in JupyterLab to Advanced Settings -> Git and increase that number to see if it h

[2020-05-18 11:57] AyrtonB opened #639 "Commit Greyed Out"
Hi all. I'm trying to push a new commit but the button is greyed out, i've already made sure to pull latest changes etc. Any help would be much appreciated!
![image](https://user-images.githubusercontent.com/29051639/82210383-e8a1e900-9906-11ea-817a-af7bcbe6da84.png)

[2020-05-18 12:03] #639 closed

[2020-05-18 13:09] fcollonval commented on #639
Hey @AyrtonB did you find the error? Is there something to change in the extension?

[2020-05-18 16:11] restrepo commented on #637
I can confirm that increasing the `refrehInterval` setting immediately improves the responsiveness of the interactions of the notebook. I confirm that I have a Debian 9 install.

[2020-05-18 16:41] ianhi commented on #639
Even if there was no error it might be nice to change the title attribute of the commit button to reflect why it is disabled. It can be disabled due to no text in commit message, or no files staged.
https://github.com/jupyterlab/jupyterlab-git/blob/e923a5beeb5f29ab16085e4a28efeae785128280/src/components/CommitBox.tsx#L70
https://github.com/jupyterlab/jupyterlab-git/blob/e923a5beeb5f29ab16085e4a28e

[2020-05-18 17:38] AyrtonB commented on #639
Hi @fcollonval. It seemed to be a transient issue, when I reloaded the page I was able to click it.

[2020-05-19 11:41] fcollonval opened #640 "Change the commit button title attribute to reflect why it is disabled"
Even if there was no error it might be nice to change the title attribute of the commit button to reflect why it is disabled. It can be disabled due to no text in commit message, or no files staged.
https://github.com/jupyterlab/jupyterlab-git/blob/e923a5beeb5f29ab16085e4a28efeae785128280/src/components/CommitBox.tsx#L70
https://github.com/jupyterlab/jupyterlab-git/blob/e923a5beeb5f29ab16085e4a28e

[2020-05-19 11:43] fcollonval commented on #639
Thanks for the answer @AyrtonB.

[2020-05-19 17:15] ianhi commented on #640
How about also changing the disabled styling of the button from grey to semi transparent?
This is what jupyterlab does.
https://github.com/jupyterlab/jupyterlab/blob/f0cb758333df2bb622689bcc8b92e63bb9c533c6/packages/apputils/style/toolbar.css#L86-L88

vs the current disabled styling:
https://github.com/jupyterlab/jupyterlab-git/blob/e923a5beeb5f29ab16085e4a28efeae785128280/src/style/CommitBox.ts#L

[2020-05-19 20:00] kgryte commented on #640
@ianhi I don't see the advantage of changing the transparency.

[2020-05-22 08:03] Ark-kun commented on #383
The version number that resolves the issue does not seem to be mentioned.

[2020-05-22 10:29] fcollonval commented on #383
The refractoring happened in #438 included since 0.9.0

[2020-05-23 06:16] memeplex opened #641 "Allow to ignore repositories"
I've a very large repository that hangs the entire Jupyter UI every time I open its directory. Some other tools that work with git allow to ignore some directories/repositories.

[2020-05-23 08:25] fcollonval commented on #641
@memeplex Thanks for reporting. Could you please use the issue template next time and report the context:
[code]

[2020-05-23 12:51] memeplex commented on #641
Since it's more of a simple feature request I thought that kind of context wasn't relevant, but here you go:

- Python package version: 0.20.0
- Extension version: 0.20.0

<details><summary>Command Line Output</summary>
<pre>
[D 09:47:16.044 LabApp] Searching ['/home/carlos', '/home/carlos/.jupyter', '/usr/etc/jupyter', '/usr/local/etc/jupyter', '/etc/jupyter'] for config files
[D 09:47:16.044 Lab

[2020-05-24 13:40] fcollonval opened #642 "Add remote succeeds despite prompting an error message"
The following line is wrong (and should never be used):

https://github.com/jupyterlab/jupyterlab-git/blob/e923a5beeb5f29ab16085e4a28efeae785128280/src/model.ts#L358

The post request returns the correct 201 status that results in prompting an error message when actually everything went well.

[2020-05-24 14:19] #589 closed

[2020-05-24 14:25] #617 closed

[2020-05-24 16:14] #616 closed

[2020-05-26 17:13] fcollonval commented on #559
I'm closing this one as 0.20.0 has been released now.

[2020-05-26 17:13] #559 closed

[2020-05-26 17:14] fcollonval commented on #517
Closing this, as the extension was released.

[2020-05-26 17:14] #517 closed

[2020-05-27 09:56] fcollonval opened #648 "Provide tips to user when push fails"
Follow-up of #412 and #630

- If the remote can not be determined, the list of remotes is returned with the error (empty list if no remote, or list of remotes) => this will allow to prompt the user to pick one up or to tell him to add a remote (following PR once #630 is merged as it has implication on the handling of push request in the frontend).

_Originally posted by @fcollonval in https://gith

[2020-05-28 07:37] #551 closed

[2020-05-28 07:37] #642 closed

[2020-05-29 20:12] rdelubi opened #659 "Cache git credentials via the jupyterlab-git extension"
As a feature request:

Can jupyterlab-git extension provide a UI to cache git credentials so that user doesn't have to enter the credentials every time he/she needs to interact with remote repo? e.g. wrap the functionality of "git config credential.helper 'cache --timeout=xxx'" in the extension UI

[2020-05-29 21:09] rdelubi opened #660 "Display blank when simpleStaging is enabled"
I'm using jupyterlab-git extension. In default mode (where simpleStaging is false), everything is displayed properly.

When I change the simpleStaging to true, the jupyterlab-git extension section displays blank. Please see screen snapshot below.

![simplestaging](https://user-images.githubusercontent.com/62430782/83305389-a57d2b00-a1ce-11ea-992d-8c6613e5f4dd.png)

My setting:
Jupyterlab 2.1.2
@ju

[2020-05-29 22:18] kgryte commented on #660
@rdelubi Can you open up your browser developer console and see if there are any relevant errors displayed?

[2020-05-31 10:44] ronigold opened #661 "Current Branch panel not visible and Current Repository blank"
Hi, thanks for the useful expansion.

We want to start using it in our DS team.

We have installed the plugin on the jupyter-hub and it is functioning properly, but its display is different than usual and it lacks the current branch window and in the current repository nothing appears.
So we have no control over which branch of the Hagit we push and that makes it difficult for us to work.

Attachi

[2020-06-01 09:33] fcollonval commented on #661
Hey @ronigold

Could you look at the Web Console of your webbrowser (look for web developer tools) and report the error you are getting in JupyterHub?

Could you also look in the web developer tools to the network requests tab to see if some are failing?

Best would be to have also the errors from the Jupyter server spinned by JupyterHub - but I don't know if this is easy to obtain.

Reference:
Fi

[2020-06-01 10:08] ronigold commented on #661
@fcollonval Thanks,

Attaches the errors I receive on JupyterHu.
My local machine does not have these errors.

1. Failed to load resource: net::ERR_CONTENT_LENGTH_MISMATCH

2. TypeError: Cannot read property 'name' of null
    at Os._syncState (Toolbar.js:203)
    at m (index.js:475)
    at Object.c [as emit] (index.js:433)
    at e.emit (index.js:106)
    at ke._setStatus (model.js:896)
    at ke

[2020-06-01 10:26] kgryte commented on #661
@fcollonval The current branch is not resolved. I believe that this [line](https://github.com/jupyterlab/jupyterlab-git/blob/8e79eae1277f8a9b8a07123717dbd5cc8ba5f83d/src/components/Toolbar.tsx#L319) just needs to be modified to

[code]

[2020-06-01 10:39] fcollonval commented on #661
Thank you both.

@kgryte unfortunately, I think the error is more critical as the current repository is not shown neither (no folder name is displayed in the screenshot of Roni).
This looks similar to https://github.com/jupyterlab/jupyterlab-git/issues/625.

@ronigold Could you check that the git installed on JupyterLab on JupyterHub is at least v2? You could do that by opening a terminal in Jupyt

[2020-06-01 10:58] ronigold commented on #661
@ronigold
Yes.
My current version is 1.8.3.1.
I'll update the version through the admin and update.
Thank you!

[2020-06-01 15:08] rdelubi commented on #660
There are error in developer console as seen in snapshot below.

![simplestaging](https://user-images.githubusercontent.com/62430782/83422937-40a51900-a3f8-11ea-8859-e8399a7a5215.png)

[2020-06-02 01:59] stphnlyd opened #663 "this extensions can freeze browser tab"
The issue is not seen at my home PC. But at our workplace for some unknown reason if the jupyter root directory (the directory where we run jupyter) is a git repository, having this extension would cause the browser tab that runs jupyter to freeze and won't restore. This issue does not happen immediately the browser tab's connected to jupyter, but happens usually in like one minute after we operat

[2020-06-02 03:44] ianhi opened #664 "Allow diffs of images"
Currently standalone diffs of images are not supported. However they are supported inside of notebook diffs. I propose having the standalone present diffs of images the same way they are handled by nbdime: showing the old version and new version side by side:

**notebook diff:**
![image](https://user-images.githubusercontent.com/10111092/83477061-4e8e8480-a460-11ea-8d4c-a93726e5d221.png)
**vscode:

[2020-06-02 03:50] ianhi commented on #628
What if the user discards changes to a file that they have an open diff of? My intuition is that the diff window should be closed. I think that in the this case the diff will become empty, which maybe could be used as a sign that the diff view should close?

[2020-06-02 05:01] telamonian commented on #628
Don't autoclose the diff, that's too confusing. Just show some notification that the contents are the same (or whatever nbdime normally does on an empty diff)

[2020-06-02 15:24] Nathan-Furnal opened #665 "Best practice usage"
How should we approach the usage of this API?

Is it better to install jupyter-lab git in each virtual environment and build from there or should I add it to my jupyter lab install (in my home dir, not within environments) instead ?

Thanks for the great package!

[2020-06-03 07:02] fcollonval commented on #665
This extension needs to be installed along side jupyterlab but it does not need to be installed in each kernel like jupyter widgets.

So it very much depends on your habits. If you prefer to get only one jupyterlab with multiple execution kernels (matching for example multiple environments), you only need to install this extension once. Or if you prefer to install jupyterlab on each environment, t

[2020-06-03 07:14] fcollonval commented on #663
Hey @stphnlyd thanks for reporting.

First of all could you confirm, the version combination:
_  | working | buggy
--- | --- | ---
jlab | 1.2 | 2.1.3
python | 0.10.0 | 0.20.0
npm | 0.9.0 | 0.20.0

Then could you provide the OS and the Python version you are using?

Does it freeze also if the jupyter root directory is not a git repository?

Could you report any error seen in the server log and in t

[2020-06-03 07:55] fcollonval commented on #664
Nice idea.

One comment:

You should be able to display it more simply by injecting the bytes as base64 encoded string. See for example the image viewer in JupyterLab:
https://github.com/jupyterlab/jupyterlab/blob/e7317f21b48183423e375dc266476a4289eb0fa3/packages/imageviewer/src/widget.ts#L175

[2020-06-05 08:40] fcollonval opened #666 "Adding diff provider not working"
Looking at the code following #664, I realized the API to add diff provider is actually not used and not working 😭

To be more precise, the following method is not populating a list used by the diff logic...

https://github.com/jupyterlab/jupyterlab-git/blob/6169af07d306eb07f3aa034e042a103a772a7649/src/model.ts#L727-L737

The code should be refractored to use it for notebook diff and documented in

[2020-06-05 12:50] pfarndt opened #667 "a high number of untracked files make the extension and jupyter lab unresponsive"
I have a repo with a lot (10 000+) untracked files (mostly intermediate figures and tables I do not need to track, not excluded through a .gitignore) which get listed in the corresponding section of the UI but make the extension and the whole jupyter lab unresponsive.

Is there any remedy?

[2020-06-05 18:24] ianhi commented on #667
Maybe the same as https://github.com/jupyterlab/jupyterlab-git/issues/663?

I also find that if I create 10000 empty files in a git repository then the entire UI slows to an unusable ~0 fps. I guess this is happening because every single file gets rendered into the changes tab no matter how many there are. I saved the firefox performance monitor of this: [profile.zip](https://github.com/jupyterlab

[2020-06-06 09:30] fcollonval commented on #667
@pfarndt unfortunately right now, you only have two possibilities:

- reducing the number of versioned file
- increasing the setting `refreshInterval`

---

Thanks @ianhi for the analysis.

Could you look at the response size of the status request for such a big number of files? This also impact the responsiveness of the server.

The solution you are looking for if you want to push a PR is called

[2020-06-06 16:57] Nathan-Furnal commented on #665
Alright that makes sense, thanks

[2020-06-06 16:57] #665 closed

[2020-06-07 16:21] ianhi opened #668 "Discard changes should update open editors"
## Description
If you discard changes to a file you are currently working on then the editor doesn't update to reflect this.

![editor-not-updating](https://user-images.githubusercontent.com/10111092/83974037-48f9ca00-a8b8-11ea-9f73-c358ca13d0d9.gif)

If you discard and then save the file then jupyterlab detects the difference and asks if you want to overwrite or revert. I think that the revert op

[2020-06-07 16:37] ianhi commented on #667
With 10000 files: 887 KB:

![image](https://user-images.githubusercontent.com/10111092/83974492-988dc500-a8bb-11ea-961f-cc59cddf921a.png)

[2020-06-07 17:28] ianhi opened #670 "Use custom error dialogs for all Git errors"
## Description
follow-up of https://github.com/jupyterlab/jupyterlab-git/pull/619

The jupyterlab provided `showErrorMessage` is nice because it is consistent with the rest of the application and is always available. However I think that it is generally not expressive enough for showing git related error messages. These error messages generally have some structure to them when they are present by

[2020-06-07 17:33] ianhi commented on #628
:+1:

Turns out this is indeed a jupyterlab issue: https://github.com/jupyterlab/jupyterlab/issues/8509

[2020-06-08 06:48] kgryte commented on #670
In general, I'd argue that we should ditch all JLab dialogs in the Git extension. They are harder to work with compared to React dialogs, and they introduce a separate coding paradigm within the codebase.

[2020-06-08 09:50] ronigold commented on #661
@fcollonval @kgryte
Our system administrator has updated the Git version to version 2.22.0  and the problem was solved.

Thank you very much!

[2020-06-08 16:49] kgryte commented on #661
@ronigold Awesome! Thanks! Closing this out.

[2020-06-08 16:49] #661 closed

[2020-06-08 17:25] stphnlyd commented on #663
@fcollonval Thanks for your response. I realized it's related to the fact that I ran jupyter lab from a venv directory which is for jupyterlab and has over 40K files, and I don't have it in my .gitignore. I see jupyterlab-git for its "git status" command has the "-u" option so it would get all the files recursively and regard them as untracked, and that output could be too many for the browser to

[2020-06-09 17:26] pfarndt commented on #667
I did some more tests:
 - I can handle 5,000 files just fine - but from 10,000 files on things get considerably slower - from 15,000 files it gets really hard to work with this extension **and** the notebooks
 - increasing `refreshInterval` by a factor of 100 does not help
 - I also saw (but this is probably unrelated to the slowing down and happens with less files already) that the UI gets some d

[2020-06-11 08:27] ronigold opened #672 "mapping between JupyterHub user name and git"
Hi, thanks for the useful extension.

We started using it in our DS team on JupyterLab installed on JupyterHab.

My problem is this:

If I run push or pull from JupyterLab in my local machine, I do not have to enter a username or password, probably because it is already set in my git.

On the other hand, in JupyterHub, I am required to enter a username and password in every re-action, and in addit

[2020-06-11 20:33] ivan-gomes commented on #663
This is plaguing my users who have large repositories cloned as well, which is making it difficult to leaving the extension enabled by default since there is no way to anticipate how it will affect an user's experience. :/

[2020-06-11 21:23] ianhi commented on #663
Hey @ivan-gomes there is some discussion of the underlying cause for this over at https://github.com/jupyterlab/jupyterlab-git/issues/667. Could you see how long git status takes to run with `time git status --porcelain -u -z` and post the results in that issue? It sounds as though `git status` is taking longer than the `refreshInterval` setting (default 3 seconds). Other useful information would

[2020-06-11 21:28] ianhi opened #673 "Add Git version and OS to issue template"
A few recent issues have been caused by users having old versions of Git installed so having this information would be helpful. Checking the Git version could also be added as a troubleshooting step in the template. Asking for the OS may also be helpful as it is my understanding that there are sometimes speed differences in Git commands as a function of OS.

[2020-06-11 21:35] ianhi commented on #641
Related to https://github.com/jupyterlab/jupyterlab-git/issues/667

[2020-06-11 21:38] ivan-gomes commented on #667
For context,

@ianhi:

[code]

Looking at the short call time (<1s) and large size (17M) of the output, I think this has more to do with how long it takes to send that large of a payload over the network.

[2020-06-11 21:38] ianhi commented on #637
Hey @restrepo how large is the Git repository you are using? Do you experience the same interruptions when not in a Git repository, or when in an empty repo? It's possible this is being caused by a large number of files as in https://github.com/jupyterlab/jupyterlab-git/issues/667

[2020-06-11 22:31] ianhi commented on #668
I think the functions to call to get to the revert method are:
- IDocumentManager.findWidget https://jupyterlab.github.io/jupyterlab/docmanager/interfaces/idocumentmanager.html#findwidget
- get the context https://jupyterlab.github.io/jupyterlab/docregistry/interfaces/idocumentwidget.html#context
- revert https://jupyterlab.github.io/jupyterlab/docregistry/interfaces/documentregistry.icontext.html

[2020-06-11 22:37] ianhi commented on #668
Similarly switching branches should update all the open editors for affected files

[2020-06-12 03:59] ianhi commented on #670
It maybe will be helpful to have a catalog of the various errors that can can result from failed git commands. It's not always obvious what all the failure modes of a git command are and they will often require different formatting for nice display. If there are no complaints I'll post errors as I encounter them here? Also this error from a failed revert commit (have staged changes that will confl

[2020-06-12 06:35] ianhi opened #674 "Leaving git repo with branch selection menu open kills extension"
## Description
Leaving a git repo while the branch menu is open will make the extension unusable:
![broken-branch-menu](https://user-images.githubusercontent.com/10111092/84471959-69c57500-ac54-11ea-9d11-85b97f685abb.gif)

In contrast if I close the branch menu before changing folders then everything works as expected:
![branch-menu-no-errors](https://user-images.githubusercontent.com/10111092/844

[2020-06-12 15:40] wanghankun opened #675 "Split view shortcut"
What shortcut can I use to switch between vertical split views?

[2020-06-14 10:26] #640 closed

[2020-06-14 13:59] fcollonval commented on #672
Dear @ronigold

The solution should be implemented on the JupyterHub Spawner side of your infrastructure; so a concrete solution depend on the spawner your are using. If this is the default, you could for example use the `pre_spawn_hook` to set the git configuration parameters for the user.

https://github.com/jupyterhub/jupyterhub/blob/b5defabf495c49a73747dadfbfa9b95abe0be0d6/jupyterhub/spawner.p

[2020-06-14 14:01] fcollonval commented on #663
Agreed @ianhi, so I'm closing this in favor for #667

[2020-06-14 14:01] #663 closed

[2020-06-14 14:17] fcollonval commented on #675
@wanghankun Could you be more specific? Which views are you speaking about? What are you trying to achieve?

[2020-06-14 14:25] wanghankun commented on #675
Sorry. I mean the "New View for Notebook" when you right click on a tab, this splits the jupyter lab vertically. I would like to be able to switch between the split views with shortcut. I know I can switch tabs using Ctrl + Shift + [ or ], but it is not very practical when I have multiple tabs opened on both sides of the vertical splits.

[2020-06-14 14:38] fcollonval commented on #675
Thanks for the context.

The handling of the tabs are not part of this extension. You should report on the [lumino](https://github.com/jupyterlab/lumino) repository - the UI technology used by JupyterLab. But I don't think there is such feature.

[2020-06-14 14:42] #627 closed

[2020-06-14 14:47] wanghankun commented on #675
Thank you

[2020-06-14 14:47] #675 closed

[2020-06-15 15:55] quantum-booty opened #680 "Relative line number"
Is it possible to add relative line numbers in Jupyter lab? I use the vim plugin and navigating would be a lot easier if I could see the relative line numbers.

[2020-06-18 11:09] achien1 opened #681 "'git' not recognized when trying to copy repository on jupyterlab"
## Description

git extensions have been downloaded and enabled
directory git was created, appears on the lefthand side
git copy URL leads to error git : The term 'git' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was
included, verify that the path is correct and try again.
At line:1 char:1
+ git clone --depth 5

[2020-06-19 12:03] fcollonval commented on #681
Thanks for reporting.

If I got your description correctly, you execute a set of commands including the `git clone` command in a terminal within JupyterLab - not using the menu of this extension.

If so, you have to be aware that the terminal on Windows emulates a Powershell and not a command shell. Then the error comes from Powershell being unaware of the git application installed on your system.

[2020-06-19 12:09] fcollonval commented on #680
Could you please add a screenshot and specify in which context you would like the one numbers to appear?

[2020-06-19 12:24] wanghankun commented on #680
Relative line numbers are probabily most useful in the text editor, but it would be nice to see it within the notebook cells as well.
![image](https://user-images.githubusercontent.com/28958399/85132166-22308180-b230-11ea-86b2-f8ff7eb88e56.png)
![image](https://user-images.githubusercontent.com/28958399/85132211-36747e80-b230-11ea-9716-d9f0e1296545.png)

[2020-06-22 04:01] DevMui commented on #587
@soerendip I had the same error and installing `jupyter_nbextensions_configurator` helped! Thanks a lot!

[2020-06-24 21:43] mlucool opened #683 "Ignore Notebook UI"
## Description

It's useful to declare some notebooks should not be stored in git. In git, this is accomplished by adding something to a `.gitignore` file. I propose we add an ability to right click on one or more files in the git extension and choose to ignore it. This would add a single line to `.gitignore`. To be clear, I am not proposing we commit the change - that's up to the user.

[2020-06-25 00:51] ianhi commented on #683
That seems useful. A set of options might look like:
- Add file to gitignore
- Add filetype to gitignore
- (for folders only) add folder to gitignore

[2020-06-25 05:28] kgryte commented on #683
@mlucool I am guessing you have in mind a "non-technical" JupyterLab user? Otherwise, for those familiar with Git and using `.gitignore` files, they could simply edit a `.gitignore` file directly in JLab to ignore a file, file type, and/or folder.

For the non-technical user, I am not sure if adding something to `.gitignore` but not committing the changed `.gitignore` is ideal. Suppose a user opts

[2020-06-25 18:33] mlucool commented on #683
In both view - simple staging and not - it would make sense that ignored files don't show up at all in the git interface as you can't take any operation on them. This is consistent with `git status`.

In my view, committing is fraught with edge cases. What is someone had some pending changes in `.gitignore` already? Instead, I'd recommend we copy what the major editors do in this case. Intelleji a

[2020-06-30 20:34] nielsenrechia opened #684 "Support local files served through HybridContentsManager"
Hello Guys!

I tried the Troubleshooting section but I still have a problem.

## Description

I'm working with Juyterlab on an AWS EMR. So, we work with [s3 bucket persistence](https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-jupyterhub-s3.html)! I know that using s3 persistence without local files may not be possible to use the jupyterlab-git extension. Wherever, we are working with [hybri

[2020-06-30 20:55] telamonian commented on #684
Forget all of the jlab and jlab-git stuff; are you under any circumstances able to interact with the file on the s3 bucket using the plain vanilla `git` command line tool? Everything in jupyterlab-git is built on top of calling the `git` command line tool as a subprocess.

So if your files are not visible to `git`, then this is never going to work

[2020-07-02 17:43] nielsenrechia commented on #684
Hi @telamonian,

Thanks for your reply.

I understand your comment, but I'm trying to use `git` only with my local files. Moreover, I also need the notebooks on the S3 bucket.

So, as an example, below I show that using the `git` on `terminal` everything works, but the `jlab` not!

First of all, I have `git` on my environment.

![image](https://user-images.githubusercontent.com/679126/86391182-c16

[2020-07-05 10:14] XiaomoWu opened #685 "Is it possible to display commit description?"
Currently juyterlab-git only displays commit message while the commit description is hidden. Is there any way to enable displaying the description?

[2020-07-06 11:34] charliwardbd opened #686 "Error push in branch with "/" character"
In my repo if i create a repo that the name contains "/" character like "feature/testing" when i try to push i get the next error

and the push never end.

Im using jupyterlab-git==0.10.0

![Captura de pantalla 2020-07-06 a las 13 33 00](https://user-images.githubusercontent.com/24396580/86589178-786e2600-bf8d-11ea-8b51-4ed67fd0ce19.png)

E 11:27:14.282 LabApp] Uncaught exception POST /git/push?15

[2020-07-07 02:29] ianhi opened #687 "Add Delete option to untracked files in git menu"
## Description
I'd like to be able to delete untracked files from the Git panel. I often have the Git panel open instead of the filebrowser and just want to quickly delete a file I may have accidentally created but don't want to add to a gitignore. This option would avoid this pattern:
1. See file I don't want in the git menu - decide I want to get rid of it
2. Return to file browser
3. right clic

[2020-07-07 06:41] S-UP opened #688 "Bug: Creating a Keyboard Shortcut for"
I can set up custom keyboard shortcuts just fine. However, it does not seem to work for `clear-all-cell-outputs` nor `clear-cell-output`.

Notably, the keyboard shortcut does not appear in the menu items list. Interestingly, it has (once?) appeared in the context menu (when right-clicking). I've tried different key mappings to rule out conflicts, e.g. H that I otherwise use for `hide-cell-outputs`

[2020-07-10 02:57] ianhi opened #690 "new minor release?"
## Description
Since the last release there have been 14 PRs merged ([ref](https://github.com/jupyterlab/jupyterlab-git/pulls?q=is%3Apr+is%3Aclosed+merged%3A%3E%3D2020-05-05+base%3Amaster+sort%3Aupdated-desc+)) of which 7 have changes that will improve the user experience with this extension. Is this enough to justify a 0.21.0 release? If not would it be helpful to come up with a list of open issu

[2020-07-10 03:08] ianhi commented on #686
What was the full branch name? It looks like the branch names was `prueba`

I'd like to
A few questions:
1. If you run `git push` from the terminal what is the output?
2. What version of Git do you have installed?

I can't replicate your exact error but there does seem to be something going wrong with the branch name parsing. When I try to push the branch `feature/yikes` it seems to be trying to p

[2020-07-10 03:17] ianhi commented on #686
I think the offending line is here:
https://github.com/jupyterlab/jupyterlab-git/blob/99849b7b8c6d5f244748b3d3824580690c2850ee/jupyterlab_git/handlers.py#L445

[2020-07-10 03:21] ianhi commented on #686
oh wow two places where this is an issue. Also an issue here:
https://github.com/jupyterlab/jupyterlab-git/blob/99849b7b8c6d5f244748b3d3824580690c2850ee/jupyterlab_git/git.py#L887-L898

[2020-07-10 03:54] ianhi commented on #686
Ok so the first line I linked is trickier to fix because what is it trying to do is split `<remote name>/<remote-branch-name>` and both the remote name and the branch can have an arbitrary number of `/`s in them. I think the correct solution will use this SO answer: https://stackoverflow.com/questions/32887048/git-show-remote-name-of-remote-branch to appropriately split away the `<remote name>` ot

[2020-07-10 03:59] ianhi commented on #686
The command is:
[code]

but currently git config method doesn't allow for this

[2020-07-10 05:19] ianhi commented on #690
Similarly the `0.11.x` could get a release as I think all of these changes have been backported.

[2020-07-10 05:42] ianhi commented on #685
Do you mean in the History tab?

Good point, unfortunately I don't think that there currently is a way to do this. Though there likely should be. Two places I could imagine it going are:
1. when you hover the mouse on the short description it shows up in the `title` attribute
2. with a nested caret placed somewhere like this:
![image](https://user-images.githubusercontent.com/10111092/87120434-62d

[2020-07-10 07:01] #429 closed

[2020-07-10 07:01] #604 closed

[2020-07-10 07:05] fcollonval commented on #690
Hey @ianhi

Sorry I got carry away.

I updated the milestone [0.21.0](https://github.com/jupyterlab/jupyterlab-git/milestone/19) with the list of issues and PR to be closed before releasing. Let me know if you see something else - or add them yourself as you have triage rights :wink:

[2020-07-10 08:19] XiaomoWu commented on #685
Yes I mean in the History tab.

Regarding the place, I think a nested caret would be better. By doing so we could 1) copy & paste the description context; 2) compare multiple expended commit descriptions. Both of them are not achievable with a tooltip.

[2020-07-10 15:10] ianhi commented on #690
Awesome.

How do you feel about pushing #628 and #620 to a later milestone (0.22?)- both of those will be non-trivial to fix

[2020-07-10 16:06] ianhi commented on #685
I'd be good to hear what other people think about that UI. I'm pro the nested caret  because I think that it leads to the most natural place for the description - or perhaps the extra description should always be displayed?

@XiaomoWu If you or anyone else wants to work on this the relevant UI code is here:
https://github.com/jupyterlab/jupyterlab-git/blob/ca8cf3118c08e147b812018edd4e7a9a8ee050ec/

[2020-07-10 17:58] xiaokunx commented on #602
same issue here, will create a new issue

[2020-07-10 18:25] xiaokunx opened #693 "Failed to fetch diff with error:JSON.parse: unexpected character at line 1 column 1 of the JSON data"
## Description

When click the +/- (diff this file) icon in the git sidebar on a notebook ipynb file

![image](https://user-images.githubusercontent.com/2426516/87184526-05222800-c29d-11ea-9aac-e171b6de9dcc.png)

 see the error message in the main panel:

![image](https://user-images.githubusercontent.com/2426516/87184403-cb512180-c29c-11ea-9989-7a8cbb255e35.png)

## Reproduce

1. in terminal "jup

[2020-07-10 18:28] xiaokunx commented on #693
The raw ipynb file just look like a normal json:

![image](https://user-images.githubusercontent.com/2426516/87186464-6697c600-c2a0-11ea-848d-a71529ee0764.png)

[2020-07-11 01:29] ianhi commented on #667
I think two things are happening:
1. List takes a long to render
2. As you note the message can bog down the whole server.

react-window seems to solve the first issue. As for the second issue maybe we could compress with zlib (python builtin) and then decompress on the typescript side using [pako](https://www.npmjs.com/package/pako). Though it would be good to determine if that is worth it - i.e.

[2020-07-11 01:44] ianhi commented on #687
This should be accomplished using the docmanager `deleteFile` method https://jupyterlab.github.io/jupyterlab/interfaces/_docmanager_src_index_.idocumentmanager.html#deletefile

https://github.com/jupyterlab/jupyterlab-git/pull/676 will make the docmanager accessible so maybe after/if that is merged this should be addressed.

[2020-07-11 07:41] xiaokunx commented on #693
Turned out that I forgot to install a "non-mac-system" python, therefore the python3 (3.7) is from /usr/bin/python3, and pip3 is from /usr/bin/pip3, and all jupyter related stuff is installed into `/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.7/lib/python3.7/site-packages`

After running "brew install python3", I got python3 (3.8) and pip3 both in /usr/local/

[2020-07-11 07:41] #693 closed

[2020-07-11 22:02] XiaomoWu commented on #685
@ianhi Thank you for the reference of code. I'm afraid that I don't have the ability to contribute, but would be glad to see if anyone could do so :P

[2020-07-13 02:30] ianhi opened #695 "git commit --amend"
## Description
It would be handy to have the option equivalent to `git commit --amend` - This would need to paired with an option to force push.

Perhaps this could go into the Git menu similar to vscode:
![image](https://user-images.githubusercontent.com/10111092/87264877-2fd3d280-c48f-11ea-84bb-6d722c5c3ba8.png)

[2020-07-13 17:53] #673 closed

[2020-07-13 18:23] ianhi commented on #680
I think this ought to be transferred to the jupyterlab issue list - (@fcollonval the triage rights changed so now they only work on the jupyterlab repo - meaning I cannot actually do that)

@wanghankun  you may also want to ask this on one of the jupyterlab_vim repos. Unfortunately I don't think there is any ready to go codemirror setting for this. Someone will need to make an extension that does

[2020-07-15 03:01] lgonzalezsa opened #696 "It is possible to compare two commits with the extension in Jupyterlab?"
## Description

Similar as using nbdime as follows:
nbdime-web commitA~ commitB -s
Trying to use the extension to compare two random commits.
Was using the extension and not sure how to pick the commit to compare.

Wondering if that can be done with the extension, any guidance more than welcome.

## Expected behavior

Similar as using nbdime as follows:
nbdime-web commitA~ commitB -s

## Context

[2020-07-15 11:56] fcollonval commented on #696
Hey @lgonzalezsa  unfortunately this is not possible.

[2020-07-17 16:35] ivan-gomes commented on #667
I assume we're referring to the list of changed files in the Git tab of the left pane. If so, it may be worth noting that the performance issue occurs even if the Git tab is not open.

To clarify, is this something that's already done / being worked on or is it a proposal to use it?

Sounds like a good idea considering how compressible the payload likely is.

[2020-07-17 17:08] ianhi commented on #667
I think the panel is being rendered in the background as there are no checks in the render method to see if the sidebar tab is open:
https://github.com/jupyterlab/jupyterlab-git/blob/103ea8dc530450f1bbd360711c1f79b84a63a46d/src/components/GitPanel.tsx#L167-L180

Right now I think it is primarily a proposal. I started working on this a while ago (branch [here](https://github.com/ianhi/jupyterlab-gi

[2020-07-19 14:30] ronigold commented on #672
Thanks for the response.

I'm pretty new to this topic and could not figure out how to link Credential Storage to spawner.

We use the default spawner and do not really know what to register in the function so that it will initialize the accounts in Git for each user on a regular basis.

Also how do I make the distinction that for each user there will be a different username and password?

Can you

[2020-07-21 06:51] fcollonval commented on #672
@ronigold, you could for example execute a script as the user using the `pre_spawn_hook`:

[code]

In the `setup_user.sh`, you can set user specific options, like name and email:

[code]

For instance, if you are using a ldap, you could use `ldapsearch` to obtain such information for the users.

Regarding the credential storage, the easiest is to set up globally - for example using libsecret (see

[2020-07-24 08:43] #456 closed

[2020-07-24 18:03] jaipreet-s opened #703 "Git status API recursively lists all untracked files causing browsers to hang"
## Description

The current implementation of git status uses the `-u` flag which recursively lists _all_ untracked files in _all_ sub-directories in a Git repository. Jupyter users often work with data sets that involve a large number of small files. When such datasets are untar'd into a working Git repository, this causes the `/git/status` API to return an unbounded response and freezes the enti

[2020-07-24 18:04] jaipreet-s commented on #703
cc @fcollonval as you have context here.

[2020-07-24 18:36] ianhi commented on #703
A related issue is: https://github.com/jupyterlab/jupyterlab-git/issues/667 - dropping `-u` would ameliorate that issue but not solve it completely as there will still be issues on entering a directory with many files.

[2020-07-24 19:03] jaipreet-s commented on #667
This also happens when there are a large number of files in the staging area. For e.g., download a data set into `data/`. and `git add .`

In general, the extension needs to gracefully handle these scenarios rather than making the whole UI unusable.

[2020-07-24 19:05] jaipreet-s commented on #703
Thanks for pointing that issue @ianhi, a good investigation there.

However,  it's pretty easy for a user to get a directory in untracked (downloading data sets as I pointed out) as that is a normal part of a data scientist's workflow.

I would still go ahead with #704 to improve the behavior in certain scenarios and track broader improvements around repos with large number of files in #667

[2020-07-25 06:14] echarles commented on #231
+1 for GitHub Actions

[2020-07-25 07:39] echarles commented on #683
Hi, I have opened https://github.com/jupyterlab/jupyterlab-git/pull/705 PR for this.

[2020-07-25 14:52] ianhi commented on #683
I am a big fan of this change, I too am a technical user and have at times wanted this feature. Also I'm pro multiselect (there's an existing issue https://github.com/jupyterlab/jupyterlab-git/issues/379)

Unfortunately jlab doesn't show hidden files or folders in the filebrowser by default (https://github.com/jupyterlab/jupyterlab/issues/2049) so I always find myself opening a system terminal to

[2020-07-25 15:07] echarles commented on #683
Yep, once multiselect will be avaibalbe, we can roll that out for gitignore.

Sounds like `jupyter lab --ContentsManager.allow_hidden=True` can help - After all if it is an "hidden" file, it should be hidden by default...

Good call: 2 menu items (only one if the file has no extension)

[2020-07-25 20:44] ianhi commented on #231
I believe that https://github.com/jupyterlab/jupyterlab-git/pull/655 is an approach to this with github actions

[2020-07-26 13:40] #601 closed

[2020-07-26 15:52] ianhi commented on #683
Indeed, but most people will probably not be starting their jupyterlab with that option. I know about it and I still don't :joy:. While .gitignore is a hidden file that it seems to me you would want access to from your editing environment. For example vscode:
![image](https://user-images.githubusercontent.com/10111092/88483428-ddd28880-cf35-11ea-9623-20f1bb4da0a2.png)

I don't think that jupyterla

[2020-07-27 06:52] #674 closed

[2020-07-27 06:59] fcollonval commented on #683
I think this is a good idea. So advanced user can easily work with it. But other hidden files stay hidden.

@echarles Do you think it would make sense to implement in the content manager frontend to switch this without a need for restarting?

[2020-07-27 07:01] kgryte commented on #683
@ianhi I agree. Adding a Git menu option seems reasonable.

[2020-07-27 10:55] echarles commented on #683
Just opened https://github.com/jupyterlab/jupyterlab/issues/8724 to track this.

[2020-07-28 20:19] #635 closed

[2020-07-28 20:19] #636 closed

[2020-07-28 20:30] fcollonval commented on #555
This should be fixed by #564

[2020-07-28 20:30] #555 closed

[2020-07-28 20:54] #686 closed

[2020-07-29 09:34] mone27 commented on #703
As a quick fix you can add your data folder to `.gitignore` and make jupyterlab-git it is usable again. At least this worked for me.

[2020-07-30 09:40] echarles opened #712 "FileItem state no initialized soon enough"
I have been trying to add the file name on a file right-click menu item but the FileItem state was not available for this.

On https://github.com/jupyterlab/jupyterlab-git/pull/705#issuecomment-665950739, @fcollonval has proposed a first approach to render ontext menu, still bringing React error about virtual event handling. I copy/paste the code @fcollonval has proposed.

[code]

[2020-07-30 15:02] liamraemclauchlan commented on #304
We are facing the same issue - however we don't have access to the terminal to run any git commands. Is there any way to do this completely via the UI?

[2020-07-30 15:06] ianhi commented on #304
@liamraemclauchlan are you unable to open the jupyterlab terminal?
![image](https://user-images.githubusercontent.com/10111092/88939574-affe8400-d254-11ea-9269-46ff1d1a795e.png)

There is also a fix in the works for this from the UI: https://github.com/jupyterlab/jupyterlab-git/pull/412

[2020-07-30 15:40] liamraemclauchlan commented on #304
No - we have disabled that explicitly for security purposes. Hence why any solution needs to be via the GUI. A user can create a new branch in the GUI but when they try to push it they receive the error `fatal: the current branch has no upstream branch`

[2020-07-30 21:58] dhirschfeld commented on #304
@liamraemclauchlan - I'm curious how disabling the terminal improves security? If a user has a Python kernel on the system can't they do everything they could in the terminal?

[2020-07-31 07:32] fcollonval commented on #304
Yep

[2020-07-31 09:13] liamraemclauchlan commented on #304
🤷‍♂️  I'm just the engineer that implements the security team's requirements  😁

[2020-08-01 18:09] fcollonval commented on #588
Closed by #713

[2020-08-01 18:09] #588 closed

[2020-08-03 21:04] metasim opened #715 "After JL 2.1.x upgrade, HTTP 403 on POST to /git/branch?1234..."
## Description

After upgrading to JupyterLab 2.1.5 the git tab stopped working.

<img src="https://user-images.githubusercontent.com/131013/89226463-00097d80-d5aa-11ea-9a25-3293a6b4db99.png" width=300 />

Digging into the browser console shows `403`s when communicating with the server extension.

<img src="https://user-images.githubusercontent.com/131013/89226728-7312f400-d5aa-11ea-8ffb-0e771f581

[2020-08-04 13:58] metasim commented on #715
Sorry for the noise.... the issue was with AWS WAF blocking the request via the `AWS-AWSManagedRulesSQLiRuleSet` filter; it was thinking the POST contents were an SQL injection attack 🤷‍♂️

[2020-08-04 13:58] #715 closed

[2020-08-05 04:46] chrisjohn2306 commented on #302
The tag feature has been implemented for viewing the list of tags and to checkout a specific tag version on click. https://github.com/jupyterlab/jupyterlab-git/pull/713

[2020-08-05 06:05] fcollonval commented on #715
Thanks @metasim to report back the source of the error.

[2020-08-05 19:25] #683 closed

[2020-08-08 17:29] #668 closed

[2020-08-09 01:09] vagarwal77 opened #720 "CLONE to root works else Error 500"
Hi,

Whenever i am cloning to the root, it is working fine with status 200 else, all the failures as below. Please suggest how to workaround it?

root@ip-10-164-10-57:/# jupyter serverextension list
config dir: /usr/local/etc/jupyter
    jupyterlab  enabled
    - Validating...
      jupyterlab 2.2.2 OK
    jupyterlab_git  enabled
    - Validating...
      jupyterlab_git 0.20.0 OK
    nbdime  enabl

[2020-08-09 19:23] fcollonval commented on #690
@kgryte @mlucool @ianhi @telamonian @lresende

I released a pre version 0.21.0a0 on pypi. I hope to get #700 and #721 before a final release. If you could try it, that would be great.

[2020-08-10 08:14] pfarndt commented on #667
I agree with the previous post. I think "gracefully" could very well mean that only a few (say the 20 most recently changed) files are listed (together with a remark that this list is actually longer).

This way the UI is not blocked. Users anyway do not want to add/manage hundreds of files using the GUI and would use the git CLI instead.

Probably this is easier to implement.

[2020-08-10 18:14] ianhi opened #723 "Incorrect error message after install 0.21.0a0"
## Description
When updating from `0.20.0` to `0.21.0a0` if I do not run `jupyter lab build` then a serverextension error will be incorrectly raised.

@fcollonval
## Reproduce

[code]

At this point I would expect to see an error telling me that the front end and back end have mismatched versions. But instead I see this error:
![image](https://user-images.githubusercontent.com/10111092/89815696-3c

[2020-08-10 18:27] ianhi opened #724 "Enhancement - Move cursor to line of additions to gitignore"
## Description
If you add a file to the gitignore it will appended to the end of the file and the file will be opened. However, if the gitignore is a long file (e.g. if using a standard python gitignore) then it is disconcerting that the file is opened with the cursor at the top of the file while the new line is not visible at the bottom of the file.

## Reproduce

1. Create a repo
2. use a long g